<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DRK</title>
    <link type="image/png" rel="icon" href="../../image/icon/favicon.png">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fafafa">
</head>
<body>
<%- include('templates/header.ejs') %>
<div class="bread-crumbs container">
    <span>Главная</span>
    <span>О нас</span>
</div>
<section class="article">
    <div class="container">
        <h2 class="article__title">О компании DRK Company</h2>
        <div class="article__wrapper article__wrapper--revers">
            <article class="article__content article__content--big">
                <p class="article__content-text">DRK Company была образована в 2015 году. Мы работаем с клиентами из
                    Германии, а также близлежащих стран: Швейцария, Австрия, Чехия, Бельгия, Франция, и другие.
                    Единственным направлением нашей деятельности является восстановление данных с различных носителей
                    информации. За этот промежуток времени было накоплен богатый опыт работы с поврежденными
                    накопителями информации и файловыми структурами, выработана собственная стратегия работы по
                    восстановлению данных.</p>
                <p class="article__content-text">Среди наших клиентов мы никого не выделяем – любой человек или компания
                    имеют абсолютно равный приоритет. Основополагающими факторами являются характер неисправности
                    носителя и предъявляемые заказчиком сроки. Мы стремимся стать для своих клиентов надежным партнером,
                    который возьмет на себя все проблемы, возникающие при потере данных. Для нас важна репутация и
                    мнение партнеров. На сегодняшний день мы уверенно развиваемся и растем.</p>
            </article>
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/office.webp 1x, ../../image/gallery/office-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/office.jpg 1x, ../../image/gallery/office-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/office.jpg"
                             srcset="../../image/gallery/office-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
        </div>
        <div class="about__success about__success-row">
            <div class="about__success-inner">
                <p class="about__success-number">98%</p>
                <p class="about__success-text">Успешных случаев восстановления данных</p>
            </div>
            <div class="about__success-inner">
                <p class="about__success-number">75 <span>регионов</span></p>
                <p class="about__success-text">Из которых к нам поступали носители на восстановление</p>
            </div>
            <div class="about__success-inner">
                <p class="about__success-number"><span>более </span>15<span> лет</span></p>
                <p class="about__success-text">Опыт специалистов в сфере восстановления данных </p>
            </div>
        </div>
        <div class="article__wrapper article__wrapper--revers">
            <article class="article__content article__content--big">
                <p class="article__content-text">Наши сотрудники регулярно проходят обучение по эксплуатации
                    оборудования для восстановления информации. Все данные, которые мы восстанавливаем, имеют
                    максимальный уровень конфиденциальности и не подлежат разглашению.
                </p>
                <p class="article__content-text">Работать с кейсами любой сложности нам помогает богатое программное и
                    аппаратное оснащение нашей мастерской. При восстановлении данных нами используются лицензионное
                    программное обеспечение и программно-аппаратные комплексы, с помощью которых решаются практически
                    все актуальные задачи.</p>
            </article>
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/staff.webp 1x, ../../image/gallery/staff-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/staff.jpg 1x, ../../image/gallery/staff-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/staff.jpg"
                             srcset="../../image/gallery/staff-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="article">
    <div class="container">
        <h2 class="article__title">В какой среде нужно проводить работу</h2>
        <div class="article__wrapper article__wrapper--revers">
            <article class="article__content article__content--big">
                <p class="article__content-text">Даже микроскопические частицы пыли способны сделать отдельные секторы
                    внутри гермозоны накопителей нечитаемыми и создать дополнительные сложности при восстановлении
                    данных. Поэтому все манипуляции с накопителями мы проводим в ламинарных боксах —специальных
                    лабораторных зонах, которые помогают свести к минимуму воздействие окружающей среды на
                    чувствительные части накопителя.
                </p>
                <p class="article__content-text">Мы используем ламинарный бокс с нисходящим потоком воздуха и
                    собственной системой фильтрации. Уже несколько лет мы изучали опыт крупнейших мировых компаний по
                    использованию “Чистых помещений” в области производства микроэлектроники. Были изучены гигабайты
                    информации в открытом доступе об опыте таких корпораций как Intel, AMD, Samsung. <span
                            class="text--red">Также проведены
                    консультации с крупнейшими производителями чистых комнат и зон в Европе, это компании CARLO ERBA,
                    LENGE Purification. В чистой зоне установлен ламинарный бокс производства компании LENGE
                    Purification, предназначенный для работы с микроэлектроникой.</span> По нашему заказу в конструкцию
                    ламинарного бокса внесены некоторые изменения для удобства работы.</p>
            </article>
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/cleaning.webp 1x, ../../image/gallery/cleaning-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/cleaning.jpg 1x, ../../image/gallery/cleaning-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/cleaning.jpg"
                             srcset="../../image/gallery/cleaning-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="article">
    <div class="container">
        <h2 class="article__title">Инструменты и оборудование DRK Company</h2>
        <h3 class="article__content-title">Программно-аппаратный комплекс PC-3000</h3>
        <div class="article__wrapper article__wrapper--revers">
            <article class="article__content article__content--big">
                <p class="article__content-text">Программно-аппаратные комплексы для восстановления данных,
                    разработанные и производимые компанией ACELab, являются основным инструментом для работы с
                    неисправными носителями информации в ведущих компаниях по всему миру. Высокая эффективность работы
                    наших специалистов также во многом обеспечивается возможностями PC−3000. Продукция компании ACELab
                    постоянно совершенствуется. В своей работе мастера DRK Company используют следующие
                    программно-аппаратные комплексы:</p>
                <ul class="article__content-list article__content-list--column article__content-list--column-big">
                    <li class="style-square style-square--top">PC-3000 SAS/SCSI 1.0 и 2.0</li>
                    <li class="style-square style-square--top">PC-3000 Express/SAS RAID Edition</li>
                    <li class="style-square style-square--top">PC-3000 Express</li>
                    <li class="style-square style-square--top">PC-3000 Express UDMA</li>
                    <li class="style-square style-square--top">PC-3000 Express Flash 4.0</li>
                    <li class="style-square style-square--top">PC-3000 Express Portable 1.0</li>
                    <li class="style-square style-square--top">PC-3000 Express Portable 3.0</li>
                    <li class="style-square style-square--top">PC-3000 Express SSD</li>
                </ul>
            </article>
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/PC-3000.webp 1x, ../../image/gallery/PC-3000-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/PC-3000.jpg 1x, ../../image/gallery/PC-3000-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/PC-3000.jpg"
                             srcset="../../image/gallery/PC-3000-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
        </div>
        <div class="article__wrapper article__wrapper--revers">
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/PC-3000.webp 1x, ../../image/gallery/PC-3000-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/PC-3000.jpg 1x, ../../image/gallery/PC-3000-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/PC-3000.jpg"
                             srcset="../../image/gallery/PC-3000-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
            <article class="article__content article__content--big">
                <h3 class="article__content-title">Программно-аппаратный комплекс PC-3000 SAS/SCSI 1.0 и 2.0</h3>
                <p class="article__content-text">Предназначен для тестирования, ремонта и восстановления данных с
                    поврежденных HDD имеющих интерфейс SAS (Serial Attached SCSI) и SCSI, емкостью: от 18 Гб до 10 Тб, с
                    файловыми системами: FAT, exFAT, NTFS, EXT2/3/4, HFS+, APFS, UFS1/2, XFS, ReiserFS, VMFS, файловыми
                    системами для видеорегистраторов WFS0.x, DHFS4.1 и образами виртуальных машин: VMDK, VHD, VHDX, DMG.
                </p>
            </article>
        </div>
        <div class="article__wrapper article__wrapper--revers">
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/PC-3000.webp 1x, ../../image/gallery/PC-3000-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/PC-3000.jpg 1x, ../../image/gallery/PC-3000-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/PC-3000.jpg"
                             srcset="../../image/gallery/PC-3000-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
            <article class="article__content article__content--big">
                <h3 class="article__content-title">Программно-аппаратный комплекс PC-3000 Express/SAS RAID Edition</h3>
                <p class="article__content-text">Профессиональный инструмент для восстановления данных с поврежденных
                    RAID массивов включающих накопители с интерфейсами SAS (Serial Attached SCSI), SCSI, SATA следующих
                    конфигураций: Stripe, Mirror, JBOD, 1E Offset, 1E Adjacent, 4, 5, 5E, 5EE, 6, 6 Adaptec, любые
                    комбинированные (10, 50, 51, 60...), произвольно задаваемые пользователем с помощью таблицы, а также
                    WSS (Windows Storage Spaces), ZFS RAID-Z, BtrFS RAID, Apple Fusion Drive (HFS+, APFS).
                </p>
            </article>
        </div>
        <div class="article__wrapper article__wrapper--revers">
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/PC-3000.webp 1x, ../../image/gallery/PC-3000-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/PC-3000.jpg 1x, ../../image/gallery/PC-3000-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/PC-3000.jpg"
                             srcset="../../image/gallery/PC-3000-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
            <article class="article__content article__content--big">
                <h3 class="article__content-title">Программно-аппаратный комплекс PC-3000 SSD</h3>
                <p class="article__content-text">Этот программный комплекс предназначен для диагностики, ремонта и
                    восстановления данных с твердотельных накопителей с интерфейсами SATA, PATA, mSATA, M.2, PCIe
                    (NVMe/AHCI), PCIe x16, Apple Macbook емкостью: от 32 Гб до 2 Тб, производства: OCZ, Corsair,
                    Crucial, RunCore, A-DATA, G.Skill, Micron, Plextor, Intel, Samsung, Seagate, Kingston и др.
                </p>
            </article>
        </div>
        <div class="article__wrapper article__wrapper--revers">
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/PC-3000.webp 1x, ../../image/gallery/PC-3000-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/PC-3000.jpg 1x, ../../image/gallery/PC-3000-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/PC-3000.jpg"
                             srcset="../../image/gallery/PC-3000-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
            <article class="article__content article__content--big">
                <h3 class="article__content-title">Программно-аппаратный комплекс PC-3000 Express UDMA</h3>
                <p class="article__content-text">Подходит для большинства задач по восстановлению данных с поврежденных
                    HDD имеющих интерфейс SATA (Serial ATA) или PATA (IDE), емкостью: от 500 Мб до 6 Тб, производства:
                    Seagate, Western Digital, Fujitsu, Samsung, Maxtor, Quantum, IBM (HGST), HITACHI, TOSHIBA c
                    форм-фактором 3.5"- настольные ПК; 2.5" и 1.8" - накопители для ноутбуков; 1.0" - накопители для
                    портативной техники, с интерфейсом Compact Flash, с файловыми системами: FAT, exFAT, NTFS, EXT2/3/4,
                    HFS+, UFS1/2, XFS, ReiserFS, VMFS и образами виртуальных машин: VMDK, VHD.
                </p>
            </article>
        </div>
        <div class="article__wrapper article__wrapper--revers">
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/PC-3000.webp 1x, ../../image/gallery/PC-3000-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/PC-3000.jpg 1x, ../../image/gallery/PC-3000-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/PC-3000.jpg"
                             srcset="../../image/gallery/PC-3000-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
            <article class="article__content article__content--big">
                <h3 class="article__content-title">Программно-аппаратный комплекс PC-3000 Express</h3>
                <p class="article__content-text">Предназначен для диагностики и ремонта HDD с интерфейсом SATA (Serial
                    ATA) и PATA (IDE), емкостью: от 20 Мб до 6 Тб, производства: Seagate, Western Digital, Fujitsu,
                    Samsung, Maxtor, Quantum, IBM (HGST), HITACHI, TOSHIBA c форм-фактором 3.5" - настольные ПК; 2.5" и
                    1.8" - накопители для ноутбуков; 1.0" - накопители для портативной техники, с интерфейсом Compact
                    Flash, с файловыми системами: FAT, exFAT, NTFS, EXT2/3/4, HFS+, APFS, UFS1/2, XFS, ReiserFS, VMFS,
                    файловыми системами для видеорегистраторов WFS0.x, DHFS4.1 и образами виртуальных машин: VMDK, VHD,
                    VHDX, DMG.
                </p>
            </article>
        </div>
        <div class="article__wrapper article__wrapper--revers">
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/PC-3000.webp 1x, ../../image/gallery/PC-3000-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/PC-3000.jpg 1x, ../../image/gallery/PC-3000-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/PC-3000.jpg"
                             srcset="../../image/gallery/PC-3000-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
            <article class="article__content article__content--big">
                <h3 class="article__content-title">Программно-аппаратный комплекс PC-3000 Flash 4.0</h3>
                <p class="article__content-text">Предназначен для восстановления данных со всех типов твердотельных
                    накопителей на основе NAND флеш памяти (USB Flash, SD, MS, xD, MMC, CF, VoiceRecorder, и др.), в
                    ситуации, когда доступ к данным посредством штатного интерфейса накопителя невозможен. Списки
                    поддерживаемых контроллеров комплексом: Alcor Micro (AU), Innostor (IS), Lexar, CHIPSBANK (CBM),
                    SanDisk, Skymedi (SK), Silicon Motion (SM), OTi, MXTRONICS (MW), Phison (PS), Integrated Technology
                    Express (ITE), NETAC, Toshiba (TC), USBEST.
                </p>
            </article>
        </div>
        <div class="article__wrapper article__wrapper--revers">
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/PC-3000.webp 1x, ../../image/gallery/PC-3000-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/PC-3000.jpg 1x, ../../image/gallery/PC-3000-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/PC-3000.jpg"
                             srcset="../../image/gallery/PC-3000-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
            <article class="article__content article__content--big">
                <h3 class="article__content-title">Мобильный, программно-аппаратный комплекс PC-3000 Portable 1.0</h3>
                <p class="article__content-text">Предназначен для восстановления данных с поврежденных HDD имеющих
                    интерфейс SATA (Serial ATA) или PATA (IDE), емкостью: от 500 Мб до 4 Тб, с файловыми системами: FAT,
                    exFAT, NTFS, EXT2/3/4, HFS+, UFS1/2, XFS, ReiserFS, VMFS и образами виртуальных машин: VMDK, VHD.
                </p>
            </article>
        </div>
        <div class="article__wrapper article__wrapper--revers">
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/PC-3000.webp 1x, ../../image/gallery/PC-3000-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/PC-3000.jpg 1x, ../../image/gallery/PC-3000-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/PC-3000.jpg"
                             srcset="../../image/gallery/PC-3000-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
            <article class="article__content article__content--big">
                <h3 class="article__content-title">Мобильный, программно-аппаратный комплекс PC-3000 Portable 3.0</h3>
                <p class="article__content-text">Предназначен для восстановления данных с поврежденных SATA (Serial ATA)
                    и USB-устройства, соответствующие спецификации устройств хранения данных (Mass Storage Device), т.
                    е. внешние USB 2.0/3.0 HDD, емкостью: от 40Гб и более, с файловыми системами: FAT, exFAT, NTFS,
                    HFS+, APFS, EXT2/3/4, XFS, ReiserFS, BtrFS, VMFS, UFS1/2, ZFS, DHF4.1, WFS0.x (для
                    видеорегистраторов) и образы виртуальных машин: VMDK, VHD, VHDX, DMG.
                </p>
            </article>
        </div>
    </div>
</section>
<section class="article">
    <div class="container">
        <h3 class="article__content-title">Паяльная станция и оборудование для пайки</h3>
        <div class="article__wrapper">
            <article class="article__content article__content--big">
                <p class="article__content-text">При выполнении операций по пайке SMD компонентов, современных чипов и
                    микросхем крайне важно соблюдать технологию и температурный режим.
                    В DRK Company используется паяльная станция с инфракрасным нижним и верхним подогревом, достаточно
                    широким функционалом по программированию режимов охлаждения. Работа на данной станции позволяет
                    очень точно соблюдать правильный технологический режим пайки без перегрева элементов, в отличии от
                    ручных паяльных фенов, где невозможно точно контролировать температуру и область нагрева. Пайка
                    происходит на специальном термостоле.
                </p>
            </article>
            <div class="article__content article__content--small">
                <ul class="article__content-list">
                    <li class="style-square style-square--top">Инфракрасная паяльная станция</li>
                    <li class="style-square style-square--top">Ультразвуковой ванночки</li>
                    <li class="style-square style-square--top">Термостол</li>
                    <li class="style-square style-square--top">Лабораторный блок питания</li>
                    <li class="style-square style-square--top">Тепловизор</li>
                </ul>
            </div>
        </div>
        <div class="gallery__wrapper">
            <div class="gallery__item">
                <div class="gallery__img">
                    <picture>
                        <source srcset="../../image/gallery/soldering-station.webp 1x, ../../image/gallery/soldering-station-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/soldering-station.jpg 1x, ../../image/gallery/soldering-station-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/soldering-station.jpg"
                             srcset="../../image/gallery/soldering-station-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
            <div class="gallery__item">
                <div class="gallery__img">
                    <picture>
                        <source srcset="../../image/gallery/soldering-station.webp 1x, ../../image/gallery/soldering-station-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/soldering-station.jpg 1x, ../../image/gallery/soldering-station-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/soldering-station.jpg"
                             srcset="../../image/gallery/soldering-station-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
            <div class="gallery__item">
                <div class="gallery__img">
                    <picture>
                        <source srcset="../../image/gallery/soldering-station.webp 1x, ../../image/gallery/soldering-station-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/soldering-station.jpg 1x, ../../image/gallery/soldering-station-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/soldering-station.jpg"
                             srcset="../../image/gallery/soldering-station-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="article">
    <div class="container">
        <div class="article__wrapper">
            <div class="article__inner">
                <article class="article__content">
                    <h3 class="article__content-title">Оптический микроскоп с цифровой камерой</h3>
                    <p class="article__content-text">Для проведения профессиональной диагностики состояния магнитных
                        головок, поверхностей жёстких дисков, а так же SMD пайки и состояния текстолита SSD и флешек мы
                        используем профессиональный оптический микроскоп. С его помощью выполняются операции по очистке
                        MR элементов головок чтения\записи, распайка монолитов и многие другие операции.
                    </p>
                    <div class="article__img article__img--small">
                        <picture>
                            <source srcset="../../image/gallery/mikroskop.webp 1x, ../../image/gallery/mikroskop-2x.webp 2x"
                                    type="image/webp">
                            <source srcset="../../image/gallery/mikroskop.jpg 1x, ../../image/gallery/mikroskop-2x.jpg 2x"
                                    type="image/jpg">
                            <img src="../../image/gallery/mikroskop.jpg"
                                 srcset="../../image/gallery/mikroskop-2x.jpg 2x" alt="">
                        </picture>
                    </div>
                </article>
            </div>
            <div class="article__inner">
                <article class="article__content">
                    <h3 class="article__content-title">Съёмники блока магнитных головок и экстракторы магнитных
                        пластин </h3>
                    <p class="article__content-text">Съёмник головок - инструмент, позволяющий минимизировать риски
                        повреждения блока магнитных головок в момент их переноса из диска-донора в диск-пациента. Для
                        операции по переносу одной пластины, т.н. «блина» жёсткого диска, мы используем специальные
                        экстракторы, надёжно фиксирующие пластину при перемещении. Без таких инструментов, высок риск
                        повреждений поверхности.
                    </p>
                    <div class="article__img article__img--small">
                        <picture>
                            <source srcset="../../image/gallery/tools.webp 1x, ../../image/gallery/tools-2x.webp 2x"
                                    type="image/webp">
                            <source srcset="../../image/gallery/tools.jpg 1x, ../../image/gallery/tools-2x.jpg 2x"
                                    type="image/jpg">
                            <img src="../../image/gallery/tools.jpg"
                                 srcset="../../image/gallery/tools-2x.jpg 2x" alt="">
                        </picture>
                    </div>
                </article>
            </div>
        </div>
        <div class="article__wrapper">
            <div class="article__inner">
                <article class="article__content">
                    <h3 class="article__content-title">Съемник к жестким дискам любых моделей</h3>
                    <p class="article__content-text">Это устройство для перестановки магнитных пластин в жестком диске с
                        заклинившем двигателем. Применяется при невозможности расклинить шпиндель двигателя, где
                        требуется перестановка всех пластин. Жестко фиксирует блок пластин относительно друг друга, не
                        допуская даже малейшего смещения при переносе.
                    </p>
                    <div class="article__img article__img--small">
                        <picture>
                            <source srcset="../../image/gallery/tools-2.webp 1x, ../../image/gallery/tools-2-2x.webp 2x"
                                    type="image/webp">
                            <source srcset="../../image/gallery/tools-2.jpg 1x, ../../image/gallery/tools-2-2x.jpg 2x"
                                    type="image/jpg">
                            <img src="../../image/gallery/tools-2.jpg"
                                 srcset="../../image/gallery/tools-2-2x.jpg 2x" alt="">
                        </picture>
                    </div>
                </article>
            </div>
            <div class="article__inner">
                <article class="article__content">
                    <h3 class="article__content-title">База доноров</h3>
                    <p class="article__content-text">Большое количество донорских жестких дисков позволяет нам, не
                        тратить время на поиски запчастей, а сразу приступать к выполнению заказа. У нас в наличии все
                        модели донорских дисков, продающихся на территории Европейских стран. Так что, в целом, сбор
                        дисков доноров является чуть ли не самой важной из задач DR-фирм.
                    </p>
                    <div class="article__img article__img--small">
                        <picture>
                            <source srcset="../../image/gallery/tools-3.webp 1x, ../../image/gallery/tools-3-2x.webp 2x"
                                    type="image/webp">
                            <source srcset="../../image/gallery/tools-3.jpg 1x, ../../image/gallery/tools-3-2x.jpg 2x"
                                    type="image/jpg">
                            <img src="../../image/gallery/tools-3.jpg"
                                 srcset="../../image/gallery/tools-3-2x.jpg 2x" alt="">
                        </picture>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<section class="reviews__section">
    <div class="container">
        <h2 class="reviews__title">Настоящие отзывы о DRK Company</h2>
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="reviews__wrapper swiper-slide">
                    <article class="review__article review__article--client">
                        <div class="quote"><img src="../../image/icon/quote.png" alt="quote"></div>
                        <p class="review__text">Здесь будет текст, который расскажет
                            клиент в видеоотзыве, поэтому видеоотзывы
                            нужно сделать максимально короткими
                            15-30 секунд, чтобы файлы были
                            не тяжелыми и быстро прогружались</p>
                        <address class="review__author"><span>-</span>Klauss D</address>
                        <time class="review__time" pubdate datetime="2021-7-12" title="12 Июля 2021">12 июня</time>
                    </article>
                    <div class="review__media">
                        <video controls preload="none">
                            <source src="#" type="video/mp4">
                        </video>
                    </div>
                </div>
                <div class="reviews__wrapper swiper-slide">
                    <article class="review__article review__article--client">
                        <div class="quote"><img src="../../image/icon/quote.png" alt="quote"></div>
                        <p class="review__text">Здесь будет текст, который расскажет
                            клиент в видеоотзыве, поэтому видеоотзывы
                            нужно сделать максимально короткими
                            15-30 секунд, чтобы файлы были
                            не тяжелыми и быстро прогружались</p>
                        <address class="review__author"><span>-</span>Klauss D</address>
                        <time class="review__time" pubdate datetime="2021-7-12" title="12 Июля 2021">12 июня</time>
                    </article>
                    <div class="review__media">
                        <video controls preload="none">
                            <source src="https://youtu.be/eWrstRfalnw">
                        </video>
                    </div>
                </div>
                <div class="reviews__wrapper swiper-slide">
                    <article class="review__article review__article--client">
                        <div class="quote"><img src="../../image/icon/quote.png" alt="quote"></div>
                        <p class="review__text">Здесь будет текст</p>
                        <address class="review__author"><span>-</span>Klauss D</address>
                        <time class="review__time" pubdate datetime="2021-7-12" title="12 Июля 2021">12 июня</time>
                    </article>
                    <div class="review__media">
                        <video controls preload="none">
                            <source src="https://youtu.be/eWrstRfalnw">
                        </video>
                    </div>
                </div>

            </div>
            <div class="swiper-button-block">
                <div class="swiper-button swiper-button-prev"></div>
                <div class="swiper-button swiper-button-next"></div>
            </div>
        </div>
    </div>
</section>
<section class="reviews__section">
    <div class="container">
        <h2 class="reviews__title">Мы ценим каждого клиента</h2>
        <h3 class="reviews__subtitle">Несколько слов от руководителя «DRK Company»</h3>
        <div class="reviews__wrapper">
            <article class="review__article">
                <div class="quote"><img src="../../image/icon/quote.png" alt="quote"></div>
                <p class="review__text">Каждое восстановление данных - уникальная история, где каждый видео- или фото
                    файл — это жизнь, мгновения любви, радости или этапы взросления человека. Либо это необходимая
                    рабочая информация, годами наработанные контакты или очень сберегаемые архивы, имеющие высокую
                    ценность.
                    Мы одинаково ценим каждого заказчика – от стартапа до корпорации. Особое внимание уделяем качеству
                    технической поддержки наших клиентов.</p>
                <address class="review__author"><span>-</span>S. Michel</address>
                <p class="review__position">Основатель компании</p>
            </article>
            <div class="review__media">
                <div class="review__img-box">
                    <img src="../../media/review/image/manager.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('templates/banner.ejs') %>
<%- include('templates/faq.ejs') %>
<%- include('templates/footer.ejs') %>
</body>
</html>