<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DRK</title>
    <link type="image/png" rel="icon" href="../../image/icon/favicon.png">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fafafa">
</head>
<body>
<%- include('templates/header.ejs') %>
<div class="bread-crumbs container">
    <span>Главная</span>
    <span>Восстановление данных для Apple/Mac</span>
</div>

<section class="article">
    <div class="container">
        <h2 class="article__title">Восстановление данных для Apple/Mac</h2>
        <div class="article__wrapper article__wrapper--revers">
            <article class="article__content article__content--big">
                <p class="article__content-text">Компания Apple или Apple Macintosh за последние годы вывела на рынок
                    большое количество инновационных и элегантных ИТ-продуктов. Операционная система Mac OS,
                    разработанная компанией Apple и по умолчанию установленная на всех фирменных устройствах, остается
                    не самой привычной для пользователей. В ней используется построенная по иерархическому принципу
                    файловая система (HFS+, APFS), значительно отличающаяся от привычной FAT, NTFS от Майкрософт.
                </p>
                <p class="article__content-text">Специалисты DRK Company восстановливают данныe с различных устройств
                    Apple: ПК Apple/Macintosh, IMac, PowerMac, MacBook Air, MacBook Pro, и другое.</p>
            </article>
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/apple-logo.webp 1x, ../../image/gallery/apple-logo-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/apple-logo.png 1x, ../../image/gallery/apple-logo-2x.png 2x"
                                type="image/png">
                        <img src="../../image/gallery/apple-logo.png"
                             srcset="../../image/gallery/apple-logo-2x.png 2x" alt="">
                    </picture>
                </div>
            </div>
        </div>
        <div class="about__success about__success-row">
            <div class="about__success-inner">
                <p class="about__success-number">98%</p>
                <p class="about__success-text">Успешных случаев восстановления данных</p>
            </div>
            <div class="about__success-inner">
                <p class="about__success-number">75 <span>регионов</span></p>
                <p class="about__success-text">Из которых к нам поступали носители на восстановление</p>
            </div>
            <div class="about__success-inner">
                <p class="about__success-number"><span>более </span>15<span> лет</span></p>
                <p class="about__success-text">Опыт специалистов в сфере восстановления данных </p>
            </div>
        </div>
    </div>
</section>
<section class="article">
    <div class="container">
        <h2 class="article__title">Причины неисправности Apple/Mac</h2>
        <div class="article__wrapper article__wrapper--revers">
            <article class="article__content article__content--big">
                <p class="article__content-text">Операционная система от MAC OS достаточно надежная, однако пользователи
                    Apple иногда все-таки сталкиваются с проблемами потери данных. К ним относятся:
                </p>
                <ul class="article__content-list">
                    <li class="style-square style-square--top">Программные сбои, которые могут произойти в том числе
                        из-за перепадов в электроснабжении, некорректного отключения оборудования или вирусной атаки;
                    </li>
                    <li class="style-square style-square--top">Физические повреждения носителя: повреждения водой или
                        влагой, ущерб от пожара, падения;
                    </li>
                    <li class="style-square style-square--top">Ошибочные действия со стороны пользователя, например,
                        случайное форматирование дискового пространства или удаление нужных файлов.
                    </li>
                </ul>
                <p class="article__content-text">В любом случае перед началом работ необходимо провести экспертную
                    диагностику оборудования, от которой зависит состав комплекса восстановительных мероприятий и его
                    методология. DRK Company проводит такую диагностику бесплатно. После этого наши сотрудники расскажут
                    владельцу сбойного оборудования о найденных проблемах, а также озвучат стоимость и сроки работ.</p>
            </article>
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/apple-defect.webp 1x, ../../image/gallery/apple-defect-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/apple-defect.png 1x, ../../image/gallery/apple-defect-2x.png 2x"
                                type="image/png">
                        <img src="../../image/gallery/apple-defect.png"
                             srcset="../../image/gallery/apple-defect-2x.png 2x" alt="">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="article">
    <div class="container">
        <h2 class="article__title">Особенности восстанавливления данных Apple/Mac</h2>
        <div class="article__wrapper article__wrapper--revers">
            <article class="article__content article__content--big">
                <p class="article__content-text">Восстановление информации устройств Apple отличается от восстановления
                    файлов в среде Windows. Не важно, о каком именно носителе идёт речь: SSD-диск или классический HDD.
                    Гораздо большую роль играет тот факт, что для работы с OS требуется специальное, фирменное
                    программное обеспечение, использование которого может потребовать дополнительных затрат.
                </p>
                <p class="article__content-text">К нюансам восстановления файлов устройств Apple можно отнести также
                    отсутствие высококвалифицированных специалистов, которые имели бы должный опыт подобных работ. В
                    отличие от более распространённой Windows, для которой написано великое множество программных
                    продуктов, позволяющих провести самостоятельное восстановление потерянных данных. </p>
                <p class="article__content-text">Вне зависимости от того, что послужило причиной потери информации, мы
                    рекомендуем не предпринимать никаких самостоятельных действий - это может только ухудшить ситуацию.
                    Специалисты DRK Company накопили значительный опыт работы с техникой Apple, а имеющийся набор
                    оборудования и программного обеспечения позволяет решить большинство проблем, с которыми
                    сталкиваются пользователи Mac OS.</p>
            </article>
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/apple-recovery.webp 1x, ../../image/gallery/apple-recovery-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/apple-recovery.png 1x, ../../image/gallery/apple-recovery-2x.png 2x"
                                type="image/png">
                        <img src="../../image/gallery/apple-recovery.png"
                             srcset="../../image/gallery/apple-recovery-2x.png 2x" alt="">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('templates/banner.ejs') %>
<%- include('templates/faq.ejs') %>
<%- include('templates/footer.ejs') %>
</body>
</html>