<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DRK</title>
    <link type="image/png" rel="icon" href="../../image/icon/favicon.png">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fafafa">
</head>
<body>
<%- include('templates/header.ejs') %>
<div class="bread-crumbs container">
    <span>Главная</span>
    <span>Контакты</span>
</div>
<section class="article">
    <div class="container">
        <h2 class="article__title">Контакты</h2>
        <div class="article__wrapper  ">
            <div class="article__content article__content--small">
                <h3 class="article__content-title">Сервисный центр</h3>
                <p class="article__content-text article__content-text--highlighted">Адрес:</p>
                <p class="article__content-text">Habsburger Straße 125, D79104 Freiburg im Breisgau– Deutschland</p>
                <p class="article__content-text article__content-text--highlighted">Круглосуточная горячая линия:</p>
                <p class="article__content-text"><a href="tel:+4908004090908" class="tel">+49 (0) 800 409 09
                        08</a></p>
                <p class="article__content-text article__content-text--highlighted">Факс:</p>
                <p class="article__content-text">+49 761 290 864 31</p>
                <p class="article__content-text article__content-text--highlighted">E-Mail:</p>
                <p class="article__content-text"><a href="mailto:info@datenrettungsklinik.de" class="email">info@datenrettungsklinik.de</a>
                </p>
                <p class="article__content-text article__content-text--highlighted">Время работы:</p>
                <p class="article__content-text">С понедельника по пятницу с 09:00 до 16:30</p>
            </div>
            <article class="article__content article__content--big">
                <div class="article__img article__img--big">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4697.512267112133!2d27.658826936231648!3d53.93607625287401!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcf845ba406a5%3A0xc316d40d7405a3a0!2sPastila!5e0!3m2!1sru!2sby!4v1650714375516!5m2!1sru!2sby"
                            width="100%" height="350px" style="border:1px solid #9c9c9c;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </article>
        </div>
    </div>
</section>
<section class="article">
    <div class="container">
        <h2 class="article__title">Фотографии центра восстановления данных</h2>
        <div class="gallery__wrapper">
            <div class="gallery__item">
                <picture>
                    <source srcset="../../image/gallery/office-3.webp 1x, ../../image/gallery/office-3-2x.webp 2x"
                            type="image/webp">
                    <source srcset="../../image/gallery/office-3.jpg 1x, ../../image/gallery/office-3-2x.jpg 2x"
                            type="image/jpg">
                    <img src="../../image/gallery/office-3.jpg"
                         srcset="../../image/gallery/office-3-2x.jpg 2x" alt="Фотографии центра восстановления данных">
                </picture>
            </div>
            <div class="gallery__item">
                <picture>
                    <source srcset="../../image/gallery/office-2.webp 1x, ../../image/gallery/office-2-2x.webp 2x"
                            type="image/webp">
                    <source srcset="../../image/gallery/office-2.jpg 1x, ../../image/gallery/office-2-2x.jpg 2x"
                            type="image/jpg">
                    <img src="../../image/gallery/office-2.jpg"
                         srcset="../../image/gallery/office-2-2x.jpg 2x" alt="Фотографии центра восстановления данных">
                </picture>
            </div>
            <div class="gallery__item">
                <picture>
                    <source srcset="../../image/gallery/office-1.webp 1x, ../../image/gallery/office-1-2x.webp 2x"
                            type="image/webp">
                    <source srcset="../../image/gallery/office-1.jpg 1x, ../../image/gallery/office-1-2x.jpg 2x"
                            type="image/jpg">
                    <img src="../../image/gallery/office-1.jpg"
                         srcset="../../image/gallery/office-1-2x.jpg 2x" alt="Фотографии центра восстановления данных">
                </picture>
            </div>
        </div>
    </div>
</section>
<%- include('templates/form-ask.ejs') %>
<%- include('templates/footer.ejs') %>
</body>
</html>