<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DRK</title>
    <link type="image/png" rel="icon" href="../../image/icon/favicon.png">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fafafa">
</head>
<body>
<%- include('templates/header.ejs') %>
<div class="bread-crumbs container">
    <span>Главная</span>
    <span>Экспресс-Cервис</span>
</div>
<section class="article">
    <div class="container">
        <h2 class="article__title">Express-Servise</h2>
        <div class="article__wrapper  ">
            <article class="article__content article__content--big">
                <p class="article__content-text">Мы знаем насколько дорого для вас время. Поэтому в DRK Company имеются
                    предложения, которые дают приоритет на срочность восстановления данных. Мы предлагаем адекватные
                    цены и быстрые сроки исполнения заказов. Звоните <a href="tel:+4908004090908" class="tel">+49
                        (0) 800 409 09 08</a>. Мы принимаем звонки
                    круглосуточно и без выходных! Также, вы можете заполнить форму на сайте с выбором варианта
                    обслуживания. Для каждого отдельного случая вы можете выбрать вариант восстановления данных, который
                    наиболее отвечает вашим потребностям:</p>
            </article>
            <div class="article__content article__content--small">
                <h3 class="article__content-title">Варианты обслуживания:</h3>
                <ul class="article__content-list">
                    <li class="style-square">Экстренная помощь</li>
                    <li class="style-square">Экспресс восстановление</li>
                    <li class="style-square">Стандартное восстановление данных</li>
                    <li class="style-square">Экономичное восстановление данных</li>
                </ul>
            </div>
        </div>
        <div class="article__wrapper">
            <h3 class="article__content-title">1. Услуга “Экстренная помощь”</h3>
            <article class="article__content article__content--big">
                <p class="article__content-text">Это самое быстрое решений - режим срочного восстановления данных. Если
                    для вас очень важно вернуть свои данные как можно быстрее , вы можете воспользоваться этим вариантом
                    обслуживания.</p>
                <ul class="article__content-list">
                    <li class="style-square style-square--top">Как только носитель оказывается в лаборатории DRK
                        Company, мы в срочном
                        режиме начинаем диагностику и восстановление данных,
                    </li>
                    <li class="style-square style-square--top">Мы работаем над вашим заказом В ЭКСТРЕННОМ РЕЖИМЕ И
                        НЕПРЕРЫВНО 24/7 до
                        получения конечного результата. В этом режиме наши мастера восстанавливают данные не зависимо от
                        рабочих дней, государственных праздников, выходных и т.д. При необходимости, над заказом будет
                        работать несколько специалистов. При этом качество восстановления от этого не страдает.
                    </li>
                    <li class="style-square style-square--top">Такой режим особенно подходит для критически важного
                        восстановления данных
                        с поврежденных RAID-массивов, Серверов, NAS, жестких дисков и других накопителей информации,
                        которыми пользуются компании и профессионалы.
                    </li>
                </ul>
            </article>
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/express-1.webp 1x, ../../image/gallery/express-1-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/express-1.jpg 1x, ../../image/gallery/express-1-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/express-1.jpg"
                             srcset="../../image/gallery/express-1-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
        </div>
        <div class="article__wrapper  article__wrapper--revers">
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/express-2.webp 1x, ../../image/gallery/express-2-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/express-2.jpg 1x, ../../image/gallery/express-2-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/express-2.jpg"
                             srcset="../../image/gallery/express-2-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
            <article class="article__content article__content--big">
                <h3 class="article__content-title article__content-title--stretch ">2. Услуга “Экспресс-восстановление” </h3>
                <p class="article__content-text">Этот вариант подходит для тех, кому нужно восстановить данные в
                    приоритетном порядке.
                </p>
                <ul class="article__content-list">
                    <li class="style-square style-square--top">Диагностика и восстановление данных происходит немедленно
                        и имеет статус
                        приоритета.
                    </li>
                    <li class="style-square style-square--top">Срок восстановления данных обычно составляет до 3 рабочих
                        дней.
                    </li>
                    <li class="style-square style-square--top">Мы работаем над вашим заказом В ПРИОРИТЕТНОМ ПОРЯДКЕ все
                        рабочие дни,
                        включая субботу с 8:00 до 18:00.
                    </li>
                </ul>
            </article>
        </div>
        <div class="article__wrapper">
            <h3 class="article__content-title">3. “Стандартное восстановление данных”</h3>
            <article class="article__content article__content--big">
                <p class="article__content-text">Это наиболее часто используемый режим восстановления данных. Если вы не
                    укажете иного, мы выполняем восстановление данных в этом режиме. Это обычный режим профессионального
                    восстановления файлов мастерами DRK Company в рабочее время с понедельника-пятницу с 9:00 до 17:00.
                    Срок восстановления данных от 10 до 20 рабочих дней. Качество услуг DRK Company всегда на высоте,
                    независимо от того, какое предложение по скорости обслуживания вы выбираете.
                </p>
            </article>
            <div class="article__content article__content--small">
                <ul class="article__content-list">
                    <li class="style-square style-square--top">Восстановление проводится только в рабочее время</li>
                    <li class="style-square style-square--top">Восстановление проводится в порядке общей очереди</li>
                    <li class="style-square style-square--top">Качество работы не зависит от выбранного предложения</li>
                </ul>
            </div>
        </div>
        <div class="article__wrapper article__wrapper--revers">
            <div class="article__content article__content--small">
                <ul class="article__content-list">
                    <li class="style-square style-square--top">Восстановление проводится только в рабочее время</li>
                    <li class="style-square style-square--top">Работа над восстановлением занимает больше времени, чем в
                        варианте “Стандартное восстановление данных”
                    </li>
                    <li class="style-square style-square--top">Качество работы не зависит от выбранного предложения</li>
                </ul>
            </div>
            <article class="article__content article__content--big">
                <h3 class="article__content-title article__content-title--stretch">4. “Экономичное восстановление данных”</h3>
                <p class="article__content-text">Этот вариант для тех случаев, когда время не играет важной роли, а
                    стоимость имеет приоритет.
                    Мы готовы обсудить с вами индивидуальные условия, а также предложить скидку для пенсионеров и
                    студентов. Такой режим не может использоваться для заказов с высокими требованиями к материалу.
                    Такие заказы имеют наименьший приоритет и, следовательно, время работы над ними более длительно.
                    Качество услуг DRK Company всегда на высоте, независимо от того, какое предложение по скорости
                    обслуживания вы выбираете.</p>
            </article>
        </div>
    </div>
</section>
<%- include('templates/banner.ejs') %>
<%- include('templates/faq.ejs') %>
<%- include('templates/footer.ejs') %>
</body>
</html>