<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DRK</title>
    <link type="image/png" rel="icon" href="../../image/icon/favicon.png">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fafafa">
</head>
<body>
<%- include('templates/header.ejs') %>
<div class="bread-crumbs container">
    <span>Главная</span>
    <span>Восстановление данных с внешнего жесткого диска</span>
</div>
<section class="article">
    <div class="container">
        <h2 class="article__title">Восстановление данных с внешнего жесткого диска</h2>
        <div class="article__wrapper article__wrapper--revers">
            <article class="article__content article__content--big">
                <p class="article__content-text">Внешние жесткие диски очень надёжны и долговечны. Но если поломка всё
                    же произошла и нужно восстановить данные с внешнего накопителя, доверять эту процедуру можно только
                    опытным специалистам, которые хорошо знают все особенности такой техники.
                </p>
                <p class="article__content-text">Падение, неправильное питание или, как это часто бывает, дефектные
                    сектора — это классические причины, по которым внешний жесткий диск внезапно перестает
                    распознаваться и доступ к данным становится недоступным.</p>
                <p class="article__content-text">Мы работаем со всеми разновидностями внешних накопителей, которые
                    различаются по следующим параметрам:</p>
                <ul class="article__content-list">
                    <li class="style-square style-square--top">Тип памяти. Встречаются SSD и HDD модели;</li>
                    <li class="style-square style-square--top">Габариты. Существуют как "карманные", удобные для ношения
                        модели, так и
                        техника немногим меньше системного блока. Такие варианты оснащены собственной системой
                        охлаждения;
                    </li>
                    <li class="style-square style-square--top">Объем памяти. Он может колебаться от сотен гигабайт до
                        десятков терабайт.
                    </li>
                </ul>
            </article>
            <div class="article__content article__content--small">
                <div class="article__img article__img--small ">
                    <picture>
                        <source srcset="../../image/gallery/hdd-9.webp 1x, ../../image/gallery/hdd-9-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/hdd-9.jpg 1x, ../../image/gallery/hdd-9-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/hdd-9.jpg"
                             srcset="../../image/gallery/hdd-9-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
        </div>
        <div class="about__success about__success-row">
            <div class="about__success-inner">
                <p class="about__success-number">98%</p>
                <p class="about__success-text">Успешных случаев восстановления данных</p>
            </div>
            <div class="about__success-inner">
                <p class="about__success-number">75 <span>регионов</span></p>
                <p class="about__success-text">Из которых к нам поступали носители на восстановление</p>
            </div>
            <div class="about__success-inner">
                <p class="about__success-number"><span>более </span>15<span> лет</span></p>
                <p class="about__success-text">Опыт специалистов в сфере восстановления данных </p>
            </div>
        </div>
        <div class="brand">
            <div class="brand__swiper">
                <div class="swiper-wrapper">
                    <div class="brand__content swiper-slide">
                        <div class="brand__content-img">
                            <picture>
                                <source srcset="../../image/brand/AData-S.webp 1x, ../../image/brand/AData-S-2x.webp 2x" type="image/webp">
                                <source srcset="../../image/brand/AData-S.jpg 1x, ../../image/brand/AData-S-2x.jpg 2x" type="image/jpg">
                                <img src="../../image/brand/AData-S.jpg" srcset="../../image/brand/AData-S-2x.jpg 2x" alt="">
                            </picture>
                        </div>
                        <p>AData</p>
                    </div>
                    <div class="brand__content swiper-slide">
                        <div class="brand__content-img">
                            <picture>
                                <source srcset="../../image/brand/Silicon-Power-S.webp 1x, ../../image/brand/Silicon-Power-S-2x.webp 2x" type="image/webp">
                                <source srcset="../../image/brand/Silicon-Power-S.jpg 1x, ../../image/brand/Silicon-Power-S-2x.jpg 2x" type="image/jpg">
                                <img src="../../image/brand/Silicon-Power-S.jpg" srcset="../../image/brand/Silicon-Power-S-2x.jpg 2x" alt="">
                            </picture>
                        </div>
                        <p>Silicon Power</p>
                    </div>
                    <div class="brand__content swiper-slide">
                        <div class="brand__content-img">
                            <picture>
                                <source srcset="../../image/brand/SanDisk-S.webp 1x, ../../image/brand/SanDisk-S-2x.webp 2x" type="image/webp">
                                <source srcset="../../image/brand/SanDisk-S.jpg 1x, ../../image/brand/SanDisk-S-2x.jpg 2x" type="image/jpg">
                                <img src="../../image/brand/SanDisk-S.jpg" srcset="../../image/brand/SanDisk-S-2x.jpg 2x" alt="">
                            </picture>
                        </div>
                        <p>SanDisk</p>
                    </div>
                    <div class="brand__content swiper-slide">
                        <div class="brand__content-img">
                            <picture>
                                <source srcset="../../image/brand/Medion-S.webp 1x, ../../image/brand/Medion-S-2x.webp 2x" type="image/webp">
                                <source srcset="../../image/brand/Medion-S.jpg 1x, ../../image/brand/Medion-S-2x.jpg 2x" type="image/jpg">
                                <img src="../../image/brand/Medion-S.jpg" srcset="../../image/brand/Medion-S-2x.jpg 2x" alt="">
                            </picture>
                        </div>
                        <p>Medion</p>
                    </div>
                    <div class="brand__content swiper-slide">
                        <div class="brand__content-img">
                            <picture>
                                <source srcset="../../image/brand/Lacie-S.webp 1x, ../../image/brand/Lacie-S-2x.webp 2x" type="image/webp">
                                <source srcset="../../image/brand/Lacie-S.jpg 1x, ../../image/brand/Lacie-S-2x.jpg 2x" type="image/jpg">
                                <img src="../../image/brand/Lacie-S.jpg" srcset="../../image/brand/Lacie-S-2x.jpg 2x" alt="">
                            </picture>
                        </div>
                        <p>Lacie</p>
                    </div>
                    <div class="brand__content swiper-slide">
                        <div class="brand__content-img">
                            <picture>
                                <source srcset="../../image/brand/Seagate-S.webp 1x, ../../image/brand/Seagate-S-2x.webp 2x" type="image/webp">
                                <source srcset="../../image/brand/Seagate-S.jpg 1x, ../../image/brand/Seagate-S-2x.jpg 2x" type="image/jpg">
                                <img src="../../image/brand/Seagate-S.jpg" srcset="../../image/brand/Seagate-S-2x.jpg 2x" alt="">
                            </picture>
                        </div>
                        <p>Seagate</p>
                    </div>
                    <div class="brand__content swiper-slide">
                        <div class="brand__content-img">
                            <picture>
                                <source srcset="../../image/brand/Kingston-logo-S.webp 1x, ../../image/brand/Kingston-logo-S-2x.webp 2x" type="image/webp">
                                <source srcset="../../image/brand/Kingston-logo-S.jpg 1x, ../../image/brand/Kingston-logo-S-2x.jpg 2x" type="image/jpg">
                                <img src="../../image/brand/Kingston-logo-S.jpg" srcset="../../image/brand/Kingston-logo-S-2x.jpg 2x" alt="">
                            </picture>
                        </div>
                        <p>Kingston</p>
                    </div>
                    <div class="brand__content swiper-slide">
                        <div class="brand__content-img">
                            <picture>
                                <source srcset="../../image/brand/Toshiba-S.webp 1x, ../../image/brand/Toshiba-S-2x.webp 2x" type="image/webp">
                                <source srcset="../../image/brand/Toshiba-S.jpg 1x, ../../image/brand/Toshiba-S-2x.jpg 2x" type="image/jpg">
                                <img src="../../image/brand/Toshiba-S.jpg" srcset="../../image/brand/Toshiba-S-2x.jpg 2x" alt="">
                            </picture>
                        </div>
                        <p>Toshiba</p>
                    </div>
                    <div class="brand__content swiper-slide">
                        <div class="brand__content-img">
                            <picture>
                                <source srcset="../../image/brand/Samsung-S.webp 1x, ../../image/brand/Samsung-S-2x.webp 2x" type="image/webp">
                                <source srcset="../../image/brand/Samsung-S.jpg 1x, ../../image/brand/Samsung-S-2x.jpg 2x" type="image/jpg">
                                <img src="../../image/brand/Samsung-S.jpg" srcset="../../image/brand/Samsung-S-2x.jpg 2x" alt="">
                            </picture>
                        </div>
                        <p>Samsung</p>
                    </div>
                    <div class="brand__content swiper-slide">
                        <div class="brand__content-img">
                            <picture>
                                <source srcset="../../image/brand/Hitachi-S.webp 1x, ../../image/brand/Hitachi-S-2x.webp 2x" type="image/webp">
                                <source srcset="../../image/brand/Hitachi-S.jpg 1x, ../../image/brand/Hitachi-S-2x.jpg 2x" type="image/jpg">
                                <img src="../../image/brand/Hitachi-S.jpg" srcset="../../image/brand/Hitachi-S-2x.jpg 2x" alt="">
                            </picture>
                        </div>
                        <p>Hitachi</p>
                    </div>
                    <div class="brand__content swiper-slide">
                        <div class="brand__content-img">
                            <picture>
                                <source srcset="../../image/brand/HGST-S.webp 1x, ../../image/brand/HGST-S-2x.webp 2x" type="image/webp">
                                <source srcset="../../image/brand/HGST-S.jpg 1x, ../../image/brand/HGST-S-2x.jpg 2x" type="image/jpg">
                                <img src="../../image/brand/HGST-S.jpg" srcset="../../image/brand/HGST-S-2x.jpg 2x" alt="">
                            </picture>
                        </div>
                        <p>HGST</p>
                    </div>
                    <div class="brand__content swiper-slide">
                        <div class="brand__content-img">
                            <picture>
                                <source srcset="../../image/brand/Maxtor-S.webp 1x, ../../image/brand/Maxtor-S-2x.webp 2x" type="image/webp">
                                <source srcset="../../image/brand/Maxtor-S.jpg 1x, ../../image/brand/Maxtor-S-2x.jpg 2x" type="image/jpg">
                                <img src="../../image/brand/Maxtor-S.jpg" srcset="../../image/brand/Maxtor-S-2x.jpg 2x" alt="">
                            </picture>
                        </div>
                        <p>Maxtor</p>
                    </div>
                    <div class="brand__content swiper-slide">
                        <div class="brand__content-img">
                            <picture>
                                <source srcset="../../image/brand/Smartbuy-S.webp 1x, ../../image/brand/Smartbuy-S-2x.webp 2x" type="image/webp">
                                <source srcset="../../image/brand/Smartbuy-S.jpg 1x, ../../image/brand/Smartbuy-S-2x.jpg 2x" type="image/jpg">
                                <img src="../../image/brand/Smartbuy-S.jpg" srcset="../../image/brand/Smartbuy-S-2x.jpg 2x" alt="">
                            </picture>
                        </div>
                        <p>Smartbuy</p>
                    </div>

                </div>
            </div>
            <div class="brand__swiper-button brand__swiper-button-prev">prev</div>
            <div class="brand__swiper-button brand__swiper-button-next">next</div>
        </div>
    </div>
</section>
<section class="article">
    <div class="container">
        <h2 class="article__title">Признаки неисправности внешнего жесткого диска</h2>
        <div class="article__wrapper article__wrapper--revers">
            <article class="article__content article__content--big">
                <ul class="article__content-list">
                    <li class="style-square style-square--top">Слышны щелчки, писк или скрежет во время подключения к
                        персональному компьютеру или ноутбуку
                    </li>
                    <li class="style-square style-square--top">Работает слишком шумно</li>
                    <li class="style-square style-square--top">Внешний диск подключается к ПК чрезмерно долго или
                        происходит задержка доступа к данным
                    </li>
                    <li class="style-square style-square--top">Исчезновение папок, сохраненных в памяти внешнего диска
                    </li>
                    <li class="style-square style-square--top">Уведомление о повреждении файлов</li>
                </ul>
            </article>
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/hdd-10.webp 1x, ../../image/gallery/hdd-10-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/hdd-10.jpg 1x, ../../image/gallery/hdd-10-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/hdd-10.jpg"
                             srcset="../../image/gallery/hdd-10-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="article">
    <div class="container">
        <h2 class="article__title">Распространенные неисправности внешних жеcтких дисков</h2>
        <div class="article__wrapper  ">
            <article class="article__content article__content--big">
                <p class="article__content-text">Преимущество внешних дисков заключается в мобильности. Это устройство
                    легко подключается к персональным ПК, ноутбукам, планшетам или смартфонам. Однако в этом состоит их
                    главный недостаток. В отличие от стационарных, переносные гаджеты чаще падают со столов, ударяются о
                    разные поверхности и заливаются водой или напитками. Когда накопители лежат на полу, что не столь
                    большая редкость, на их корпуса иногда наступают ногами.
                </p>
            </article>
        </div>
        <h3 class="article__content-title">Механические повреждения</h3>
        <div class="article__wrapper  ">
            <article class="article__content article__content--big">
                <p class="article__content-text">Физические компоненты (плата электроники, служебные модули, магнитные
                    головки и пластины, шпиндель) получают повреждения в результате падения носителя, попадания воды,
                    износа, перегрузок, перегрева, вибрации. Отсюда и хлопки, щелчки, треск и другие подозрительные
                    звуки. Отремонтировать сам диск в таком случае практически нереально, а вот «спасти» информацию,
                    сохраненную на нем, вполне возможно при обращении к компетентным специалистам.
                </p>
            </article>
            <div class="article__content article__content--small">
                <ul class="article__content-list">
                    <li class="style-square style-square--top">Неестественные звуки (хлопки, щелчки, треск, и др.)</li>
                    <li class="style-square style-square--top">Внешний диск не распознается ПК</li>
                    <li class="style-square style-square--top">Появление нерабочих или битых файлов</li>
                </ul>
            </div>
        </div>
        <h3 class="article__content-title">Логические нарушения</h3>
        <div class="article__wrapper  ">
            <article class="article__content article__content--big">
                <p class="article__content-text">Причинами логических проблем часто становятся ошибочные действия
                    пользователя, такие как случайное удаление документов, фото и другой информации или непреднамеренное
                    форматирование. Отсоединение винчестера без использования функции «Безопасное извлечение» рано или
                    поздно также может привести к необходимости форматирования. В некоторых случаях нарушения в работе
                    переносного накопителя могут возникнуть в результате поражения каталога файлов вирусом.
                </p>
                <p class="article__content-text">Специалисты «DRK Company» помогут восстановить данные после логических
                    повреждений внешнего диска с помощью специальных программ.
                </p>
            </article>
            <div class="article__content article__content--small">
                <ul class="article__content-list">
                    <li class="style-square style-square--top">Носитель некорректно определяется в BIOS</li>
                    <li class="style-square style-square--top">Доступ к данным отсутствует или файлы загружаются очень
                        медленно;
                    </li>
                    <li class="style-square style-square--top">Не получается загрузить ОС, выполнить форматирование;
                    </li>
                    <li class="style-square style-square--top">Появляются битые файлы, исчезают отдельные данные и
                        папки.
                    </li>
                </ul>
            </div>
        </div>
        <h3 class="article__content-title">Выход из строя платы электроники</h3>
        <div class="article__wrapper  ">
            <article class="article__content article__content--big">
                <p class="article__content-text">Эта неисправность возникает из-за скачка напряжения или статического
                    электричества. Если повреждены отдельные элементы схемы, их заменяют, полностью возвращая
                    работоспособность техники и информацию на ней. При масштабном ущербе можно сохранить часть данных.
                </p>
            </article>
            <div class="article__content article__content--small">
                <ul class="article__content-list">
                    <li class="style-square style-square--top">Носитель не определяется в BIOS</li>
                    <li class="style-square style-square--top">Отсутствие каких-либо звуков при подключении</li>
                    <li class="style-square style-square--top">Горелый запах</li>
                </ul>
            </div>
        </div>
        <h3 class="article__content-title">Поломка порта для подключения</h3>
        <div class="article__wrapper  ">
            <article class="article__content article__content--big">
                <p class="article__content-text">Система не распознает диск только из-за того, что сломалось гнездо,
                    предназначенное для подсоединения к ПК. В таком случае переживать за целостность информации не стоит
                    – она точно не пострадает. Оптимальный выход из ситуации – замена или «перепайка» разъема.
                </p>
            </article>
            <div class="article__content article__content--small">
                <ul class="article__content-list">
                    <li class="style-square style-square--top">При подключении не загорается индикатор</li>
                    <li class="style-square style-square--top">Отсутствие каких-либо звуков при подключении</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="article">
    <div class="container">
        <h2 class="article__title">Неисправен внешний жесткий диск - что делать?</h2>
        <h3 class="article__content-title">Выключите внешний жесткий диск</h3>
        <div class="article__wrapper article__wrapper--revers">
            <article class="article__content article__content--big">
                <p class="article__content-text">В случае потери данных немедленно отключите внешний жесткий диск от
                    источника питания. Для успешного восстановления данных внешнего диска мы рекомендуем больше не
                    подключать диск к компьютеру/ноутбуку. Это увеличивает шансы на успешное восстановление и спасение
                    файлов. Не следует применять утилиты для возврата информации: при физических неисправностях они лишь
                    создадут избыточную нагрузку и еще больше повредят компоненты диска и сами файлы. На HDD головка
                    способна поцарапать магнитную пластину по кругу, что приведет к непоправимому ущербу.
                </p>
            </article>
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/hdd-11.webp 1x, ../../image/gallery/hdd-11-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/hdd-11.jpg 1x, ../../image/gallery/hdd-11-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/hdd-11.jpg"
                             srcset="../../image/gallery/hdd-11-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
        </div>
        <h3 class="article__content-title">Свяжитесь с нами по восстановлению данных</h3>
        <div class="article__wrapper article__wrapper--revers">
            <article class="article__content article__content--big">
                <p class="article__content-text">Чем больше информации о вашем носителе мы имеем, тем лучше наши
                    специалисты смогут вас проконсультировать. Например, жесткий диск больше не отображается в BIOS или
                    жесткий диск больше не распознается операционной системой, но по-прежнему отображается в BIOS?
                    Сообщите нам размер (например, 2,5, 3,5 дюйма), емкость (размер жесткого диска 500 ГБ, 1 ТБ, 2 ТБ, 8
                    ТБ и другое), производителя (Seagate, Toshiba, Western Digital, Medion, Maxtor, Kingston, Hitachi, и
                    другое), а также соответствующий интерфейс (USB, eSATA, Firewire, Thunderbolt). Мы предлагаем вам
                    возможность профессионального и компетентного обслуживания для сохранения ваших данных.
                </p>
            </article>
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/hdd-12.webp 1x, ../../image/gallery/hdd-12-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/hdd-12.jpg 1x, ../../image/gallery/hdd-12-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/hdd-12.jpg"
                             srcset="../../image/gallery/hdd-12-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('templates/banner.ejs') %>
<%- include('templates/faq.ejs') %>
<%- include('templates/footer.ejs') %>
</body>
</html>