<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DRK</title>
    <link type="image/png" rel="icon" href="../../image/icon/favicon.png">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="rgb(117, 127, 154)">
</head>
<body>
<%- include('templates/header.ejs') %>
<div class="bread-crumbs container">
    <span>Главная</span>
</div>
<div id="adfox_166271961704287928"></div>
<script>
    window.yaContextCb.push(()=>{
        Ya.adfoxCode.create({
            ownerId: 706443,
            containerId: 'adfox_166271961704287928',
            params: {
                p1: 'cvsfx',
                p2: 'y'
            }
        })
    })
</script>
<section class="banner">
    <div class="container">
        <div class="banner__wrapper">
            <h2 class="banner__title">Восстановление данных с разных носителей</h2>
            <div class="banner__body">
                <p>Работаем по всей Германии и ближайшим странам.</p>
                <p>Восстанавливаем данные по приемлемым ценам.</p>
            </div>
            <a class="btn--inline btn" href="./restore-data.html" title="Форма для заказа на восстановление данных">Получить
                помощь</a>
        </div>
    </div>
</section>
<section class="article">
    <div class="container">
        <div class="article__wrapper  ">
            <article class="article__content article__content--big">
                <p class="article__content-text">Информация сегодня - это ценность, и ее потеря - это проблема как для
                    частных пользователей, так и для бизнеса, который часто терпит убытки в таких ситуациях.
                    Восстановление информации — это работа для профессионалов, которые имеют достаточный опыт,
                    специализированные аппаратные средства и оборудование. DRK Company профессионально занимается
                    восстановлением данных и возвращают данные независимо от того, по какой причине они были
                    утеряны.</p>
            </article>
            <div class="article__content article__content--small">
                <ul class="article__content-list">
                    <li class="style-square style-square--top">Экспертная диагностика</li>
                    <li class="style-square style-square--top">Профессиональные инструменты и оборудование</li>
                    <li class="style-square style-square--top">Технологически чистая комната</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="article">
    <div class="container">
        <h2 class="article__title">Популярные услуги</h2>
        <div class="article__wrapper  ">
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/hdd-S.webp 1x, ../../image/gallery/hdd-L.webp 2x" type="image/webp">
                        <source srcset="../../image/gallery/hdd-S.png 1x, ../../image/gallery/hdd-L.png 2x" type="image/png">
                        <img src="../../image/gallery/hdd-S.png" srcset="../../image/gallery/hdd-L.png 2x" alt="">
                    </picture>
                </div>
            </div>
            <article class="article__content article__content--big">
                <h2 class="article__content-title">Восстановление данных жестких дисков (HDD)</h2>
                <p class="article__content-text article__content-text--small">Жесткие диски - самый распространенный
                    носитель информации в
                    компьютерах, ноутбуках и серверах. Отказ жесткого диска случается редко и непредсказуемо, и когда он
                    возникает, это очень неприятно. Но не волнуйтесь: ваши данные еще не полностью исчезли.
                </p>
                <p class="article__content-text article__content-text--small">В DRK Company имеется специализированное
                    оборудование и большое
                    количество дисков - доноров. Это позволяет нам восстанавливать информацию с любых жестких дисков, от
                    самых старых и до самых современных моделей:
                    Fujitsu, Hitachi, Maxtor, Samsung, Seagate, Western Digital, и др.
                </p>
                <div class="article__product-price">Стоимость от <span class="price">150</span></div>
                <a class="btn--inline  btn" href="HDD.html"
                   title="Восстановление данных жестких дисков (HDD)">Подробнее</a>
            </article>

        </div>
        <div class="article__wrapper  ">
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                <picture>
                    <source srcset="../../image/gallery/ssd-S.webp 1x, ../../image/gallery/ssd-L.webp 2x" type="image/webp">
                    <source srcset="../../image/gallery/ssd-S.png 1x, ../../image/gallery/ssd-L.png 2x" type="image/png">
                    <img src="../../image/gallery/ssd-S.png" srcset="../../image/gallery/ssd-L.png 2x" alt="">
                </picture>
                </div>
            </div>
            <article class="article__content article__content--big">
                <h2 class="article__content-title">Восстановление данных твердотельных накопителей (SSD)</h2>
                <p class="article__content-text article__content-text--small">SDD диск - это высокоскоростное устройство
                    хранения информации на
                    основе Flash памяти типа NAND. Твердотельные накопители имеют много преимуществ в сравнении с
                    жесткими дисками, однако вернуть на них удалённые файлы сложнее. Из-за технологически сложной
                    конструкции (электронной, а не механической) требуются специальные знания о процессе восстановления
                    носителей SSD. Специалисты DRK Company имеют большой опыт работы с этими носителями.
                </p>
                <div class="article__product-price">Стоимость от <span class="price">150</span></div>
                <a class="btn--inline  btn" href="SSD.html" title="Восстановление данных SSD">Подробнее</a>
            </article>
        </div>
        <div class="article__wrapper  ">
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/NAS-S.webp 1x, ../../image/gallery/NAS-L.webp 2x" type="image/webp">
                        <source srcset="../../image/gallery/NAS-S.png 1x, ../../image/gallery/NAS-L.png 2x" type="image/png">
                        <img src="../../image/gallery/NAS-S.png" srcset="../../image/gallery/NAS-L.png 2x" alt="">
                    </picture>
                </div>
            </div>
            <article class="article__content article__content--big">
                <h2 class="article__content-title">Сетевое хранилище данных (NAS)</h2>
                <p class="article__content-text article__content-text--small">NAS – идеальный вариант для хранния
                    большого объема информации.
                    Устройства состоят из сетевых контроллеров и заданного числа накопителей. Системы позволяют быстро
                    получать доступ к одному и тому же файлу с различных персональных компьютеров. Несмотря на свою
                    признанную надежность, иногда дают сбои.
                </p>
                <p class="article__content-text article__content-text--small">Вернуть данные при обнаружении внешних или
                    внутренних проблем жестких
                    дисков массивов хранилища NAS реально. Однако, это трудоемкий процесс, который требует достаточного
                    опыта и компетенций. NAS — это наш профиль и любимое занятие. Мастера DRK Company занимаются
                    восстановлением данных с NAS устройств любых производителей и при любых поломках.
                </p>
                <div class="article__product-price ">Стоимость от <span class="price">390</span></div>
                <a class="btn--inline  btn" href="NAS.html" title="Восстановление данных NAS">Подробнее</a>
            </article>
        </div>
        <div class="article__wrapper  ">
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/raid-S.webp 1x, ../../image/gallery/raid-L.webp 2x" type="image/webp">
                        <source srcset="../../image/gallery/raid-S.png 1x, ../../image/gallery/raid-L.png 2x" type="image/png">
                        <img src="../../image/gallery/raid-S.png" srcset="../../image/gallery/raid-L.png 2x" alt="">
                    </picture>
                </div>
            </div>
            <article class="article__content article__content--big">
                <h2 class="article__content-title">Восстановление данных RAID</h2>
                <p class="article__content-text article__content-text--small">Восстановление RAID данных является
                    сложным процессом, однако может
                    быть реализовано при определенных условиях. Причинами потери или повреждения информации могут стать:
                    выход из строя контролера, отказ одновременно нескольких винчестеров, изменение конфигурации
                    массива. Также восстановление данных raid массива может понадобиться по причине ошибок пользователя
                    или логическом разрушении информации.
                </p>
                <p class="article__content-text article__content-text--small">Восстановление информации RAID массива -
                    одна из основных специализаций
                    DRK Company. Корпоративные клиенты часто обращаются к нам для восстановления информации с
                    RAID-массивов. Благодаря использованию инновационных технологий и нашему многолетнему опыту в
                    области восстановления данных (RAID), мы помогаем заказчикам восстановить RAID-массивы и избежать
                    финансовых потерь.
                </p>
                <div class="article__product-price">Стоимость от <span class="price">390</span></div>
                <a class="btn--inline  btn" href="raid.html" title="Восстановление данных RAID">Подробнее</a>
            </article>
        </div>
        <div class="article__wrapper  ">
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/USB-Flash-S.webp 1x, ../../image/gallery/USB-Flash-L.webp 2x" type="image/webp">
                        <source srcset="../../image/gallery/USB-Flash-S.png 1x, ../../image/gallery/USB-Flash-L.png 2x" type="image/png">
                        <img src="../../image/gallery/USB-Flash-S.png" srcset="../../image/gallery/USB-Flash-L.png 2x" alt="">
                    </picture>
                </div>
            </div>
            <article class="article__content article__content--big">
                <h2 class="article__content-title">Восстановление данных USB-Flash</h2>
                <p class="article__content-text article__content-text--small">Процесс восстановления информации с
                    флэш-карт имеет свои особенности,
                    которые связаны со спецификой строения. Архитектура Flash значительно отличается от других
                    носителей. Процесс восстановления флеш-пямяти требует специального технологического оборудования и
                    точного знания устройства, функций контроллера и блоков хранения.
                </p>
                <p class="article__content-text article__content-text--small">Мы восстанавливаем данные с флешек на
                    аппаратном уровне. Разбираем
                    флешку, выпаиваем чип памяти, корректируем его и восстанавливаем данные имитируя работу контроллера.
                    С помощью нашего инновационного оборудования вероятность восстановления данных 98%.
                </p>
                <div class="article__product-price ">Стоимость от <span class="price">150</span></div>
                <a class="btn--inline  btn" href="USB-stick.html" title="Восстановление данных USB-Flash">Подробнее</a>
            </article>
        </div>
    </div>
</section>
<section class="article">
    <div class="container">
        <div class="article__wrapper  ">
            <article class="article__content article__content--big">
                <p class="article__content-text">Помимо упомянутых выше накопителей, сервисные инженеры DRK Company
                    восстанавливают и возвращают данные: виртуальных систем, внешних дисков, SD и Micro SD Карт,
                    Ноутбуков, Mакбуков, и т.д. Если Вы не нашли устройство, требующее восстановления данных у нас на
                    сайте, позвоните нам, возможно мы уже сталкивались с подобными случаями.</p>
            </article>
            <div class="article__content article__content--small min-banner">
                <p class="article__content-text article__content-text--big">Вы можете связаться
                    с нами по телефону: <a href="tel:+4908004090908" class="tel tel--bigXL">+49 (0) 800 409 09
                        08</a>
                    <br/>
                    Звонок бесплатный
                </p>
            </div>
        </div>
    </div>
</section>
<section class="banner">
    <div class="container">
        <div class="banner__wrapper banner__wrapper--flex">
            <div class="form__info form__info--half">
                <h2 class="form__info-title">Закажите бесплатную диагностику сейчас</h2>
                <p class="form__info-text form__info--bigText">Изучим ваш носитель данных в лаборатории DRK Company.
                    Проанализируем ущерб -
                    бесплатно и без обязательств.
                </p>
            </div>
            <%- include('./templates/min-form.ejs') %>
        </div>
    </div>

</section>
<section class="stages">
    <div class="container">
        <h2 class="stages__title">Почему нас выбирают</h2>
        <div class="stages__wrapper">
            <div class="stage__item">
                <div class="stage__img-box">
                    <picture>
                        <source srcset="../../image/icon/wallet.webp 1x, ../../image/icon/wallet-2x.webp 2x" type="image/webp">
                        <source srcset="../../image/icon/wallet.png 1x, ../../image/icon/wallet-2x.png 2x" type="image/png">
                        <img src="../../image/icon/wallet.png" srcset="../../image/icon/wallet-2x.png 2x" alt="">
                    </picture>
                </div>
                <h4 class="stage__content-title">Приемлемые цены</h4>
                <p class="stage__content-text">Мы не навязываем дополнительных услуг, наш прайс вас приятно удивит.
                    Экспертная диагностика проводится бесплатно.
                </p>
            </div>
            <div class="stage__item">
                <div class="stage__img-box">
                    <picture>
                        <source srcset="../../image/icon/approach.webp 1x, ../../image/icon/approach-2x.webp 2x" type="image/webp">
                        <source srcset="../../image/icon/approach.png 1x, ../../image/icon/approach-2x.png 2x" type="image/png">
                        <img src="../../image/icon/approach.png" srcset="../../image/icon/approach-2x.png 2x" alt="">
                    </picture>
                </div>
                <h4 class="stage__content-title">Индивидуальный подход</h4>
                <p class="stage__content-text">Мы всегда на связи чтобы вам помочь. Готовы предложить особые условия:
                    экспресс восстановление, консультации и рекомендации, индивидуальный расчет.
                </p>
            </div>
            <div class="stage__item">
                <div class="stage__img-box">
                    <picture>
                        <source srcset="../../image/icon/hands.webp 1x, ../../image/icon/hands-2x.webp 2x" type="image/webp">
                        <source srcset="../../image/icon/hands.png 1x, ../../image/icon/hands-2x.png 2x" type="image/png">
                        <img src="../../image/icon/hands.png" srcset="../../image/icon/hands-2x.png 2x" alt="">
                    </picture>
                </div>
                <h4 class="stage__content-title">Оплата только после результата</h4>
                <p class="stage__content-text">В подтверждение о восстановлении мы отправляем вам список файлов. Оплата
                    только за результат и только после проверки.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="about__section">
    <div class="container">
        <div class="about__wrapper">
            <article class="about__article">
                <h2 class="about__article-title">О нас в цифрах</h2>
                <p class="about__article-text">
                    DRK Company восстановит ваши данные с цифровых носителей при любых проблемах: физических
                    неисправностях и логических сбоях.
                    Мы начали свой путь в 2015 г. Каждый день мы решаем разные
                    задачи и простые, как восстановление случайно удаленных файлов с
                    флешки и сложные, как восстановление больших объемов данных с
                    сервера компании. Мы беремся даже за то, от чего отказались другие!
                    Мы умеем и знаем как восстанавливать данные и это подтверждено
                    отзывами о нашей работе.
                </p>
            </article>
            <div class="about__success">
                <div class="about__success-inner">
                    <p class="about__success-number">98%</p>
                    <p class="about__success-text">Успешных случаев восстановления данных</p>
                </div>
                <div class="about__success-inner">
                    <p class="about__success-number">75 <span>регионов</span></p>
                    <p class="about__success-text">Из которых к нам поступали носители на восстановление</p>
                </div>
                <div class="about__success-inner">
                    <p class="about__success-number"><span>более </span>15<span> лет</span></p>
                    <p class="about__success-text">Опыт специалистов в сфере восстановления данных </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="reviews__section">
    <div class="container">
        <h2 class="reviews__title">Настоящие отзывы о DRK Company</h2>
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="reviews__wrapper swiper-slide">
                    <article class="review__article review__article--client">
                        <div class="quote"><img src="../../image/icon/quote.png" alt="quote"></div>
                        <p class="review__text">Здесь будет текст, который расскажет
                            клиент в видеоотзыве, поэтому видеоотзывы
                            нужно сделать максимально короткими
                            15-30 секунд, чтобы файлы были
                            не тяжелыми и быстро прогружались</p>
                        <address class="review__author"><span>-</span>Klauss D</address>
                        <time class="review__time" pubdate datetime="2021-7-12" title="12 Июля 2021">12 июня</time>
                    </article>
                    <div class="review__media">
                        <video controls preload="none">
                            <source src="#" type="video/mp4">
                        </video>
                    </div>
                </div>
                <div class="reviews__wrapper swiper-slide">
                    <article class="review__article review__article--client">
                        <div class="quote"><img src="../../image/icon/quote.png" alt="quote"></div>
                        <p class="review__text">Здесь будет текст, который расскажет
                            клиент в видеоотзыве, поэтому видеоотзывы
                            нужно сделать максимально короткими
                            15-30 секунд, чтобы файлы были
                            не тяжелыми и быстро прогружались</p>
                        <address class="review__author"><span>-</span>Klauss D</address>
                        <time class="review__time" pubdate datetime="2021-7-12" title="12 Июля 2021">12 июня</time>
                    </article>
                    <div class="review__media">
                        <video controls preload="none">
                            <source src="https://youtu.be/eWrstRfalnw">
                        </video>
                    </div>
                </div>
                <div class="reviews__wrapper swiper-slide">
                    <article class="review__article review__article--client">
                        <div class="quote"><img src="../../image/icon/quote.png" alt="quote"></div>
                        <p class="review__text">Здесь будет текст</p>
                        <address class="review__author"><span>-</span>Klauss D</address>
                        <time class="review__time" pubdate datetime="2021-7-12" title="12 Июля 2021">12 июня</time>
                    </article>
                    <div class="review__media">
                        <video controls preload="none">
                            <source src="https://youtu.be/eWrstRfalnw">
                        </video>
                    </div>
                </div>

            </div>
            <div class="swiper-button-block">
                <div class="swiper-button swiper-button-prev"></div>
                <div class="swiper-button swiper-button-next"></div>
            </div>
        </div>
    </div>
</section>
<section class="reviews__section">
    <div class="container">
        <h2 class="reviews__title">Мы ценим каждого клиента</h2>
        <h3 class="reviews__subtitle">Несколько слов от руководителя «DRK Company»</h3>
        <div class="reviews__wrapper">
            <article class="review__article">
                <div class="quote"><img src="../../image/icon/quote.png" alt="quote"></div>
                <p class="review__text">Каждое восстановление данных - уникальная история, где каждый видео- или фото
                    файл — это жизнь, мгновения любви, радости или этапы взросления человека. Либо это необходимая
                    рабочая информация, годами наработанные контакты или очень сберегаемые архивы, имеющие высокую
                    ценность.
                    Мы одинаково ценим каждого заказчика – от стартапа до корпорации. Особое внимание уделяем качеству
                    технической поддержки наших клиентов.</p>
                <address class="review__author"><span>-</span>S. Michel</address>
                <p class="review__position">Основатель компании</p>
            </article>
            <div class="review__media">
                <div class="review__img-box">
                    <picture>
                        <source srcset="../../media/review/image/manager.webp" type="image/webp">
                        <source srcset="../../media/review/image/manager.jpg" type="image/jpg">
                        <img src="../../media/review/image/manager.jpg" alt="">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="stages">
    <div class="container">
        <h2 class="stages__title">Как мы работаем</h2>
        <div class="stages__wrapper">
            <div class="stage__item">
                <div class="stage__img-box stage__img-box--big">
                    <picture>
                        <source srcset="../../image/icon/request.webp 1x, ../../image/icon/request-2x.webp 2x" type="image/webp">
                        <source srcset="../../image/icon/request.png 1x, ../../image/icon/request-2x.png 2x" type="image/png">
                        <img src="../../image/icon/request.png" srcset="../../image/icon/request-2x.png 2x" alt="">
                    </picture>
                </div>
                <h4 class="stage__content-title">Обращение</h4>
                <p class="stage__content-text">Обратитесь к нам любым удобным способом:</p>
                <ul>
                    <li>заполнить <a href="./restore-data.html" title="Форма для заказа на восстановление данных"><b>форму
                                на сайте</b></a>;
                    </li>
                    <li><a href="tel:+4908004090908" class="tel"><b>+49 (0) 800 409 09 08</b></a></li>
                </ul>
                <p class="stage__content-text">Обратиться можно в любое время.</p>
            </div>
            <div class="stage__item">
                <div class="stage__img-box stage__img-box--big">
                    <picture>
                        <source srcset="../../image/icon/delivery.webp 1x, ../../image/icon/delivery-2x.webp 2x" type="image/webp">
                        <source srcset="../../image/icon/delivery.png 1x, ../../image/icon/delivery-2x.png 2x" type="image/png">
                        <img src="../../image/icon/delivery.png" srcset="../../image/icon/delivery-2x.png 2x" alt="">
                    </picture>
                </div>
                <h4 class="stage__content-title">Доставка носителя</h4>
                <p class="stage__content-text">Приносите носитель к нам в офис или отправляете его любой почтовой
                    службой.</p>
            </div>
            <div class="stage__item">
                <div class="stage__img-box stage__img-box--big">
                    <picture>
                        <source srcset="../../image/icon/diagnostics.webp 1x, ../../image/icon/diagnostics-2x.webp 2x" type="image/webp">
                        <source srcset="../../image/icon/diagnostics.png 1x, ../../image/icon/diagnostics-2x.png 2x" type="image/png">
                        <img src="../../image/icon/diagnostics.png" srcset="../../image/icon/diagnostics-2x.png 2x" alt="">
                    </picture>
                </div>
                <h4 class="stage__content-title">Диагностика</h4>
                <p class="stage__content-text">Глубокая диагностика в лаборатории, оценка стоимости и сроков работ.
                    Диагностику мы проведем бесплатно, даже если вы не воспользуетесь услугой восстановления данных.
                </p>
            </div>
            <div class="stage__item">
                <div class="stage__img-box stage__img-box--big">
                    <picture>
                        <source srcset="../../image/icon/matching.webp 1x, ../../image/icon/matching-2x.webp 2x" type="image/webp">
                        <source srcset="../../image/icon/matching.png 1x, ../../image/icon/matching-2x.png 2x" type="image/png">
                        <img src="../../image/icon/matching.png" srcset="../../image/icon/matching-2x.png 2x" alt="">
                    </picture>
                </div>
                <h4 class="stage__content-title">Согласование</h4>
                <p class="stage__content-text">По результатам диагностики вам на почту отправляем предложение, в котором
                    будут указаны:</p>
                <ul>
                    <li>описание работ;</li>
                    <li>стоимость;</li>
                    <li>срок восстановления.</li>
                </ul>
                <p class="stage__content-text">В случае вашего согласия немедленно начинаем восстанавливать данные.</p>
            </div>
            <div class="stage__item">
                <div class="stage__img-box stage__img-box--big">
                    <picture>
                        <source srcset="../../image/icon/work.webp 1x, ../../image/icon/work-2x.webp 2x" type="image/webp">
                        <source srcset="../../image/icon/work.png 1x, ../../image/icon/work-2x.png 2x" type="image/png">
                        <img src="../../image/icon/work.png" srcset="../../image/icon/work-2x.png 2x" alt="">
                    </picture>
                </div>
                <h4 class="stage__content-title">Восстановление данных</h4>
                <p class="stage__content-text">В зависимости от срочности и бюджета мы предлагаем несколько вариантов
                    обслуживания. Если вам нужна наша экспресс-услуга , мы также работаем по ночам и в выходные дни, что
                    значительно сокращает время обработки.</p>
            </div>
            <div class="stage__item">
                <div class="stage__img-box stage__img-box--big">
                    <picture>
                        <source srcset="../../image/icon/result.webp 1x, ../../image/icon/result-2x.webp 2x" type="image/webp">
                        <source srcset="../../image/icon/result.png 1x, ../../image/icon/result-2x.png 2x" type="image/png">
                        <img src="../../image/icon/result.png" srcset="../../image/icon/result-2x.png 2x" alt="">
                    </picture>
                </div>
                <h4 class="stage__content-title">Результат</h4>
                <p class="stage__content-text">Вы получите список сохраненных данных. Принимая список, вы подтверждаете
                    успех восстановления данных. Оплата только в случае успеха. Передача данных возможна 3 способами: на
                    ваш диск, на наш диск, либо отправляем ссылку на облако. Не обязательно ехать в офис, обратно диск
                    доставим курьером.</p>
            </div>
        </div>
    </div>
</section>
<section class="banner">
    <div class="container">
        <div class="banner__wrapper">
            <h2 class="banner__title">Оставить заявку на восстановление данных</h2>
            <div class="banner__body">
                <p>Чтобы ваш носитель информации был проанализирован как можно
                    быстрее, заполните нашу форму анализа. Мы свяжемся с вами сразу
                    после получения формы и обсудим дальнейшую процедуру.</p>
            </div>
            <a class="btn--inline btn" href="./restore-data.html" title="Форма для заказа на восстановление данных">Восстановить
                данные</a>
        </div>
    </div>
</section>
<%- include('templates/faq.ejs') %>
<section class="expert-blog">
    <div class="container">
        <div class="expert-blog__wrapper">
            <article class="expert-blog__article">
                <h2 class="expert-blog__article-title">Блог от эксперта в восстановлении данных</h2>
                <p class="expert-blog__article-text">Делимся опытом, отвечаем на часто задаваемые вопросы, раскрываем
                    особенности процессов восстановления данных различных носителей информации</p>
                <div class="expert-blog__author-block">
                    <div class="expert-blog__author-img">
                        <picture>
                            <source srcset="../../media/review/image/manager-S.webp 1x, ../../media/review/image/manager-S-2x.webp 2x" type="image/webp">
                            <source srcset="../../media/review/image/manager-S.jpg 1x, ../../media/review/image/manager-S-2x.jpg 2x" type="image/jpg">
                            <img src="../../media/review/image/manager-S.jpg" srcset="../../media/review/image/manager-S-2x.jpg 2x" alt="">
                        </picture>
                    </div>
                    <div class="expert-blog__author-info">
                        <address class="expert-blog__author-name">S. Michel</address>
                        <p class="expert-blog__author-position">Основатель компании</p>
                        <p class="expert-blog__author-experience">Опыт: <span>22 года</span></p>
                    </div>
                </div>
            </article>
            <div class="expert-blog__other-articles">
                <div class="expert-blog__article-card">
                    <div class="expert-blog__link transition-link"><a href="./blog-article1.html"
                                                                      title="Статья компании DRK Company">Перейти в
                            статью</a></div>
                    <p class="expert-blog__card-text">Восстановление данных HDD: что делать, если данные ценны?</p>
                </div>
                <div class="expert-blog__article-card">
                    <div class="expert-blog__link transition-link"><a href="./blog-article2.html"
                                                                      title="Статья компании DRK Company">Перейти в
                            статью</a></div>
                    <p class="expert-blog__card-text">Можно ли восстановить данные с неисправного SSD диска?</p>
                </div>
                <div class="expert-blog__article-card">
                    <div class="expert-blog__link transition-link"><a href="./blog-article3.html"
                                                                      title="Статья компании DRK Company">Перейти в
                            статью</a></div>
                    <p class="expert-blog__card-text">Восстановление файлов с флешки после форматирования.</p>
                </div>
                <div class="expert-blog__article-card">
                    <div class="expert-blog__link transition-link"><a href="./blog-article4.html"
                                                                      title="Статья компании DRK Company">Перейти в
                            статью</a></div>
                    <p class="expert-blog__card-text">Что делать если повредился RAID массив? Как достать данные?</p>
                </div>
            </div>
            <div class="expert-blog__other-articles expert-blog__other-articles--stretch">
            </div>
            <div class="transition-link"><a href="./blog.html" title="Блог компании DRK Company">Перейти в блог</a>
            </div>
        </div>
    </div>
</section>
<%- include('templates/footer.ejs') %>

</body>
</html>