<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DRK</title>
    <link type="image/png" rel="icon" href="../../image/icon/favicon.png">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fafafa">
</head>
<body>
<%- include('templates/header.ejs') %>
<div class="bread-crumbs container">
    <span>Главная</span>
    <span>Raid</span>
</div>
<section class="article">
    <div class="container">
        <h2 class="article__title">Восстановление данных Raid</h2>
        <div class="article__wrapper  article__wrapper--revers">
            <article class="article__content article__content--big">
                <p class="article__content-text">RAID-массивы – это дисковые массивы, в состав которых входят HDD или
                    SSD накопители. Эту технологию
                    часто выбирают компании и профессионалы потому что она позволяет обеспечить высокий уровень
                    сохранности важных данных. Вся необходимая информация записывается сразу на несколько дисков
                    одновременно, поэтому если один накопитель выйдет из строя, то у владельцев данных все равно
                    останется их копия.
                </p>
                <p class="article__content-text">Восстановление данных с RAID требует не только знаний об отдельных
                    уровнях RAID, а также опыт работы
                    с отдельными файловыми системами. Это куда сложнее, чем восстановление данных одного винчестера. А
                    данные, хранящиеся на RAID-массиве, как правило, гораздо важнее, чем на обычном жестком диске.
                    Поэтому тут зачастую встает вопрос о работоспособности всей организации, и это уже совсем другая
                    ответственность! «DRK-company» восстанавливает данные с RAID-массивов любого уровня (0, 1, 2, 3, 4,
                    5, 6, 10 и другие) и при любых поломках. Наши специалисты решают любые проблемы, как правило —
                    быстрее, чем сотрудники других компаний.
                </p>
            </article>
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/raid.webp 1x, ../../image/gallery/raid-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/raid.jpg 1x, ../../image/gallery/raid-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/raid.jpg"
                             srcset="../../image/gallery/raid-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
        </div>
        <div class="about__success about__success-row">
            <div class="about__success-inner">
                <p class="about__success-number">98%</p>
                <p class="about__success-text">Успешных случаев восстановления данных</p>
            </div>
            <div class="about__success-inner">
                <p class="about__success-number"><span>более </span>15<span> лет</span></p>
                <p class="about__success-text">Опыт специалистов в сфере восстановления данных </p>
            </div>
            <div class="about__success-inner">
                <p class="about__success-number"><span>более</span>2000</p>
                <p class="about__success-text">Количество дисков-доноров в базе DRK Company</p>
            </div>
        </div>
        <div class="article__wrapper article__wrapper--revers">
            <article class="article__content article__content--big">
                <p class="article__content-text">Данные часто хранятся и архивируются в средах NAS или SAN. Эти решения
                    варьируются от RAID-0/1 для
                    отдельных рабочих станций до сетевых систем хранения с высокой доступностью, оснащенных более
                    высокими уровнями RAID, такими как RAID 5, RAID-10 или RAID-50. Наиболее известные производители
                    таких решений: Buffalo Technologies, Western Digital, Seagate, Maxtor, Lacie, Netapp, Verbatim,
                    Netapp, Thecus, Netgear или Synology и многие другие.
                </p>
                <p class="article__content-text">В случае сбоя NAS самостоятельно восстановить данные RAID практически
                    невозможно. Обычно мы
                    рекомендуем администраторам компаний обращаться в лабораторию восстановления данных напрямую в
                    случае сбоя. Даже на поврежденных носителях данных информацию можно восстановить полностью и без
                    пропусков, если использовать подходящие для этого решения. Этим и занимаются специалисты DRK
                    Company.
                </p>
            </article>
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/raid-2.webp 1x, ../../image/gallery/raid-2-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/raid-2.jpg 1x, ../../image/gallery/raid-2-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/raid-2.jpg"
                             srcset="../../image/gallery/raid-2-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
        </div>
        <div class="brand">
            <div class="brand__swiper">
                <div class="swiper-wrapper">
                    <div class="brand__content swiper-slide">
                        <div class="brand__content-img">
                            <picture>
                                <source srcset="../../image/brand/AData-S.webp 1x, ../../image/brand/AData-S-2x.webp 2x"
                                        type="image/webp">
                                <source srcset="../../image/brand/AData-S.jpg 1x, ../../image/brand/AData-S-2x.jpg 2x"
                                        type="image/jpg">
                                <img src="../../image/brand/AData-S.jpg" srcset="../../image/brand/AData-S-2x.jpg 2x"
                                     alt="">
                            </picture>
                        </div>
                        <p>AData</p>
                    </div>
                    <div class="brand__content swiper-slide">
                        <div class="brand__content-img">
                            <picture>
                                <source srcset="../../image/brand/Silicon-Power-S.webp 1x, ../../image/brand/Silicon-Power-S-2x.webp 2x"
                                        type="image/webp">
                                <source srcset="../../image/brand/Silicon-Power-S.jpg 1x, ../../image/brand/Silicon-Power-S-2x.jpg 2x"
                                        type="image/jpg">
                                <img src="../../image/brand/Silicon-Power-S.jpg"
                                     srcset="../../image/brand/Silicon-Power-S-2x.jpg 2x" alt="">
                            </picture>
                        </div>
                        <p>Silicon Power</p>
                    </div>
                    <div class="brand__content swiper-slide">
                        <div class="brand__content-img">
                            <picture>
                                <source srcset="../../image/brand/SanDisk-S.webp 1x, ../../image/brand/SanDisk-S-2x.webp 2x"
                                        type="image/webp">
                                <source srcset="../../image/brand/SanDisk-S.jpg 1x, ../../image/brand/SanDisk-S-2x.jpg 2x"
                                        type="image/jpg">
                                <img src="../../image/brand/SanDisk-S.jpg"
                                     srcset="../../image/brand/SanDisk-S-2x.jpg 2x" alt="">
                            </picture>
                        </div>
                        <p>SanDisk</p>
                    </div>
                    <div class="brand__content swiper-slide">
                        <div class="brand__content-img">
                            <picture>
                                <source srcset="../../image/brand/Medion-S.webp 1x, ../../image/brand/Medion-S-2x.webp 2x"
                                        type="image/webp">
                                <source srcset="../../image/brand/Medion-S.jpg 1x, ../../image/brand/Medion-S-2x.jpg 2x"
                                        type="image/jpg">
                                <img src="../../image/brand/Medion-S.jpg" srcset="../../image/brand/Medion-S-2x.jpg 2x"
                                     alt="">
                            </picture>
                        </div>
                        <p>Medion</p>
                    </div>
                    <div class="brand__content swiper-slide">
                        <div class="brand__content-img">
                            <picture>
                                <source srcset="../../image/brand/Lacie-S.webp 1x, ../../image/brand/Lacie-S-2x.webp 2x"
                                        type="image/webp">
                                <source srcset="../../image/brand/Lacie-S.jpg 1x, ../../image/brand/Lacie-S-2x.jpg 2x"
                                        type="image/jpg">
                                <img src="../../image/brand/Lacie-S.jpg" srcset="../../image/brand/Lacie-S-2x.jpg 2x"
                                     alt="">
                            </picture>
                        </div>
                        <p>Lacie</p>
                    </div>
                    <div class="brand__content swiper-slide">
                        <div class="brand__content-img">
                            <picture>
                                <source srcset="../../image/brand/Seagate-S.webp 1x, ../../image/brand/Seagate-S-2x.webp 2x"
                                        type="image/webp">
                                <source srcset="../../image/brand/Seagate-S.jpg 1x, ../../image/brand/Seagate-S-2x.jpg 2x"
                                        type="image/jpg">
                                <img src="../../image/brand/Seagate-S.jpg"
                                     srcset="../../image/brand/Seagate-S-2x.jpg 2x" alt="">
                            </picture>
                        </div>
                        <p>Seagate</p>
                    </div>
                    <div class="brand__content swiper-slide">
                        <div class="brand__content-img">
                            <picture>
                                <source srcset="../../image/brand/Kingston-logo-S.webp 1x, ../../image/brand/Kingston-logo-S-2x.webp 2x"
                                        type="image/webp">
                                <source srcset="../../image/brand/Kingston-logo-S.jpg 1x, ../../image/brand/Kingston-logo-S-2x.jpg 2x"
                                        type="image/jpg">
                                <img src="../../image/brand/Kingston-logo-S.jpg"
                                     srcset="../../image/brand/Kingston-logo-S-2x.jpg 2x" alt="">
                            </picture>
                        </div>
                        <p>Kingston</p>
                    </div>
                    <div class="brand__content swiper-slide">
                        <div class="brand__content-img">
                            <picture>
                                <source srcset="../../image/brand/Toshiba-S.webp 1x, ../../image/brand/Toshiba-S-2x.webp 2x"
                                        type="image/webp">
                                <source srcset="../../image/brand/Toshiba-S.jpg 1x, ../../image/brand/Toshiba-S-2x.jpg 2x"
                                        type="image/jpg">
                                <img src="../../image/brand/Toshiba-S.jpg"
                                     srcset="../../image/brand/Toshiba-S-2x.jpg 2x" alt="">
                            </picture>
                        </div>
                        <p>Toshiba</p>
                    </div>
                    <div class="brand__content swiper-slide">
                        <div class="brand__content-img">
                            <picture>
                                <source srcset="../../image/brand/Samsung-S.webp 1x, ../../image/brand/Samsung-S-2x.webp 2x"
                                        type="image/webp">
                                <source srcset="../../image/brand/Samsung-S.jpg 1x, ../../image/brand/Samsung-S-2x.jpg 2x"
                                        type="image/jpg">
                                <img src="../../image/brand/Samsung-S.jpg"
                                     srcset="../../image/brand/Samsung-S-2x.jpg 2x" alt="">
                            </picture>
                        </div>
                        <p>Samsung</p>
                    </div>
                    <div class="brand__content swiper-slide">
                        <div class="brand__content-img">
                            <picture>
                                <source srcset="../../image/brand/Hitachi-S.webp 1x, ../../image/brand/Hitachi-S-2x.webp 2x"
                                        type="image/webp">
                                <source srcset="../../image/brand/Hitachi-S.jpg 1x, ../../image/brand/Hitachi-S-2x.jpg 2x"
                                        type="image/jpg">
                                <img src="../../image/brand/Hitachi-S.jpg"
                                     srcset="../../image/brand/Hitachi-S-2x.jpg 2x" alt="">
                            </picture>
                        </div>
                        <p>Hitachi</p>
                    </div>
                    <div class="brand__content swiper-slide">
                        <div class="brand__content-img">
                            <picture>
                                <source srcset="../../image/brand/HGST-S.webp 1x, ../../image/brand/HGST-S-2x.webp 2x"
                                        type="image/webp">
                                <source srcset="../../image/brand/HGST-S.jpg 1x, ../../image/brand/HGST-S-2x.jpg 2x"
                                        type="image/jpg">
                                <img src="../../image/brand/HGST-S.jpg" srcset="../../image/brand/HGST-S-2x.jpg 2x"
                                     alt="">
                            </picture>
                        </div>
                        <p>HGST</p>
                    </div>
                    <div class="brand__content swiper-slide">
                        <div class="brand__content-img">
                            <picture>
                                <source srcset="../../image/brand/Maxtor-S.webp 1x, ../../image/brand/Maxtor-S-2x.webp 2x"
                                        type="image/webp">
                                <source srcset="../../image/brand/Maxtor-S.jpg 1x, ../../image/brand/Maxtor-S-2x.jpg 2x"
                                        type="image/jpg">
                                <img src="../../image/brand/Maxtor-S.jpg" srcset="../../image/brand/Maxtor-S-2x.jpg 2x"
                                     alt="">
                            </picture>
                        </div>
                        <p>Maxtor</p>
                    </div>
                    <div class="brand__content swiper-slide">
                        <div class="brand__content-img">
                            <picture>
                                <source srcset="../../image/brand/Smartbuy-S.webp 1x, ../../image/brand/Smartbuy-S-2x.webp 2x"
                                        type="image/webp">
                                <source srcset="../../image/brand/Smartbuy-S.jpg 1x, ../../image/brand/Smartbuy-S-2x.jpg 2x"
                                        type="image/jpg">
                                <img src="../../image/brand/Smartbuy-S.jpg"
                                     srcset="../../image/brand/Smartbuy-S-2x.jpg 2x" alt="">
                            </picture>
                        </div>
                        <p>Smartbuy</p>
                    </div>

                </div>
            </div>
            <div class="brand__swiper-button brand__swiper-button-prev">prev</div>
            <div class="brand__swiper-button brand__swiper-button-next">next</div>
        </div>
    </div>
</section>
<section class="article">
    <div class="container">
        <h2 class="article__title">Распространенные неисправности Raid массивов</h2>
        <div class="article__wrapper  ">
            <h3 class="article__content-title">Поломка контроллера RAID-массива</h3>
            <article class="article__content article__content--big">
                <p class="article__content-text">Неполадки в управляющем устройстве часто становятся причиной разрушения
                    RAID массивов. Замена контролёра не всегда восстанавливает конфигурацию. Из-за этого RAID не
                    идентифицируется операционной системой или не распознаются отдельно взятые диски.
                </p>
            </article>
            <div class="article__content article__content--small">
                <ul class="article__content-list">
                    <li class="style-square style-square--top">Один или более дисков не инициализируются</li>
                    <li class="style-square style-square--top">Диски находятся в состоянии downgrade</li>
                    <li class="style-square style-square--top">Массив не монтируется</li>
                </ul>
            </div>
        </div>
        <div class="article__wrapper  ">
            <h3 class="article__content-title">Логические повреждения или несанкционированное
                форматирование/удаление</h3>
            <article class="article__content article__content--big">
                <p class="article__content-text">Наиболее распространённые причины сбоев в структуре файлов —
                    программные неполадки, вирусы и ошибки при резервном копировании. Сам массив из строя не выходит,
                    контроллер работает исправно. Если ситуация не сопряжена с каким-либо другим сбоем и диски видны
                    системой и контроллером в том качестве, в каком и должны, есть большая вероятность вернуть
                    информацию. При условии, разумеется, что не имела место повторная запись на винчестер («поверх»).
                </p>
            </article>
            <div class="article__content article__content--small">
                <ul class="article__content-list">
                    <li class="style-square style-square--top">Операционная система не определяет массив</li>
                    <li class="style-square style-square--top">Отсутствует доступ к логическим дискам, файлам и папкам
                    </li>
                </ul>
            </div>
        </div>
        <div class="article__wrapper  ">
            <h3 class="article__content-title">Отказ одного или нескольких жестких дисков</h3>
            <article class="article__content article__content--big">
                <p class="article__content-text">Во время отказа одного или нескольких жестких дисков RAID-массив
                    определяется как единый диск, либо как неформатированный диск. В ряде конфигураций неисправность
                    единственного жесткого диска разрушает массив. В системах с более высокой степенью
                    отказоустойчивости это не всегда является критичным (для RAID-массивов 1-й и 5-й конфигурации). В
                    этом случае система предложит произвести замену неисправного диска и пересобрать его, но это не дает
                    100% гарантии успешного восстановления работы массива и сохранности данных.
                </p>
            </article>
            <div class="article__content article__content--small">
                <ul class="article__content-list">
                    <li class="style-square style-square--top">Raid-массив определяется как единый диск</li>
                    <li class="style-square style-square--top">Raid-массив определяется как неформатированный диск</li>
                </ul>
            </div>
        </div>
        <div class="article__wrapper  ">
            <h3 class="article__content-title">Разрушение RAID-массива</h3>
            <article class="article__content article__content--big">
                <p class="article__content-text">Разрушение массива происходит, когда контроллер утрачивает сведения о
                    конфигурации RAID. Выход из строя RAID-контроллера однозначно ведет к разрушению массива.
                    Подключение дисков к другому, даже идентичному, контроллеру и попытка инициализировать их далеко не
                    всегда приводят к успеху. Тем более найти точно такой же контроллер, выпущенный несколько лет назад,
                    бывает проблематично. Поэтому в большинстве случаев разумной тактикой становится извлечение данных
                    из разрушенного массива программными методами.
                </p>
            </article>
            <div class="article__content article__content--small">
                <ul class="article__content-list">
                    <li class="style-square style-square--top">Диски не распознаются или начинают отображаться
                        хаотично
                    </li>
                    <li class="style-square style-square--top">Накопители идентифицируются как неформатированные или
                        устройства с неизвестной файловой системой
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="article">
    <div class="container">
        <h2 class="article__title">Как мы восстанавливаем данные RAID</h2>
        <div class="article__wrapper  ">
            <article class="article__content article__content--big">
                <p class="article__content-text">Стоит учитывать, что способы восстановления данных при повреждении
                    массива могут сильно различаться в зависимости от его уровня, поэтому при обращении в сервисный
                    центр желательно предоставлять информацию о каком виде массива идет речь.Так, например, RAID-0 не
                    обеспечивает надежности хранения информации, и восстановление информации при его сбое потребует
                    больше времени.
                </p>
                <p class="article__content-text">В своей практике мы применяем два метода работы с системами
                    накопителей: программный и аппаратный. Выбор одного из них зависит от того, что послужило причиной
                    потери данных — логические сбои или физические (электромеханические) повреждения дисков. Зачастую
                    методы не заменяют, а дополняют друг друга.
                </p>
                <p class="article__content-text">Специалисты DRK Company умеют решать сложные задачи. Мы разбираемся в
                    системах виртуализации VMware, Citrix, Hyper-V. Наши специалисты имеют богатый опыт работы с
                    контроллерами: Adaptec, HighPoint, HP, Intel, SuperMicro, LSI и другими производителями. Быстро
                    восстанавливаем данные после механических повреждений дисков массива, сбоя или отказа контроллера.
                </p>
                <p class="article__content-text">Наши мастера работают с высокочувствительной электроникой в специально
                    оборудованной беспылевой комнате, где поддерживается максимальная чистота воздуха и поверхностей для
                    избежания контакта чипов с пылью и другими инородными телами.
                </p>
                <p class="article__content-text">Восстановленные данные могут быть предоставлены следующим образом:</p>
                <ul class="article__content-list">
                    <li class="style-circle"> с новыми сменными жесткими дисками (например, на внешнем жестком диске,
                        только для предоставления данных, без резервирования)
                    </li>
                    <li class="style-circle">другие варианты в соответствии с вашими индивидуальными требованиями
                    </li>
                </ul>
            </article>
            <div class="article__content article__content--small">
                <h3 class="article__content-title article__content-title--stretch">Работаем с RAID-массивами всех
                    уровней:</h3>
                <ul class="article__content-list article__content-list--column article__content-list--column-small">
                    <li class="style-square style-square--top">RAID 1</li>
                    <li class="style-square style-square--top">RAID 2</li>
                    <li class="style-square style-square--top">RAID 3</li>
                    <li class="style-square style-square--top">RAID 4</li>
                    <li class="style-square style-square--top">RAID 5</li>
                    <li class="style-square style-square--top">RAID 1Е</li>
                    <li class="style-square style-square--top">RAID 5E</li>
                    <li class="style-square style-square--top">RAID 5EE</li>
                    <li class="style-square style-square--top">RAID 0+1</li>
                    <li class="style-square style-square--top">RAID 10</li>
                    <li class="style-square style-square--top">RAID 5+0</li>
                    <li class="style-square style-square--top">RAID 6+1</li>
                </ul>
                <h3 class="article__content-title article__content-title--stretch">Работаем с RAID-массивами разных
                    операционных систем:</h3>
                <ul class="article__content-list article__content-list--column article__content-list--column-small">
                    <li class="style-square style-square--top">Windows</li>
                    <li class="style-square style-square--top">Linux</li>
                    <li class="style-square style-square--top">Ubuntu</li>
                    <li class="style-square style-square--top">FreeBSD</li>
                    <li class="style-square style-square--top">Novelli</li>
                    <li class="style-square style-square--top">Mac OS</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="article">
    <div class="container">
        <h2 class="article__title">Восстановление данных RAID в DRK Company</h2>
        <div class="gallery__wrapper">
            <div class="gallery__item">
                <div class="gallery__img ">
                    <picture>
                        <source srcset="../../image/gallery/hdd-2.webp 1x, ../../image/gallery/hdd-2-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/hdd-2.jpg 1x, ../../image/gallery/hdd-2-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/hdd-2.jpg"
                             srcset="../../image/gallery/hdd-2-2x.jpg 2x" alt="">
                    </picture>
                </div>
                <p class="gallery__subtitle">Экспертная диагностика</p>
            </div>
            <div class="gallery__item">
                <div class="gallery__img ">
                    <picture>
                        <source srcset="../../image/gallery/hdd-5.webp 1x, ../../image/gallery/hdd-5-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/hdd-5.jpg 1x, ../../image/gallery/hdd-5-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/hdd-5.jpg"
                             srcset="../../image/gallery/hdd-5-2x.jpg 2x" alt="">
                    </picture>
                </div>
                <p class="gallery__subtitle">Современные инструменты и оборудование</p>
            </div>
            <div class="gallery__item">
                <div class="gallery__img ">
                    <picture>
                        <source srcset="../../image/gallery/hdd-1.webp 1x, ../../image/gallery/hdd-1-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/hdd-1.jpg 1x, ../../image/gallery/hdd-1-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/hdd-1.jpg"
                             srcset="../../image/gallery/hdd-1-2x.jpg 2x" alt="">
                    </picture>
                </div>
                <p class="gallery__subtitle">Замена магнитных пластин</p>
            </div>
            <div class="gallery__item">
                <div class="gallery__img ">
                    <picture>
                        <source srcset="../../image/gallery/hdd-4.webp 1x, ../../image/gallery/hdd-4-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/hdd-4.jpg 1x, ../../image/gallery/hdd-4-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/hdd-4.jpg"
                             srcset="../../image/gallery/hdd-4-2x.jpg 2x" alt="">
                    </picture>
                </div>
                <p class="gallery__subtitle">Замена головного устройства чтения/записи</p>
            </div>
            <div class="gallery__item">
                <div class="gallery__img ">
                    <picture>
                        <source srcset="../../image/gallery/hdd-7.webp 1x, ../../image/gallery/hdd-7-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/hdd-7.jpg 1x, ../../image/gallery/hdd-7-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/hdd-7.jpg"
                             srcset="../../image/gallery/hdd-7-2x.jpg 2x" alt="">
                    </picture>
                </div>
                <p class="gallery__subtitle">Уникальная чистая комната</p>
            </div>
            <div class="gallery__item">
                <div class="gallery__img ">
                    <picture>
                        <source srcset="../../image/gallery/hdd-6.webp 1x, ../../image/gallery/hdd-6-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/hdd-6.jpg 1x, ../../image/gallery/hdd-6-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/hdd-6.jpg"
                             srcset="../../image/gallery/hdd-6-2x.jpg 2x" alt="">
                    </picture>
                </div>
                <p class="gallery__subtitle">Замена механики жесткого диска</p>
            </div>
            <div class="gallery__item">
                <div class="gallery__img ">
                    <picture>
                        <source srcset="../../image/gallery/PC-3000.webp 1x, ../../image/gallery/PC-3000-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/PC-3000.jpg 1x, ../../image/gallery/PC-3000-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/PC-3000.jpg"
                             srcset="../../image/gallery/PC-3000-2x.jpg 2x" alt="">
                    </picture>
                </div>
                <p class="gallery__subtitle">Комплексы PC-3000 Express</p>
            </div>
            <div class="gallery__item">
                <div class="gallery__img ">
                    <picture>
                        <source srcset="../../image/gallery/stock.webp 1x, ../../image/gallery/stock-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/stock.jpg 1x, ../../image/gallery/stock-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/stock.jpg"
                             srcset="../../image/gallery/stock-2x.jpg 2x" alt="">
                    </picture>
                </div>
                <p class="gallery__subtitle">Все доступные запчасти в наличие</p>
            </div>
            <div class="gallery__item">
                <div class="gallery__img ">
                    <picture>
                        <source srcset="../../image/gallery/hdd-8.webp 1x, ../../image/gallery/hdd-8-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/hdd-8.jpg 1x, ../../image/gallery/hdd-8-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/hdd-8.jpg"
                             srcset="../../image/gallery/hdd-8-2x.jpg 2x" alt="">
                    </picture>
                </div>
                <p class="gallery__subtitle">Экспресс-восстановление</p>
            </div>
        </div>
    </div>
</section>
<%- include('templates/banner.ejs') %>
<%- include('templates/faq.ejs') %>
<%- include('templates/footer.ejs') %>
</body>
</html>