<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DRK</title>
    <link type="image/png" rel="icon" href="../../image/icon/favicon.png">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fafafa">
</head>
<body>
<%- include('templates/header.ejs') %>
<div class="bread-crumbs container">
    <span>Главная</span>
    <span>Восстановление данных сервера</span>
</div>
<section class="article">
    <div class="container">
        <h2 class="article__title">Восстановление данных сервера</h2>
        <div class="article__wrapper article__wrapper--revers">
            <article class="article__content article__content--big">
                <p class="article__content-text">Сервером может быть как обычный ПК, так и специализированный
                    высокопроизводительный компьютер. Независимо от используемого оборудования, сервер играет ключевую
                    роль в инфраструктуре предприятия - на нём хранятся важные данные, развёрнуты критически важные
                    приложения, а выход его из строя может поставить под угрозу существование всего бизнеса. Потеря
                    данных на сервере может стоить компании тысячи и десятки тысяч за каждый день простоя. Поэтому при
                    восстановлении данных на серверах важнейшее значение приобретают сроки выполнения работ.</p>
                <p class="article__content-text">При этом большое разнообразие серверных платформ и ролей требует
                    глубоких знаний аппаратного и программного обеспечения, а также большого опыта специалистов. В DRK
                    Company хорошо понимают значение серверов в жизни предприятия. Наши специалисты умеют решать
                    проблемы с этим видом оборудования в кратчайшие сроки и с минимальными потерями для заказчика.</p>
            </article>
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/server.webp 1x, ../../image/gallery/server-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/server.jpg 1x, ../../image/gallery/server-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/server.jpg"
                             srcset="../../image/gallery/server-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
        </div>
        <div class="about__success about__success-row">
            <div class="about__success-inner">
                <p class="about__success-number">98%</p>
                <p class="about__success-text">Успешных случаев восстановления данных</p>
            </div>
            <div class="about__success-inner">
                <p class="about__success-number"><span>более</span> 15 <span>лет</span></p>
                <p class="about__success-text">Опыт специалистов в сфере восстановления данных </p>
            </div>
            <div class="about__success-inner">
                <p class="about__success-number"><span>более</span> 75 <span>регионов</span></p>
                <p class="about__success-text">Из которых к нам поступали носители на восстановление</p>
            </div>
        </div>
    </div>
</section>
<section class="article">
    <div class="container">
        <h2 class="article__title">Распространенные неисправности Server</h2>
        <div class="article__wrapper  ">
            <article class="article__content article__content--big">
                <p class="article__content-text">Чаще всего в своей практике восстановление файлов с сервера мы
                    сталкиваемся со следующими случаями:</p>
                <ul class="article__content-list">
                    <li class="style-square style-square--top">Примерно в 40% случаев выходят из строя жесткие диски;
                    </li>
                    <li class="style-square style-square--top">Примерно в 10-15% случаев ломаются блоки питания,
                        материнские платы и модули памяти;
                    </li>
                    <li class="style-square style-square--top">Сбой электропитания;</li>
                    <li class="style-square style-square--top">Отказ системы резервного копирования;</li>
                    <li class="style-square style-square--top">Отключение/ выход из строя системы кондиционирования;
                    </li>
                    <li class="style-square style-square--top">Вирусная активность или хакерская атака;</li>
                    <li class="style-square style-square--top">Неосторожные действия неопытного пользователя;</li>
                    <li class="style-square style-square--top">Ошибки при сборке RAID-массивов;</li>
                    <li class="style-square style-square--top">Повреждение файловой системы;</li>
                    <li class="style-square style-square--top">Некорректное обновление операционной системы;</li>
                    <li class="style-square style-square--top">Ошибки в настройках;</li>
                </ul>
            </article>
            <div class="article__content article__content--small">
                <p class="article__content-text">Как правило, неисправности серверов спровоцированы сбоями жестких
                    дисков на уровне логики. Причинами же логических нарушений могут стать и внешние факторы, такие как
                    внезапные перебои с электроснабжением, скачки напряжения, перепады температур и другие.</p>
                <p class="article__content-text">Внешние проявления неисправностей могут сопровождаться отказом
                    операционной системы и множественными нарушениями в структуре файловой системы. Несмотря на
                    заложенный производителем запас прочности, контроллер может не выдержать экстремальных перегрузок в
                    режиме, результатом чего и становятся сбои в работе системы.</p>
                <p class="article__content-text">Если у вас есть подозрения на неисправность вашего сервера вы всегда
                    можете позвонить по телефону <a href="tel:+4908004090908" class="tel">+49 (0) 800 409 09
                        08</a>, чтобы получить консультацию специалиста по восстановлению данных </p>

            </div>
        </div>
    </div>
</section>
<section class="article">
    <div class="container">
        <h2 class="article__title">Как избежать потери данных c серверов?</h2>
        <div class="article__wrapper  ">
            <article class="article__content article__content--big">
                <p class="article__content-text">Чтобы система всегда оставалась в рабочем состоянии, важно всегда
                    выполнять резервное копирование. Защитить сервер и данные на нем можно с помощью автоматической
                    ежедневной архивации.
                    Также важно следить за оборудованием в серверной — например, держать дверь туда закрытой, чтобы в
                    помещение попадало как можно меньше пыли. Периодичность профилактического обслуживания оборудования
                    тоже нельзя игнорировать. Например, жесткие диски HDD рекомендуется менять каждые три года.
                </p>
                <p class="article__content-text">А в случае возникновения внештатных ситуаций наши специалисты могут
                    восстановить данные с сервера в сжатые сроки. Напоминаем, что диагностика у нас бесплатная. Мы
                    проверяем ваше оборудование, говорим, что именно мы можем сделать, называем цену восстановления,
                    уточняем, в какие сроки будет оказана помощь. Если вас все устраивает – восстанавливаем ваши данные.
                    Мы выполняем работы по восстановлению сервера, используя новые программные и аппаратные методы. Для
                    мастеров DRK Company восстановление информации c серверов является одной из наиболее часто
                    выполняемых работ.</p>
                <p class="article__content-text">Восстанавливаем RAID массивы любых уровней: 0, 1, 2, 3, 4, 5, 5E, 5EE,
                    6, 10, 50, 60 и другие комбинации. Работаем со всеми неисправностями RAID массивов: ошибки
                    контроллера,
                    нарушения после Rebuild,
                    сбои в работе блоков данных, вирусная активность, ошибки монтирования дисков,
                    сбои реконфигурации,
                    несовместимость оборудования на уровне «железа»,
                    программные коллизии и аппаратные несоответствия, и другое.
                </p>
            </article>
            <div class="article__content article__content--small">
                <ul class="article__content-list">
                    <li class="style-square style-square--top">При появлении странностей в работе сервера (посторонние
                        звуки и прочее) как можно скорее отключите его;</li>
                    <li class="style-square style-square--top">Не производите замену носителя на диск из другой системы;</li>
                    <li class="style-square style-square--top">Проводите резервное копирование по расписанию, а также
                        перед внесением каких-либо программных или аппаратных изменений;</li>
                    <li class="style-square style-square--top">Храните резервные копии на нескольких, не зависящих друг
                        от друга машинах;</li>
                    <li class="style-square style-square--top">Не проводите дефрагментацию дисков, которые, по Вашему
                        мнению, неисправно функционируют;</li>
                    <li class="style-square style-square--top">Для восстановления данных выбирайте только авторитетные
                        центры, такие как лаборатория DRK Company.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<%- include('templates/banner.ejs') %>
<%- include('templates/faq.ejs') %>
<%- include('templates/footer.ejs') %>
</body>
</html>