<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DRK</title>
    <link type="image/png" rel="icon" href="../../image/icon/favicon.png">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fafafa">
</head>
<body>
<%- include('templates/header.ejs') %>
<div class="bread-crumbs container">
    <span>Home</span>
    <span>About us</span>
</div>
<section class="article">
    <div class="container">
        <h2 class="article__title">About DRK Company</h2>
        <div class="article__wrapper article__wrapper--revers">
            <article class="article__content article__content--big">
                <p class="article__content-text">DRK Company was formed in 2015. We work with clients from
                    Germany, as well as neighboring countries: Switzerland, Austria, Czech Republic, Belgium, France, and others.
                    The only direction of our activity is data recovery from various media
                    information. During this period of time, a wealth of experience has been accumulated in working with damaged
                    information accumulators and file structures, developed its own strategy for working on
                    data recovery.</p>
                <p class="article__content-text">Among our clients, we do not single out anyone - any person or company
                    have exactly the same priority. The underlying factors are the nature of the fault
                    media and the terms specified by the customer. We strive to become a reliable partner for our customers,
                    which will take care of all the problems that arise when data is lost. Reputation is important to us
                    partner opinion. Today we are confidently developing and growing.</p>
            </article>
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/office.webp 1x, ../../image/gallery/office-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/office.jpg 1x, ../../image/gallery/office-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/office.jpg"
                             srcset="../../image/gallery/office-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
        </div>
        <div class="about__success about__success-row">
            <div class="about_success-inner">
                <p class="about__success-number">98%</p>
                <p class="about__success-text">Successful cases of data recovery</p>
            </div>
            <div class="about_success-inner">
                <p class="about__success-number">75 <span>regions</span></p>
                <p class="about__success-text">From which recovery media came to us</p>
            </div>
            <div class="about_success-inner">
                <p class="about__success-number"><span>over </span>15<span> years</span></p>
                <p class="about__success-text">Data Recovery Experience</p>
            </div>
        </div>
        <div class="article__wrapper article__wrapper--revers">
            <article class="article__content article__content--big">
                <p class="article__content-text">Our employees receive regular user training
                    information recovery equipment. All data we recover has
                    maximum level of confidentiality and are not subject to disclosure.
                </p>
                <p class="article__content-text">To work with cases of any complexity, we are helped by rich software and
                    equipment of our workshop. When restoring data, we use licensed
                    software and software and hardware systems, with the help of which practically
                    all relevant tasks.</p>
            </article>
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/staff.webp 1x, ../../image/gallery/staff-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/staff.jpg 1x, ../../image/gallery/staff-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/staff.jpg"
                             srcset="../../image/gallery/staff-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="article">
    <div class="container">
        <h2 class="article__title">Which environment to work in</h2>
        <div class="article__wrapper article__wrapper--revers">
            <article class="article__content article__content--big">
                <p class="article__content-text">Even microscopic dust particles can make individual sectors
                    inside the containment area of the drives are unreadable and create additional difficulties during recovery
                    data. Therefore, we carry out all manipulations with drives in laminar boxes - special
                    laboratory areas that help minimize environmental impact on
                    sensitive parts of the drive.
                </p>
                <p class="article__content-text">We use a downflow laminar flow hood and
                    own filtration system. For several years now, we have been studying the experience of the world's largest companies in
                    the use of "Clean Rooms" in the field of microelectronics production. Gigabytes have been studied
                    information in the public domain about the experience of such corporations as Intel, AMD, Samsung. <span
                            class="text--red">Also held
                    consultations with the largest manufacturers of clean rooms and areas in Europe, these are the companies CARLO ERBA,
                    LENGE Purification. A laminar flow hood manufactured by LENGE is installed in the clean area
                    Purification, designed to work with microelectronics.</span> According to our order in the design
                    of the laminar flow chamber, some changes have been made for the convenience of work.</p>
            </article>
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/cleaning.webp 1x, ../../image/gallery/cleaning-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/cleaning.jpg 1x, ../../image/gallery/cleaning-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/cleaning.jpg"
                             srcset="../../image/gallery/cleaning-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="article">
    <div class="container">
        <h2 class="article__title">DRK Company Tools and Equipment</h2>
        <h3 class="article__content-title">PC-3000 hardware and software system</h3>
        <div class="article__wrapper article__wrapper--revers">
            <article class="article__content article__content--big">
                <p class="article__content-text">Hardware and software systems for data recovery,
                    designed and manufactured by ACELab, are the main tool for working with
                    faulty storage media in leading companies around the world. High work efficiency
                    our specialists are also largely provided with the capabilities of the PC-3000. ACELab products
                    is constantly being improved. In their work, the masters of DRK Company use the following
                    software and hardware systems:</p>
                <ul class="article__content-list article__content-list--column article__content-list--column-big">
                    <li class="style-square style-square--top">PC-3000 SAS/SCSI 1.0 and 2.0</li>
                    <li class="style-square style-square--top">PC-3000 Express/SAS RAID Edition</li>
                    <li class="style-square style-square--top">PC-3000 Express</li>
                    <li class="style-square style-square--top">PC-3000 Express UDMA</li>
                    <li class="style-square style-square--top">PC-3000 Express Flash 4.0</li>
                    <li class="style-square style-square--top">PC-3000 Express Portable 1.0</li>
                    <li class="style-square style-square--top">PC-3000 Express Portable 3.0</li>
                    <li class="style-square style-square--top">PC-3000 Express SSD</li>
                </ul>
            </article>
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/PC-3000.webp 1x, ../../image/gallery/PC-3000-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/PC-3000.jpg 1x, ../../image/gallery/PC-3000-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/PC-3000.jpg"
                             srcset="../../image/gallery/PC-3000-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
        </div>
        <div class="article__wrapper article__wrapper--revers">
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/PC-3000.webp 1x, ../../image/gallery/PC-3000-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/PC-3000.jpg 1x, ../../image/gallery/PC-3000-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/PC-3000.jpg"
                             srcset="../../image/gallery/PC-3000-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
            <article class="article__content article__content--big">
                <h3 class="article__content-title">PC-3000 SAS/SCSI 1.0 and 2.0 Hardware and Software System</h3>
                <p class="article__content-text">Designed for testing, repairing and restoring data from
                    damaged HDD with SAS (Serial Attached SCSI) and SCSI interface, capacity: from 18 GB to 10 TB, with
                    file systems: FAT, exFAT, NTFS, EXT2/3/4, HFS+, APFS, UFS1/2, XFS, ReiserFS, VMFS, file
                    systems for DVRs WFS0.x, DHFS4.1 and virtual machine images: VMDK, VHD, VHDX, DMG.
                </p>
            </article>
        </div>
        <div class="article__wrapper article__wrapper--revers">
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/PC-3000.webp 1x, ../../image/gallery/PC-3000-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/PC-3000.jpg 1x, ../../image/gallery/PC-3000-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/PC-3000.jpg"
                             srcset="../../image/gallery/PC-3000-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
            <article class="article__content article__content--big">
                <h3 class="article__content-title">PC-3000 Express/SAS RAID Edition</h3>
                <p class="article__content-text">Professional tool for data recovery from corrupted
                    RAID arrays including drives with SAS (Serial Attached SCSI), SCSI, SATA interfaces of the following
                    configurations: Stripe, Mirror, JBOD, 1E Offset, 1E Adjacent, 4, 5, 5E, 5EE, 6, 6 Adaptec, any
                    combined (10, 50, 51, 60...), arbitrarily specified by the user using a table, as well as
                    WSS (Windows Storage Spaces), ZFS RAID-Z, BtrFS RAID, Apple Fusion Drive (HFS+, APFS).
                </p>
            </article>
        </div>
        <div class="article__wrapper article__wrapper--revers">
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/PC-3000.webp 1x, ../../image/gallery/PC-3000-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/PC-3000.jpg 1x, ../../image/gallery/PC-3000-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/PC-3000.jpg"
                             srcset="../../image/gallery/PC-3000-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
            <article class="article__content article__content--big">
                <h3 class="article__content-title">PC-3000 SSD Hardware and Software System</h3>
                <p class="article__content-text">This software package is designed to diagnose, repair and
                    data recovery from solid state drives with SATA, PATA, mSATA, M.2, PCIe interfaces
                    (NVMe/AHCI), PCIe x16, Apple Macbook capacity: 32GB to 2TB, manufactured by: OCZ, Corsair,
                    Crucial, RunCore, A-DATA, G.Skill, Micron, Plextor, Intel, Samsung, Seagate, Kingston, etc.
                </p>
            </article>
        </div>
        <div class="article__wrapper article__wrapper--revers">
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/PC-3000.webp 1x, ../../image/gallery/PC-3000-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/PC-3000.jpg 1x, ../../image/gallery/PC-3000-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/PC-3000.jpg"
                             srcset="../../image/gallery/PC-3000-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
            <article class="article__content article__content--big">
                <h3 class="article__content-title">PC-3000 Express UDMA Hardware and Software System</h3>
                <p class="article__content-text">Suitable for most data recovery tasks from damaged
                    HDD with SATA (Serial ATA) or PATA (IDE) interface, capacity: from 500 MB to 6 TB, manufactured by:
                    Seagate, Western Digital, Fujitsu, Samsung, Maxtor, Quantum, IBM (HGST), HITACHI, TOSHIBA c
                    form factor 3.5" - desktop PCs; 2.5" and 1.8" - drives for laptops; 1.0" - drives for
                    portable equipment, with Compact Flash interface, with file systems: FAT, exFAT, NTFS, EXT2/3/4,
                    HFS+, UFS1/2, XFS, ReiserFS, VMFS and virtual machine images: VMDK, VHD.
                </p>
            </article>
        </div>
        <div class="article__wrapper article__wrapper--revers">
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/PC-3000.webp 1x, ../../image/gallery/PC-3000-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/PC-3000.jpg 1x, ../../image/gallery/PC-3000-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/PC-3000.jpg"
                             srcset="../../image/gallery/PC-3000-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
            <article class="article__content article__content--big">
                <h3 class="article__content-title">PC-3000 Express</h3>
                <p class="article__content-text">Designed to diagnose and repair HDD with SATA (Serial
                    ATA) and PATA (IDE), capacities: from 20 MB to 6 TB, manufactured by: Seagate, Western Digital, Fujitsu,
                    Samsung, Maxtor, Quantum, IBM (HGST), HITACHI, TOSHIBA 3.5" Form Factor Desktop PCs; 2.5" and
                    1.8" - drives for laptops; 1.0" - drives for portable equipment, with Compact interface
                    Flash, with file systems: FAT, exFAT, NTFS, EXT2/3/4, HFS+, APFS, UFS1/2, XFS, ReiserFS, VMFS,
                    file systems for DVRs WFS0.x, DHFS4.1 and virtual machine images: VMDK, VHD,
                    VHDX, DMG.
                </p>
            </article>
        </div>
        <div class="article__wrapper article__wrapper--revers">
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/PC-3000.webp 1x, ../../image/gallery/PC-3000-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/PC-3000.jpg 1x, ../../image/gallery/PC-3000-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/PC-3000.jpg"
                             srcset="../../image/gallery/PC-3000-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
            <article class="article__content article__content--big">
                <h3 class="article__content-title">PC-3000 Flash 4.0 hardware and software package</h3>
                <p class="article__content-text">Designed to recover data from all types of solids
                    drives based on NAND flash memory (USB Flash, SD, MS, xD, MMC, CF, VoiceRecorder, etc.), in
                    situations when access to data through the standard interface of the drive is not possible. Lists
                    controllers supported by the complex: Alcor Micro (AU), Innostor (IS), Lexar, CHIPSBANK (CBM),
                    SanDisk, Skymedi (SK), Silicon Motion (SM), OTi, MXTRONICS (MW), Phison (PS), Integrated Technology
                    Express (ITE), NETAC, Toshiba (TC), USBEST.
                </p>
            </article>
        </div>
        <div class="article__wrapper article__wrapper--revers">
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/PC-3000.webp 1x, ../../image/gallery/PC-3000-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/PC-3000.jpg 1x, ../../image/gallery/PC-3000-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/PC-3000.jpg"
                             srcset="../../image/gallery/PC-3000-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
            <article class="article__content article__content--big">
                <h3 class="article__content-title">Mobile hardware and software complex PC-3000 Portable 1.0</h3>
                <p class="article__content-text">Designed to recover data from damaged HDDs with
                    interface SATA (Serial ATA) or PATA (IDE), capacity: from 500 MB to 4 TB, with file systems: FAT,
                    exFAT, NTFS, EXT2/3/4, HFS+, UFS1/2, XFS, ReiserFS, VMFS and virtual machine images: VMDK, VHD.
                </p>
            </article>
        </div>
        <div class="article__wrapper article__wrapper--revers">
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/PC-3000.webp 1x, ../../image/gallery/PC-3000-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/PC-3000.jpg 1x, ../../image/gallery/PC-3000-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/PC-3000.jpg"
                             srcset="../../image/gallery/PC-3000-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
            <article class="article__content article__content--big">
                <h3 class="article__content-title">Mobile hardware and software system PC-3000 Portable 3.0</h3>
                <p class="article__content-text">Designed to recover data from corrupted SATA (Serial ATA)
                    and USB devices that comply with the Mass Storage Device specification, i.e.
                    e. external USB 2.0/3.0 HDD, capacity: from 40GB or more, with file systems: FAT, exFAT, NTFS,
                    HFS+, APFS, EXT2/3/4, XFS, ReiserFS, BtrFS, VMFS, UFS1/2, ZFS, DHF4.1, WFS0.x (for
                    DVRs) and virtual machine images: VMDK, VHD, VHDX, DMG.
                </p>
            </article>
        </div>
    </div>
</section>
<section class="article">
    <div class="container">
        <h3 class="article__content-title">Soldering Station and Soldering Equipment</h3>
        <div class="article__wrapper">
            <article class="article__content article__content--big">
                <p class="article__content-text">When performing soldering operations on SMD components, modern chips and
                    microcircuits, it is extremely important to observe the technology and temperature conditions.
                    DRK Company uses a soldering station with infrared bottom and top heating, enough
                    wide functionality for programming cooling modes. Work at this station allows
                    very precisely observe the correct technological mode of soldering without overheating of the elements, in contrast to
                    hand-held soldering guns where it is not possible to precisely control the temperature and area to be heated. Soldering
                    takes place on a special thermostat.
                </p>
            </article>
            <div class="article__content article__content--small">
                <ul class="article_content-list">
                    <li class="style-square style-square--top">Infrared Rework Station</li>
                    <li class="style-square style-square--top">Ultrasonic bath</li>
                    <li class="style-square style-square--top">Thermal table</li>
                    <li class="style-square style-square--top">Lab power supply</li>
                    <li class="style-square style-square--top">Thermal Imager</li>
                </ul>
            </div>
        </div>
        <div class="gallery_wrapper">
            <div class="gallery_item">
                <div class="gallery_img">
                    <picture>
                        <source srcset="../../image/gallery/soldering-station.webp 1x, ../../image/gallery/soldering-station-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/soldering-station.jpg 1x, ../../image/gallery/soldering-station-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/soldering-station.jpg"
                             srcset="../../image/gallery/soldering-station-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
            <div class="gallery_item">
                <div class="gallery_img">
                    <picture>
                        <source srcset="../../image/gallery/soldering-station.webp 1x, ../../image/gallery/soldering-station-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/soldering-station.jpg 1x, ../../image/gallery/soldering-station-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/soldering-station.jpg"
                             srcset="../../image/gallery/soldering-station-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
            <div class="gallery_item">
                <div class="gallery_img">
                    <picture>
                        <source srcset="../../image/gallery/soldering-station.webp 1x, ../../image/gallery/soldering-station-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/soldering-station.jpg 1x, ../../image/gallery/soldering-station-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/soldering-station.jpg"
                             srcset="../../image/gallery/soldering-station-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="article">
    <div class="container">
        <div class="article__wrapper">
            <div class="article_inner">
                <article class="article_content">
                    <h3 class="article__content-title">Optical microscope with digital camera</h3>
                    <p class="article__content-text">For professional diagnostics of magnetic
                        heads, surfaces of hard drives, as well as SMD soldering and the state of SSD textolite and flash drives, we
                        using a professional optical microscope. It is used for cleaning operations.
                        MR elements of read / write heads, desoldering monoliths and many other operations.
                    </p>
                    <div class="article__img article__img--small">
                        <picture>
                            <source srcset="../../image/gallery/mikroskop.webp 1x, ../../image/gallery/mikroskop-2x.webp 2x"
                                    type="image/webp">
                            <source srcset="../../image/gallery/mikroskop.jpg 1x, ../../image/gallery/mikroskop-2x.jpg 2x"
                                    type="image/jpg">
                            <img src="../../image/gallery/mikroskop.jpg"
                                 srcset="../../image/gallery/mikroskop-2x.jpg 2x" alt="">
                        </picture>
                    </div>
                </article>
            </div>
            <div class="article_inner">
                <article class="article_content">
                    <h3 class="article__content-title">Magnetic Head Unit Pullers and Magnetic Head Extractors
                        plates </h3>
                    <p class="article__content-text">The head puller is a tool to minimize risks
                        damage to the block of magnetic heads at the time of their transfer from the donor disk to the patient disk. For
                        operations for the transfer of one plate, the so-called. "pancake" of the hard drive, we use special
                        extractors that securely fix the plate when moving. Without such tools, the risk is high
                        surface damage.
                    </p>
                    <div class="article__img article__img--small">
                        <picture>
                            <source srcset="../../image/gallery/tools.webp 1x, ../../image/gallery/tools-2x.webp 2x"
                                    type="image/webp">
                            <source srcset="../../image/gallery/tools.jpg 1x, ../../image/gallery/tools-2x.jpg 2x"
                                    type="image/jpg">
                            <img src="../../image/gallery/tools.jpg"
                                 srcset="../../image/gallery/tools-2x.jpg 2x" alt="">
                        </picture>
                    </div>
                </article>
            </div>
        </div>
        <div class="article__wrapper">
            <div class="article_inner">
                <article class="article_content">
                    <h3 class="article__content-title">Hard drive puller for all models</h3>
                    <p class="article__content-text">This is a device for rearranging magnetic platters in a hard drive with
                        jammed engine. It is used when it is impossible to wedge the motor spindle, where
                        Replacing all plates is required. Rigidly fixes the block of plates relative to each other, not
                        allowing even the slightest shift during transfer.
                    </p>
                    <div class="article__img article__img--small">
                        <picture>
                            <source srcset="../../image/gallery/tools-2.webp 1x, ../../image/gallery/tools-2-2x.webp 2x"
                                    type="image/webp">
                            <source srcset="../../image/gallery/tools-2.jpg 1x, ../../image/gallery/tools-2-2x.jpg 2x"
                                    type="image/jpg">
                            <img src="../../image/gallery/tools-2.jpg"
                                 srcset="../../image/gallery/tools-2-2x.jpg 2x" alt="">
                        </picture>
                    </div>
                </article>
            </div>
            <div class="article_inner">
                <article class="article_content">
                    <h3 class="article__content-title">Donor Database</h3>
                    <p class="article__content-text">A large number of donor hard drives allows us not to
                        spend time searching for spare parts, and immediately start fulfilling the order. We have everything in stock
                        models of donor discs sold in European countries. So, in general, the collection
                        donor disks is perhaps the most important task of DR-firms.
                    </p>
                    <div class="article__img article__img--small">
                        <picture>
                            <source srcset="../../image/gallery/tools-3.webp 1x, ../../image/gallery/tools-3-2x.webp 2x"
                                    type="image/webp">
                            <source srcset="../../image/gallery/tools-3.jpg 1x, ../../image/gallery/tools-3-2x.jpg 2x"
                                    type="image/jpg">
                            <img src="../../image/gallery/tools-3.jpg"
                                 srcset="../../image/gallery/tools-3-2x.jpg 2x" alt="">
                        </picture>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<section class="reviews_section">
    <div class="container">
        <h2 class="reviews__title">Real Reviews of DRK Company</h2>
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="reviews__wrapper swiper-slide">
                    <article class="review__article review__article--client">
                        <div class="quote"><img src="../../image/icon/quote.png" alt="quote"></div>
                        <p class="review_text">Here will be text that tells
                            the client is in the video review, so the video reviews
                            should be as short as possible
                            15-30 seconds for files to be
                            not heavy and loaded quickly</p>
                        <address class="review_author"><span>-</span>Klauss D</address>
                        <time class="review__time" pubdate datetime="2021-7-12" title="July 12, 2021">June 12</time>
                    </article>
                    <div class="review__media">
                        <video controls preload="none">
                            <source src="#" type="video/mp4">
                        </video>
                    </div>
                </div>
                <div class="reviews__wrapper swiper-slide">
                    <article class="review__article review__article--client">
                        <div class="quote"><img src="../../image/icon/quote.png" alt="quote"></div>
                        <p class="review_text">Here will be text that tells
                            the client is in the video review, so the video reviews
                            should be as short as possible
                            15-30 seconds for files to be
                            not heavy and loaded quickly</p>
                        <address class="review_author"><span>-</span>Klauss D</address>
                        <time class="review__time" pubdate datetime="2021-7-12" title="July 12, 2021">June 12</time>
                    </article>
                    <div class="review__media">
                        <video controls preload="none">
                            <source src="https://youtu.be/eWrstRfalnw">
                        </video>
                    </div>
                </div>
                <div class="reviews__wrapper swiper-slide">
                    <article class="review__article review__article--client">
                        <div class="quote"><img src="../../image/icon/quote.png" alt="quote"></div>
                        <p class="review_text">Text goes here</p>
                        <address class="review__author"><span>-</span>Klauss D</address>
                        <time class="review__time" pubdate datetime="2021-7-12" title="12 Июля 2021">12 июня</time>
                    </article>
                    <div class="review__media">
                        <video controls preload="none">
                            <source src="https://youtu.be/eWrstRfalnw">
                        </video>
                    </div>
                </div>

            </div>
            <div class="swiper-button-block">
                <div class="swiper-button swiper-button-prev"></div>
                <div class="swiper-button swiper-button-next"></div>
            </div>
        </div>
    </div>
</section>
<section class="reviews__section">
    <div class="container">
        <h2 class="reviews__title">Мы ценим каждого клиента</h2>
        <h3 class="reviews__subtitle">Несколько слов от руководителя «DRK Company»</h3>
        <div class="reviews__wrapper">
            <article class="review__article">
                <div class="quote"><img src="../../image/icon/quote.png" alt="quote"></div>
                <p class="review__text">Каждое восстановление данных - уникальная история, где каждый видео- или фото
                    файл — это жизнь, мгновения любви, радости или этапы взросления человека. Либо это необходимая
                    рабочая информация, годами наработанные контакты или очень сберегаемые архивы, имеющие высокую
                    value.
                    Мы одинаково ценим каждого заказчика – от стартапа до корпорации. Особое внимание уделяем качеству
                    технической поддержки наших клиентов.</p>
                <address class="review__author"><span>-</span>S. Michel</address>
                <p class="review__position">Основатель компании</p>
            </article>
            <div class="review__media">
                <div class="review__img-box">
                    <img src="../../media/review/image/manager.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('templates/banner.ejs') %>
<%- include('templates/faq.ejs') %>
<%- include('templates/footer.ejs') %>
</body>
</html>