<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DRK</title>
    <link type="image/png" rel="icon" href="../../image/icon/favicon.png">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fafafa">
</head>
<body>
<%- include('templates/header.ejs') %>
<div class="bread-crumbs container">
    <span>Главная</span>
    <span>Блог</span>
</div>
<section class="blogs">
    <div class="container">
        <h2 class="blogs__title">Блог о восстановлении данных</h2>
        <div class="blogs__wrapper">
            <div class="blogs__marks-wrapper">
                <h3 class="blogs__marks-title">Метки</h3>
                <button class="mark btn__mark">Windows</button>
                <button class="mark btn__mark">Windows 10 ОС</button>
                <button class="mark btn__mark">Случайной удаление</button>
                <button class="mark btn__mark">Жесткий диск</button>
                <button class="mark btn__mark">Интернет</button>
                <button class="mark btn__mark">HDD диск</button>
                <button class="mark btn__mark">SSD диск</button>
                <button class="mark btn__mark">Вирус</button>
                <button class="mark btn__mark">USB-flash</button>
                <button class="mark btn__mark">Браузер</button>
                <button class="mark btn__mark">RAID-массив</button>
                <button class="mark btn__mark">Компьютер</button>
                <button class="mark btn__mark">Антивирус</button>
                <button class="mark btn__mark">Ноутбук</button>
            </div>
            <div class="blogs__items-wrapper">
                <div class="blogs__item active">
                    <div class="blogs__item-img">
                        <picture>
                            <source srcset="../../image/blog/hdd-blog-XL.webp 1x, ../../image/blog/hdd-blog-XL-2x.webp 2x" type="image/webp" media="(min-width: 480px)">
                            <source srcset="../../image/blog/hdd-blog-S-2x.webp 1x, ../../image/blog/hdd-blog-XL.webp 2x" type="image/webp">
                            <source srcset="../../image/blog/hdd-blog-XL.jpg 1x, ../../image/blog/hdd-blog-XL-2x.jpg 2x" type="image/jpg" media="(min-width: 480px)">
                            <source srcset="../../image/blog/hdd-blog-S-2x.jpg 1x, ../../image/blog/hdd-blog-XL.jpg 2x" type="image/jpg">
                            <img src="../../image/blog/hdd-blog-XL.jpg" srcset="../../image/blog/hdd-blog-XL-2x.jpg 2x" alt="">
                        </picture>
                    </div>
                    <a href="./blog-article1.html" class="blogs__item-title">Восстановление данных HDD: что нельзя делать, если данные ценны?</a>
                    <div class="blogs__item-marks">
                        <p class="mark">HDD диск</p>
                        <p class="mark">Случайной удаление</p>
                        <p class="mark">Жесткий диск</p>
                        <p class="mark">Компьютер</p>
                        <p class="mark">Ноутбук</p>
                        <p class="mark">Антивирус</p>
                        <p class="mark">Вирус</p>
                    </div>
                </div>
                <div class="blogs__item active">
                    <div class="blogs__item-img">
                        <picture>
                            <source srcset="../../image/blog/ssd-blog-XL.webp 1x, ../../image/blog/ssd-blog-XL-2x.webp 2x" type="image/webp" media="(min-width: 480px)">
                            <source srcset="../../image/blog/ssd-blog-S-2x.webp 1x, ../../image/blog/ssd-blog-XL.webp 2x" type="image/webp">
                            <source srcset="../../image/blog/ssd-blog-XL.jpg 1x, ../../image/blog/ssd-blog-XL-2x.jpg 2x" type="image/jpg" media="(min-width: 480px)">
                            <source srcset="../../image/blog/ssd-blog-S-2x.jpg 1x, ../../image/blog/ssd-blog-XL.jpg 2x" type="image/jpg">
                            <img src="../../image/blog/ssd-blog-XL.jpg" srcset="../../image/blog/ssd-blog-XL-2x.jpg 2x" alt="">
                        </picture>
                    </div>
                    <a href="./blog-article2.html" class="blogs__item-title">Можно ли восстановить данные с неисправного SSD диска?</a>
                    <div class="blogs__item-marks">
                        <p class="mark">SSD диск</p>
                        <p class="mark">Случайной удаление</p>
                        <p class="mark">Компьютер</p>
                        <p class="mark">Ноутбук</p>
                    </div>
                </div>
                <div class="blogs__item active">
                    <div class="blogs__item-img">
                        <picture>
                            <source srcset="../../image/blog/USB-Flash-blog-XL.webp 1x, ../../image/blog/USB-Flash-blog-XL-2x.webp 2x" type="image/webp" media="(min-width: 480px)">
                            <source srcset="../../image/blog/USB-Flash-blog-S-2x.webp 1x, ../../image/blog/USB-Flash-blog-XL.webp 2x" type="image/webp">
                            <source srcset="../../image/blog/USB-Flash-blog-XL.jpg 1x, ../../image/blog/USB-Flash-blog-XL-2x.jpg 2x" type="image/jpg" media="(min-width: 480px)">
                            <source srcset="../../image/blog/USB-Flash-blog-S-2x.jpg 1x, ../../image/blog/USB-Flash-blog-XL.jpg 2x" type="image/jpg">
                            <img src="../../image/blog/USB-Flash-blog-XL.jpg" srcset="../../image/blog/USB-Flash-blog-XL-2x.jpg 2x" alt="">
                        </picture>
                    </div>
                    <a href="./blog-article3.html" class="blogs__item-title">Восстановление файлов с флешки после форматирования</a>
                    <div class="blogs__item-marks">
                        <p class="mark">USB-flash</p>
                        <p class="mark">Случайной удаление</p>
                    </div>
                </div>
                <div class="blogs__item active">
                    <div class="blogs__item-img">
                        <picture>
                            <source srcset="../../image/blog/raid-blog-XL.webp 1x, ../../image/blog/raid-blog-XL-2x.webp 2x" type="image/webp" media="(min-width: 480px)">
                            <source srcset="../../image/blog/raid-blog-S-2x.webp 1x, ../../image/blog/raid-blog-XL.webp 2x" type="image/webp">
                            <source srcset="../../image/blog/raid-blog-XL.jpg 1x, ../../image/blog/raid-blog-XL-2x.jpg 2x" type="image/jpg" media="(min-width: 480px)">
                            <source srcset="../../image/blog/raid-blog-S-2x.jpg 1x, ../../image/blog/raid-blog-XL.jpg 2x" type="image/jpg">
                            <img src="../../image/blog/raid-blog-XL.jpg" srcset="../../image/blog/raid-blog-XL-2x.jpg 2x" alt="">
                        </picture>
                    </div>
                    <a href="./blog-article4.html" class="blogs__item-title">Что делать если повредился RAID массив? Как достать данные?</a>
                    <div class="blogs__item-marks">
                        <p class="mark">RAID-массив</p>
                        <p class="mark">Жесткий диск</p>
                        <p class="mark">HDD диск</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('templates/banner.ejs') %>
<%- include('templates/faq.ejs') %>
<%- include('templates/footer.ejs') %>
</body>
</html>