<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DRK</title>
    <link type="image/png" rel="icon" href="../../image/icon/favicon.png">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fafafa">
</head>
<body>
<%- include('templates/header.ejs') %>
<div class="bread-crumbs container">
    <span>Главная</span>
    <span>Информация для компаний</span>
</div>
<section class="article">
    <div class="container">
        <h2 class="article__title">Информация для компаний</h2>
        <div class="article__wrapper">
            <article class="article__content article__content--big">
                <p class="article__content-text">Больше половины наших клиентов - это компании, и мы рады предоставить
                    им специальный условия обслуживания. Наше предложение включает в себя выгодные тарифы,
                    индивидуальный подход и надежную защиту доверенной нам информации.</p>
                <p class="article__content-text">DRK company предлагают все виды восстановления данных для компаний:</p>
                <ul class="article__content-list">
                    <li class="style-square">Восстановление данных HDD, SSD, Внешних дисков</li>
                    <li class="style-square">Восстановление данных RAID, NAS</li>
                    <li class="style-square">Восстановление данных Серверов</li>
                    <li class="style-square">Восстановление данных сетей хранения данных (SAN)</li>
                </ul>
                <p class="article__content-text">Если в списке вы не нашли необходимую услугу, а также чтобы уточнить
                    стоимость и сроки восстановления данных, позвоните по телефону <a href="tel:+4908004090908"
                                                                                      class="tel">+49 (0)
                        800 409 09 08</a>.</p>
                <p class="article__content-text">Для всех компаний доступна <b>бесплатная</b> услуга-<b>экспертная
                        диагностика</b>
                    оборудования. Для наших постоянных клиентов-компаний действуют особые тарифные планы <b>с
                        дополнительными скидками</b>. Если Вы не имеете возможности доставить оборудование
                    самостоятельно, у нас
                    есть своя курьерская служба. Также, возможен выезд мастера для оценки состояния носителя данных.</p>
            </article>
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/hdd-2.webp 1x, ../../image/gallery/hdd-2-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/hdd-2.jpg 1x, ../../image/gallery/hdd-2-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/hdd-2.jpg"
                             srcset="../../image/gallery/hdd-2-2x.jpg 2x" alt="">
                    </picture>
                </div>
                <ul class="article__content-list">
                    <li class="style-square style-square--top">Позвоните по бесплатному номеру: <a
                                href="tel:+4908004090908"
                                class="tel">+49 (0) 800 409 09 08</a>.
                    </li>
                    <li class="style-square style-square--top">Заполните <a href="#">форму на сайте</a></li>
                </ul>
                <p class="article__content-text">Ответим на все ваши вопросы, договоримся о проведении диагностики</p>
            </div>
        </div>
        <div class="about__success about__success-row">
            <div class="about__success-inner">
                <p class="about__success-number">98%</p>
                <p class="about__success-text">Успешных случаев восстановления данных</p>
            </div>
            <div class="about__success-inner">
                <p class="about__success-number">75 <span>регионов</span></p>
                <p class="about__success-text">Из которых к нам поступали носители на восстановление</p>
            </div>
            <div class="about__success-inner">
                <p class="about__success-number"><span>более </span>15<span> лет</span></p>
                <p class="about__success-text">Опыт специалистов в сфере восстановления данных </p>
            </div>
        </div>
    </div>
</section>
<section class="article">
    <div class="container">
        <h2 class="article__title">Основы сотрудничества с компаниями</h2>
        <div class="article__wrapper  ">
            <article class="article__content article__content--big">
                <p class="article__content-text">У DRK Company в работе с компаниями те же принципы, что при оказании
                    услуг частным клиентам. Это – открытость, эффективность и лояльность. На практике это выражается в
                    следующем:
                </p>
                <ul class="article__content-list">
                    <li class="style-square style-square--top">Сделаем все, чтобы восстановить информацию с поврежденных
                        носителей: наше
                        современное оборудование, программное обеспечение и большой опыт специалистов гарантируют успех
                        в 98% случаев;
                    </li>
                    <li class="style-square style-square--top">Всегда проконсультируем по возникшим вопросам, сразу
                        после проведения работ
                        проинформируем о результате;
                    </li>
                    <li class="style-square style-square--top">Оформляем полный пакет документов по требованию
                        клиента.
                    </li>
                </ul>
                <p class="article__content-text">Мы хорошо понимаем, что переданные нам данные обладают большой
                    ценностью, и насколько крупными могут быть убытки в случае утраты этой информации. Поэтому мы
                    организовали круглосуточную службу по работе с неисправными носителями в ситуациях, когда
                    восстановление данных необходимо в экстренном порядке.</p>
            </article>
            <div class="article__content article__content--small">
                <h3 class="article__content-title">Выбирая нас вы выбираете:</h3>
                <ul class="article__content-list">
                    <li class="style-square style-square--top">Высокое качество производимых работ;</li>
                    <li class="style-square style-square--top">Консультации по наладке надёжной системы хранения
                        информации;
                    </li>
                    <li class="style-square style-square--top">Возможность корректировок процесса за счёт Ваших
                        пожеланий
                    </li>
                    <li class="style-square style-square--top">Скидки при повторном обращении;</li>
                </ul>
                <p class="article__content-text">Мы не просим предоплату, а сотрудники поддержки круглосуточно ответят
                    на Ваши вопросы по телефону <a href="tel:+4908004090908" class="tel">+49 (0) 800 409 09
                        08</a></p>
            </div>
        </div>
    </div>
</section>
<section class="article">
    <div class="container">
        <h2 class="article__title">Отзывы компаний о сотрудничестве с DRK company</h2>
        <div class="article__wrapper">
            <article class="article__content article__content--big">
                <p class="article__content-text">DRK Company – компания, которая зарекомендовала себя как надежный
                    подрядчик, это подтверждается отзывами о нашей работе.
                </p>
            </article>
        </div>
        <div class="article__gallery--row">
            <div class="article__gallery-item">
                <div class="article__gallery-img">
                    <picture>
                        <source srcset="../../image/gallery/gratitude.webp 1x, ../../image/gallery/gratitude-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/gratitude.jpg 1x, ../../image/gallery/gratitude-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/gratitude.jpg"
                             srcset="../../image/gallery/gratitude-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
            <div class="article__gallery-item">
                <div class="article__gallery-img">
                    <picture>
                        <source srcset="../../image/gallery/gratitude.webp 1x, ../../image/gallery/gratitude-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/gratitude.jpg 1x, ../../image/gallery/gratitude-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/gratitude.jpg"
                             srcset="../../image/gallery/gratitude-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
            <div class="article__gallery-item">
                <div class="article__gallery-img">
                    <picture>
                        <source srcset="../../image/gallery/gratitude.webp 1x, ../../image/gallery/gratitude-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/gratitude.jpg 1x, ../../image/gallery/gratitude-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/gratitude.jpg"
                             srcset="../../image/gallery/gratitude-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('templates/banner.ejs') %>
<%- include('templates/faq.ejs') %>
<%- include('templates/footer.ejs') %>
</body>
</html>