<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DRK</title>
    <link type="image/png" rel="icon" href="../../image/icon/favicon.png">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fafafa">
</head>
<body>
<%- include('templates/header.ejs') %>
<div class="bread-crumbs container">
    <span>Главная</span>
    <span>Защита данных</span>
</div>
<section class="article">
    <div class="container">
        <h2 class="article__title">Защита данных</h2>
        <div class="article__content-block">
            <h3 class="article__content-title">Главная Информация</h3>
            <p class="article__content-text">В следующих примечаниях представлен простой обзор того, что происходит с
                вашими личными данными, когда вы посещаете наш веб-сайт. Персональные данные — это все данные, с помощью
                которых можно идентифицировать вас лично. Подробную информацию о защите данных можно найти в нашем
                заявлении о защите данных, указанном под этим текстом.
            </p>
        </div>
        <h3 class="article__content-title">1. Сбор данных на нашем веб-сайте</h3>
        <div class="article__content-block">
            <h3 class="article__content-title article__content-title--small">Кто отвечает за сбор данных на этом
                веб-сайте?</h3>
            <p class="article__content-text">Обработка данных на этом веб-сайте осуществляется оператором веб-сайта. Вы
                можете найти их контактную информацию в выходных данных этого веб-сайта.</p>
        </div>
        <div class="article__content-block">
            <h3 class="article__content-title article__content-title--small">Как мы собираем ваши данные?</h3>
            <p class="article__content-text">С одной стороны, ваши данные собираются, когда вы сообщаете их нам. Это
                могут быть, например, данные, которые вы вводите в контактную форму.</p>
            <p class="article__content-text">Другие данные автоматически записываются нашими ИТ-системами, когда вы
                посещаете веб-сайт. В первую очередь это технические данные (например, интернет-браузер, операционная
                система или время вызова страницы). Эти данные собираются автоматически, как только вы заходите на наш
                сайт.</p>
        </div>
        <div class="article__content-block">
            <h3 class="article__content-title article__content-title--small">Для чего мы используем ваши данные?</h3>
            <p class="article__content-text">Часть данных собирается для того, чтобы веб-сайт предоставлялся без ошибок.
                Другие данные могут быть использованы для анализа вашего пользовательского поведения.
            </p>
        </div>
        <div class="article__content-block">
            <h3 class="article__content-title article__content-title--small">Какие права у вас есть в отношении ваших
                данных?</h3>
            <p class="article__content-text">Вы имеете право в любое время бесплатно получить информацию о
                происхождении, получателе и цели ваших сохраненных персональных данных. Вы также имеете право запросить
                исправление, блокировку или удаление этих данных. Вы можете связаться с нами в любое время по адресу,
                указанному в выходных данных, если у вас есть дополнительные вопросы по теме защиты данных. Вы также
                имеете право подать жалобу в компетентный надзорный орган.
            </p>
        </div>
        <div class="article__content-block">
            <h3 class="article__content-title article__content-title--small">Инструменты анализа и сторонние
                инструменты</h3>
            <p class="article__content-text">Когда вы посещаете наш веб-сайт, ваше поведение в Интернете может быть
                оценено статистически. В основном это делается с помощью файлов cookie и так называемых аналитических
                программ. Анализ вашего поведения в Интернете обычно проводится анонимно; поведение в серфинге не может
                быть отслежено до вас. Вы можете возразить против этого анализа или предотвратить его, не используя
                определенные инструменты. Подробности можно найти в нашей декларации о защите данных в разделе
                «Сторонние модули и инструменты анализа».
            </p>
            <p class="article__content-text">Вы можете возражать против этого анализа. Мы сообщим вам о возможностях
                возражения в этой декларации о защите данных.
            </p>
        </div>
        <h3 class="article__content-title">2. Общая информация и обязательная информация</h3>
        <div class="article__content-block">
            <h3 class="article__content-title article__content-title--small">Конфиденциальность</h3>
            <p class="article__content-text">Операторы этих страниц очень серьезно относятся к защите ваших личных
                данных. Мы обращаемся с вашими личными данными конфиденциально и в соответствии с законодательными
                положениями о защите данных и настоящей декларацией о защите данных.
            </p>
            <p class="article__content-text">Если вы используете этот веб-сайт, будут собираться различные личные
                данные. Персональные данные — это данные, с помощью которых вас можно идентифицировать лично. В этом
                заявлении о защите данных объясняется, какие данные мы собираем и для чего мы их используем. Там же
                объясняется, как и с какой целью это происходит.
            </p>
            <p class="article__content-text">Мы хотели бы отметить, что передача данных в Интернете (например, при
                общении по электронной почте) может иметь пробелы в безопасности. Полная защита данных от доступа
                третьих лиц невозможна.
            </p>
        </div>
        <div class="article__content-block">
            <h3 class="article__content-title article__content-title--small">Примечание об ответственном органе</h3>
            <p class="article__content-text">Ответственным органом за обработку данных на этом веб-сайте является:</p>
            <p class="article__content-text">Управляющий директор: Дипломированный инженер (FH) С. Мишель</p>
            <p class="article__content-text">Электронная почта: <a href="mailto:info@datenrettungsklinik.de"
                                                                   class="email"><b>info@datenrettungsklinik.de</b></a>
            </p>
            <p class="article__content-text">Адрес: улица Эттенхаймер, 30.</p>
            <p class="article__content-text">79 108 Фрайбург – Германия</p>
            <p class="article__content-text">Телефон: <a href="tel:+4908004090908" class="tel">+49 (0) 800 409 09
                    08</a></p>
            <p class="article__content-text">Факс: +49 761 290 864 31</p>
            <p class="article__content-text">Ответственным органом является физическое или юридическое лицо, которое
                самостоятельно или совместно с другими принимает решение о целях и средствах обработки персональных
                данных (например, имена, адреса электронной почты и т. д.).</p>
        </div>
        <div class="article__content-block">
            <h3 class="article__content-title article__content-title--small">Отзыв вашего согласия на обработку
                данных</h3>
            <p class="article__content-text">Многие операции по обработке данных возможны только с вашего явного
                согласия. Вы можете отозвать свое согласие в любое время. Достаточно неофициального сообщения по
                электронной почте. Законность обработки данных, имевшей место до отзыва, не затрагивается отзывом.</p>
        </div>
        <div class="article__content-block">
            <h3 class="article__content-title article__content-title--small">Право обжалования в компетентный надзорный
                орган</h3>
            <p class="article__content-text">В случае нарушения закона о защите данных заинтересованное лицо имеет право
                подать жалобу в компетентный надзорный орган. Компетентным надзорным органом по вопросам защиты данных
                является государственный уполномоченный по защите данных федеральной земли, в которой находится наша
                компания. Список уполномоченных по защите данных и их контактные данные можно найти по следующей ссылке:
                <a href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html"><b>https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html</b></a>.</p>
        </div>
        <div class="article__content-block">
            <h3 class="article__content-title article__content-title--small">Право на переносимость данных</h3>
            <p class="article__content-text">Вы имеете право на то, чтобы данные, которые мы обрабатываем автоматически
                на основании вашего согласия или во исполнение договора, передавались вам или третьему лицу в
                общепринятом машиночитаемом формате. Если вы запросите прямую передачу данных другому ответственному
                лицу, это будет сделано только в той мере, в какой это технически возможно.
            </p>
        </div>
        <div class="article__content-block">
            <h3 class="article__content-title article__content-title--small">SSL или TLS-шифрование</h3>
            <p class="article__content-text">По соображениям безопасности и для защиты передачи конфиденциального
                контента, такого как заказы или запросы, которые вы отправляете нам как оператору сайта, этот сайт
                использует SSL или. TLS-шифрование. Вы можете распознать зашифрованное соединение по тому факту, что
                адресная строка браузера меняется с «http://» на «https://» и по символу замка в строке вашего
                браузера.</p>
            <p class="article__content-text">Если активировано шифрование SSL или TLS, данные, которые вы нам передаете,
                не могут быть прочитаны третьими лицами.</p>
        </div>
        <div class="article__content-block">
            <h3 class="article__content-title article__content-title--small">Информация, блокировка, удаление</h3>
            <p class="article__content-text">В рамках применимых правовых положений вы имеете право на бесплатную
                информацию о ваших сохраненных личных данных, их происхождении и получателе, а также цели обработки
                данных и, при необходимости, право на исправление, блокировку или удаление этих данных по адресу любое
                время. Вы можете связаться с нами в любое время по адресу, указанному в выходных данных, если у вас есть
                дополнительные вопросы по теме персональных данных.
            </p>
        </div>
        <div class="article__content-block">
            <h3 class="article__content-title article__content-title--small">Возражение против рекламных писем</h3>
            <p class="article__content-text">Настоящим мы возражаем против использования контактных данных,
                опубликованных в рамках обязательства выходных данных, для отправки нежелательных рекламных и
                информационных материалов. Операторы сайта прямо оставляют за собой право подать в суд в случае отправки
                нежелательной рекламы, такой как спам по электронной почте.
            </p>
        </div>
        <h3 class="article__content-title">3. Сотрудник по защите данных</h3>
        <div class="article__content-block">
            <h3 class="article__content-title article__content-title--small">Требуемый по закону сотрудник по защите
                данных</h3>
            <p class="article__content-text">Мы не назначали сотрудника по защите данных для нашей компании. Так как у
                нас в компании меньше 9 человек.
            </p>
        </div>
        <h3 class="article__content-title">4. Сбор данных на нашем веб-сайте</h3>
        <div class="article__content-block">
            <h3 class="article__content-title article__content-title--small">Cookies</h3>
            <p class="article__content-text">Некоторые веб-сайты используют так называемые файлы cookie. Файлы cookie не
                повреждают ваш компьютер и не содержат вирусов. Файлы cookie служат для того, чтобы сделать наше
                предложение более удобным, эффективным и безопасным. Файлы cookie — это небольшие текстовые файлы,
                которые хранятся на вашем компьютере и сохраняются вашим браузером.
            </p>
            <p class="article__content-text">Большинство файлов cookie, которые мы используем, являются так называемыми
                «сеансовыми файлами cookie». Они автоматически удаляются после вашего посещения. Другие файлы cookie
                остаются на вашем конечном устройстве до тех пор, пока вы их не удалите. Эти файлы cookie позволяют нам
                распознать ваш браузер при следующем посещении.
            </p>
            <p class="article__content-text">Вы можете настроить свой браузер таким образом, чтобы получать информацию о
                настройке файлов cookie и разрешать файлы cookie только в отдельных случаях, исключать прием файлов
                cookie для определенных случаев или вообще и активировать автоматическое удаление файлов cookie при
                закрытии браузера. Если файлы cookie отключены, функциональность этого веб-сайта может быть ограничена.
            </p>
            <p class="article__content-text">Файлы cookie, необходимые для осуществления процесса электронной связи или
                для предоставления определенных функций, которые вы хотите (например, функция корзины покупок), хранятся
                на основании статьи 6, параграфа 1, буква f Общего регламента по защите данных. Оператор веб-сайта имеет
                законный интерес к хранению файлов cookie для технически безошибочного и оптимизированного
                предоставления своих услуг. Поскольку другие файлы cookie (например, файлы cookie для анализа вашего
                поведения в Интернете) сохраняются, они рассматриваются отдельно в этом заявлении о защите данных.
            </p>
        </div>
        <div class="article__content-block">
            <h3 class="article__content-title article__content-title--small">Файлы журнала сервера</h3>
            <p class="article__content-text">Поставщик страниц автоматически собирает и сохраняет информацию в так
                называемых файлах журнала сервера, которые ваш браузер автоматически передает нам. Эти:
            </p>
            <ul>
                <li>Тип и версия браузера</li>
                <li>используемая операционная система</li>
                <li>URL-адрес реферера</li>
                <li>Имя хоста подключающегося компьютера</li>
                <li>Время запроса к серверу</li>
                <li>IP-адрес</li>
            </ul>
            <p class="article__content-text">Эти данные не объединяются с другими источниками данных.</p>
            <p class="article__content-text">Основанием для обработки данных является статья 6, пункт 1, литера b Общего
                регламента по защите данных, которая позволяет обрабатывать данные для выполнения контракта или
                преддоговорных мер.</p>
        </div>
        <div class="article__content-block">
            <h3 class="article__content-title article__content-title--small">Контактная форма, форма экспресс-анализа и
                форма заказа</h3>
            <p class="article__content-text">Если вы отправляете нам запросы через контактную форму, ваши данные из
                формы, включая предоставленные вами контактные данные, будут сохранены нами для целей обработки запроса
                и в случае возникновения дополнительных вопросов. Мы не передаем эти данные без вашего согласия.
            </p>
            <p class="article__content-text">Таким образом, обработка данных, введенных в контактную форму, основана
                исключительно на вашем согласии (статья 6 (1) (a) GDPR). Вы можете отозвать это согласие в любое время.
                Достаточно неофициального сообщения по электронной почте. Законность операций по обработке данных,
                имевших место до отзыва, не затрагивается отзывом.
            </p>
            <p class="article__content-text">Данные, которые вы вводите в контактную форму, останутся у нас до тех пор,
                пока вы не попросите нас удалить их, не отзовете свое согласие на хранение или цель хранения данных
                больше не актуальна (например, после обработки вашего запроса). Обязательные правовые положения, в
                частности сроки хранения, остаются в силе.
            </p>
        </div>
        <h3 class="article__content-title">5. Социальные сети</h3>
        <div class="article__content-block">
            <h3 class="article__content-title article__content-title--small">Плагины Facebook (кнопка «Нравится» и
                «Поделиться»)</h3>
            <p class="article__content-text">На нашем сайте интегрированы плагины от социальной сети Facebook,
                провайдера Facebook Inc., 1 Hacker Way, Menlo Park, California 94025, USA. Вы можете распознать плагины
                Facebook по логотипу Facebook или кнопке «Нравится» («Нравится») на нашем сайте. Вы можете найти обзор
                плагинов Facebook здесь: <a href="https://developers.facebook.com/docs/plugins/"><b>https://developers.facebook.com/docs/plugins/</b></a>.
            </p>
            <p class="article__content-text">Когда вы посещаете наши страницы, между вашим браузером и сервером Facebook
                устанавливается прямое соединение через подключаемый модуль. Facebook получает информацию о том, что вы
                посетили наш сайт с вашего IP-адреса. Если вы нажмете кнопку Facebook «Нравится», когда вы вошли в свою
                учетную запись Facebook, вы можете связать содержимое наших страниц со своим профилем Facebook. Это
                позволяет Facebook связать ваш визит на наш сайт с вашей учетной записью пользователя. Мы хотели бы
                отметить, что мы, как поставщик страниц, не знаем о содержании передаваемых данных или о том, как они
                используются Facebook. Дополнительную информацию об этом можно найти в политике конфиденциальности
                Facebook по адресу: <a href="https://de-de.facebook.com/policy.php"><b>https://de-de.facebook.com/policy.php</b></a>.
            </p>
            <p class="article__content-text">Если вы не хотите, чтобы Facebook мог связать ваше посещение нашего сайта с
                вашей учетной записью пользователя Facebook, выйдите из своей учетной записи пользователя Facebook.
            </p>
        </div>
        <div class="article__content-block">
            <h3 class="article__content-title article__content-title--small">Плагин Google+</h3>
            <p class="article__content-text">Наши страницы используют функции Google+. Поставщиком является Google Inc.,
                1600 Amphitheatre Parkway, Mountain View, CA 94043, США.
            </p>
            <p class="article__content-text">Сбор и раскрытие информации: вы можете использовать кнопку Google+ для
                публикации информации по всему миру. Вы и другие пользователи получаете персонализированный контент от
                Google и наших партнеров с помощью кнопки Google+. Google сохраняет как информацию о контенте, к
                которому вы добавили +1, так и информацию о странице, которую вы просматривали, когда нажали +1. Ваш +1
                может отображаться в виде уведомления вместе с именем и фотографией вашего профиля в службах Google,
                например в результатах поиска или в вашем профиле Google, или где-либо еще на веб-сайтах и в рекламных
                объявлениях в Интернете.
            </p>
            <p class="article__content-text">Google записывает информацию о ваших действиях +1, чтобы улучшить службы
                Google для вас и других. Чтобы иметь возможность использовать кнопку Google+, вам нужен общедоступный
                общедоступный профиль Google, который должен содержать как минимум имя, выбранное для профиля. Это имя
                используется во всех сервисах Google. В некоторых случаях это имя также может заменить другое имя,
                которое вы использовали при обмене контентом через свою учетную запись Google. Личность вашего профиля
                Google может быть показана пользователям, которые знают ваш адрес электронной почты или имеют другую
                идентифицирующую вас информацию.
            </p>
            <p class="article__content-text">Использование собранной информации: В дополнение к целям, описанным выше,
                предоставленная вами информация будет использоваться в соответствии с применимыми правилами защиты
                данных Google. Google может публиковать сводные статистические данные об активности пользователей +1 или
                передавать их пользователям и партнерам, таким как издатели, рекламодатели или аффилированные веб-сайты.
            </p>
        </div>
        <h3 class="article__content-title">6. Инструменты аналитики и реклама</h3>
        <div class="article__content-block">
            <h3 class="article__content-title article__content-title--small">Google reCAPTCHA</h3>
            <p class="article__content-text">Мы используем «Google reCAPTCHA» (далее «reCAPTCHA») на наших веб-сайтах.
                Поставщиком является Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, США («Google»).
            </p>
            <p class="article__content-text">С помощью reCAPTCHA следует проверить, осуществляется ли ввод данных на
                наших веб-сайтах (например, в контактной форме) человеком или автоматизированной программой. Для этого
                reCAPTCHA анализирует поведение посетителя сайта по различным характеристикам. Этот анализ запускается
                автоматически, как только посетитель заходит на сайт. Для анализа reCAPTCHA оценивает различную
                информацию (например, IP-адрес, продолжительность пребывания посетителя веб-сайта на веб-сайте или
                движения мыши, совершаемые пользователем). Данные, собранные в ходе анализа, передаются в Google.
            </p>
            <p class="article__content-text">Обработка данных осуществляется на основании статьи 6, параграфа 1, литера
                f Общего регламента по защите данных. Оператор веб-сайта имеет законный интерес в защите своих
                веб-предложений от неправомерного автоматизированного шпионажа и спама.
            </p>
            <p class="article__content-text">Для получения дополнительной информации о Google reCAPTCHA и политике
                конфиденциальности Google перейдите по следующим ссылкам:
                <a href="https://www.google.com/intl/de/policies/privacy/"><b>https://www.google.com/intl/de/policies/privacy/</b></a> и
                <a href="https://www.google.com/recaptcha/intro/android.html"><b>https://www.google.com/recaptcha/intro/android.html</b></a>.
            </p>
        </div>
        <h3 class="article__content-title">7. Плагины и инструменты</h3>
        <div class="article__content-block">
            <h3 class="article__content-title article__content-title--small">YouTube</h3>
            <p class="article__content-text">Наш веб-сайт использует плагины с сайта YouTube, управляемого Google.
                Оператором сайта является YouTube, LLC, 901 Cherry Ave., San Bruno, CA 94066, USA.</p>
            <p class="article__content-text">Если вы посетите одну из наших страниц, оснащенную плагином YouTube, будет
                установлено соединение с серверами YouTube. Сервер YouTube получает информацию о том, какие из наших
                страниц вы посетили.
            </p>
            <p class="article__content-text">Если вы вошли в свою учетную запись YouTube, вы позволяете YouTube
                назначать ваше поведение в Интернете непосредственно вашему личному профилю. Вы можете предотвратить
                это, выйдя из своей учетной записи YouTube.
            </p>
            <p class="article__content-text">YouTube используется в интересах привлекательного представления наших
                онлайн-предложений. Это представляет собой законный интерес по смыслу статьи 6 (1) (f) GDPR.
            </p>
            <p class="article__content-text">Дополнительную информацию об обработке пользовательских данных можно найти
                в декларации о защите данных YouTube по адресу: <a href="https://www.google.de/intl/de/policies/privacy"><b>https://www.google.de/intl/de/policies/privacy</b></a>.
            </p>
        </div>
        <div class="article__content-block">
            <h3 class="article__content-title article__content-title--small">Веб-шрифты Google</h3>
            <p class="article__content-text">Этот сайт использует так называемые веб-шрифты, предоставленные Google для
                единообразного отображения шрифтов. Когда вы вызываете страницу, ваш браузер загружает необходимые
                веб-шрифты в кеш браузера для правильного отображения текста и шрифтов.
            </p>
            <p class="article__content-text">Для этого используемый вами браузер должен подключаться к серверам Google.
                Это дает Google информацию о том, что доступ к нашему веб-сайту осуществлялся через ваш IP-адрес.
                Веб-шрифты Google используются в интересах единообразного и привлекательного представления нашего
                онлайн-предложения. Это представляет собой законный интерес по смыслу статьи 6 (1) (f) GDPR.
            </p>
            <p class="article__content-text">Если ваш браузер не поддерживает веб-шрифты, на вашем компьютере будет
                использоваться стандартный шрифт.
            </p>
            <p class="article__content-text">Дополнительную информацию о веб-шрифтах Google можно найти на странице
                <a href="https://developers.google.com/fonts/faq"><b>https://developers.google.com/fonts/faq и в политике конфиденциальности Google</b></a>:
                <a href="https://www.google.com/policies/privacy/"><b>https://www.google.com/policies/privacy/</b></a>.
            </p>
        </div>
        <div class="article__content-block">
            <h3 class="article__content-title article__content-title--small">Google Maps</h3>
            <p class="article__content-text">Этот сайт использует картографический сервис Google Maps через API.
                Поставщиком является Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, США.
            </p>
            <p class="article__content-text">Чтобы использовать функции Google Maps, необходимо сохранить свой IP-адрес.
                Эта информация обычно передается на сервер Google в США и хранится там. Провайдер этого сайта не имеет
                никакого влияния на эту передачу данных.
            </p>
            <p class="article__content-text">Карты Google используются в интересах привлекательного представления наших
                онлайн-предложений и облегчения поиска мест, которые мы указали на веб-сайте. Это представляет собой
                законный интерес по смыслу статьи 6 (1) (f) GDPR.
            </p>
            <p class="article__content-text">Дополнительную информацию об обработке пользовательских данных можно найти
                в декларации о защите данных Google: <a href="https://www.google.de/intl/de/policies/privacy/"><b>https://www.google.de/intl/de/policies/privacy/</b></a>.
            </p>
            <p class="article__content-text">Ссылка на источник: <b>Отказ от ответственности eRecht24, отказ от
                    ответственности в Facebook, заявление о защите данных Google Analytics, Условия Google +1, заявление
                    о защите данных для Twitter</b>
            </p>
            <p class="article__content-text"></p>
        </div>
        <div class="article__content-block article__content-block--framed">
            <div class="article__content-block">
                <h3 class="article__content-title article__content-title--stretch article__content-title--small">1.
                    Информация о праве на возражение в соответствии со статьей 21 Общего регламента ЕС по защите данных
                    (GDPR)</h3>
                <p class="article__content-text">Вы имеете право по причинам, вытекающим из вашей конкретной ситуации, в
                    любое время возразить против обработки ваших персональных данных на основании статьи 6, параграфа 1,
                    буква e) GDPR (обработка данных в общественных интересах) и статьи 6, параграфа 1 f) GDPR (обработка
                    данных на основе баланса интересов); это также относится к профилированию на основе этого положения
                    по смыслу статьи 4 № 4 GDPR. В случае возражения мы больше не будем обрабатывать ваши персональные
                    данные, если только мы не сможем продемонстрировать веские законные основания для обработки, которые
                    перевешивают ваши интересы, права и свободы, или если обработка служит для утверждения,
                    осуществления или защиты юридических требований.
                </p>
            </div>
            <div class="article__content-block">
                <h3 class="article__content-title article__content-title--stretch article__content-title--small">2.
                    Право возражать против обработки
                    данных в рекламных целях</h3>
                <p class="article__content-text">В отдельных случаях мы обрабатываем ваши персональные данные для работы
                    с прямой рекламой. Вы имеете право в любое время возразить против обработки ваших персональных
                    данных в целях такой рекламы; это также относится к профилированию, поскольку оно связано с такой
                    прямой рекламой. Если вы возражаете против обработки в целях прямого маркетинга, мы больше не будем
                    обрабатывать ваши персональные данные для этих целей. Возражение можно подать неофициально по
                    адресу, указанному в пункте 2.
                </p>
            </div>
        </div>

    </div>
</section>
<%- include('templates/footer.ejs') %>
</body>
</html>