<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DRK</title>
    <link type="image/png" rel="icon" href="../../image/icon/favicon.png">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fafafa">
</head>
<body>
<%- include('templates/header.ejs') %>
<div class="bread-crumbs container">
    <span>Главная</span>
    <span>Удаленные файлы</span>
</div>
<section class="article">
    <div class="container">
        <h2 class="article__title">Удаленные файлы</h2>
        <div class="article__wrapper article__wrapper--revers">
            <article class="article__content article__content--big">
                <p class="article__content-text">Наверное, каждый сталкивался с ситуацией, когда необходимые файлы по
                    неосторожности, незнанию или
                    вследствие иных причин, были удалены с компьютера или флэшки. Бывает так, что снова понадобились уже
                    удаленные файлы. И если “потерянный” на домашнем компьютере фильм или игру можно скачать заново, то
                    важный рабочий документ, который был утерян вследствие ошибок или невнимательности сотрудника, может
                    привести к возникновению серьезных проблем. Несложно представить то состояние, в котором находится
                    человек, понявший, что важный документ утерян безвозвратно. Компания DRK Company поможет
                    восстановить удаленные данные с вашего устройства.
                </p>
                <p class="article__content-text">Важно помнить: если на накопитель после удаления данных не записывалась
                    никакая информация, то не
                    стоит и сомневаться - потерянные данные восстановить возможно. Но что же, если данные были
                    перезаписаны? Не прощайтесь с вашей информацией раньше времени! Специалисты DRK Company с помощью
                    специальных алгоритмов поиска восстанавливают данные даже после перезаписи.
                </p>
            </article>
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/deleted-files.webp 1x, ../../image/gallery/deleted-files-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/deleted-files.jpg 1x, ../../image/gallery/deleted-files-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/deleted-files.jpg"
                             srcset="../../image/gallery/deleted-files-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
        </div>
        <div class="about__success about__success-row">
            <div class="about__success-inner">
                <p class="about__success-number">98%</p>
                <p class="about__success-text">Успешных случаев восстановления данных</p>
            </div>
            <div class="about__success-inner">
                <p class="about__success-number">75 <span>регионов</span></p>
                <p class="about__success-text">Из которых к нам поступали носители на восстановление</p>
            </div>
            <div class="about__success-inner">
                <p class="about__success-number"><span>более </span>15<span> лет</span></p>
                <p class="about__success-text">Опыт специалистов в сфере восстановления данных </p>
            </div>
        </div>
    </div>
</section>
<section class="article">
    <div class="container">
        <h2 class="article__title">Когда может понадобиться восстановление данных:</h2>
        <ul class="article__content-list article__content-list--column article__content-list--column-big">
            <li class="style-square style-square--top">Случайное удаление файлов;</li>
            <li class="style-square style-square--top">Полное или частичное форматирование жесткого диска;</li>
            <li class="style-square style-square--top">Неправильное конвертирование файла в другой формат</li>
            <li class="style-square style-square--top">Вирусная активность. Некоторые типы вредоносных программ способны
                удалять файлы и занимать свободное место на диске, вызывая ошибки и системные сбои. Если вирус закрался
                в корень папки программы, то последствия могут быть катастрофическими.
            </li>
            <li class="style-square style-square--top">Файл может быть утерян из-за системной ошибки;</li>
            <li class="style-square style-square--top">Файл может быть удален из-за аварийного восстановления системы;
            </li>
            <li class="style-square style-square--top">Поврежденный диск может не давать пользователю увидеть или
                открыть документ. В таком случае нужно производить восстановление жесткого диска и переносить информацию
                на исправный носитель;;
            </li>
            <li class="style-square style-square--top">Аварийное завершение программы. Из-за экстренного завершения
                программ вводимые данные могут не сохраняться или повреждаться. Прочитать их обычным способом уже не
                получится.
            </li>
        </ul>
    </div>
</section>
<section class="article">
    <div class="container">
        <h2 class="article__title">Какие удаленные файлы можно восстановить?</h2>
        <div class="article__wrapper  ">
            <article class="article__content article__content--equal">
                <p class="article__content-text">С какой бы проблемой вы не столкнулись, мы найдем выход из любой
                    ситуации.
                    Наши мастера могут восстановить удаленные файлы любого формата:</p>
                <ul class="article__content-list">
                    <li class="style-circle">офисные документы (word, excel, visio, power point и другие);</li>
                    <li class="style-circle">фотографии и иллюстрации;</li>
                    <li class="style-circle">личные видео;</li>
                    <li class="style-circle">проекты (видео, графика, 3d-моделирование, музыка);</li>
                    <li class="style-circle">служебные файлы для функционирования операционной системы и другое.</li>
                </ul>
            </article>
            <div class="article__content article__content--equal">
                <h3 class="article__content-title">Возможные файловые системы:</h3>
                <ul class="article__content-list">
                    <li class="style-square style-square--top">NTFS, NTFS5, FAT12/16/32/VFAT для ОС Windows;</li>
                    <li class="style-square style-square--top">HFS,APFS, HFS+, HFSX, HFS Wrapper (для ОС Macintosh);
                    </li>
                    <li class="style-square style-square--top">VxFS, UFS, JFS и EAFS (для ОС Unix)</li>
                    <li class="style-square style-square--top">Ext2/3/4, HTFS, ReiserFS (из ОС Linux)</li>
                    <li class="style-square style-square--top">NWFS, NSS (из ОС Novell) и другие</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="article">
    <div class="container">
        <h2 class="article__title">Правила успешного восстановления данных</h2>
        <div class="article__wrapper article__wrapper--revers">
            <article class="article__content article__content--big">
                <h3 class="article__content-title article__content-title--stretch">Правила по снижению вероятности потери данных при случайном удалении
                    или ошибочном форматировании:</h3>
                <ol class="article__content-list">
                    <li class="style-numeral">Не используйте диск с потерянными файлами для записи;</li>
                    <li class="style-numeral">Выключите компьютер или ноутбук, чтобы во время дальнейшей работы система
                        не могла автоматические перезаписать кластеры с удаленными данными;
                    </li>
                    <li class="style-numeral">Объективно оцените степень потери, и если пропавшая информация важна для
                        вас, обращайтесь к специалистам в DRK Company;
                    </li>
                    <li class="style-numeral">Специалисты оценят возможность и стоимость восстановления данных для
                        вашего случая, и, если это возможно, вернут удаленные файлы на информационный носитель.
                    </li>
                </ol>
            </article>
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/rules.webp 1x, ../../image/gallery/rules-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/rules.png 1x, ../../image/gallery/rules-2x.png 2x"
                                type="image/png">
                        <img src="../../image/gallery/rules.png"
                             srcset="../../image/gallery/rules-2x.png 2x" alt="">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('templates/banner.ejs') %>
<%- include('templates/faq.ejs') %>
<%- include('templates/footer.ejs') %>
</body>
</html>