<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DRK</title>
    <link type="image/png" rel="icon" href="../../image/icon/favicon.png">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fafafa">
</head>
<body>
<%- include('templates/header.ejs') %>
<div class="bread-crumbs container">
    <span>Главная</span>
    <span>FAQ</span>
</div>
<section class="FAQ">
    <div class="container">
        <h2 class="FAQ__title">Часто задаваемые вопросы</h2>
        <h3 class="FAQ__subtitle">Наиболее часто задаваемые вопросы о восстановлении данных.</h3>
        <div class="FAQ__list">
            <div class="FAQ__item">
                <h3 class="FAQ__item-title">Могу я быть уверен в конфиденциальности моих данных?</h3>
                <div class="FAQ__item-body">
                    <p>Конфиденциальность данных наш самый важный приоритет. Мы несем личную ответственность за каждый
                        заказ, соблюдаем все необходимые меры, чтобы ваши данные не попали в чужие руки. Все данные с
                        поврежденного носителя сохраняются только на сервере, причём не в виде отдельный файлов, а в
                        собственном уникальном формате, к которому никто не имеет доступ. Единственная копия высылается
                        клиенту. Таким образом исключается случай использования ваших данных кем-либо, кроме вас.</p>
                </div>
            </div>
            <div class="FAQ__item">
                <h3 class="FAQ__item-title">Я живу в Швейцарии. Как мне передать вам носитель?</h3>
                <div class="FAQ__item-body">
                    <p>Это не проблема. Мы ежедневно принимаем носители (usb-флешки, карты памяти, SSD-накопители) из
                        разных стран: Австрия, Франция, Бельгия, Чехия, и т.д. В этом случае вы отправляете носитель
                        любой почтовой службой. Обратная отправка носителя за наш счет. Ваша посылка должна быть
                        застрахована. Так мы сможем ее отследить.</p>
                </div>
            </div>
            <div class="FAQ__item">
                <h3 class="FAQ__item-title">Как правильно упаковывать носитель перед отправкой?</h3>
                <div class="FAQ__item-body">
                    <p>
                    <ol>
                        <li>Извлеките носитель информации из устройства (ПК, Ноутбук, и т.д.);</li>
                        <li>Хорошо упакуйте носитель данных: оберните пузырчатой пленкой и положите в прочную коробку.
                            Убедитесь, что носитель информации не двигается в упаковке, используя амортизирующий
                            материал, чтобы избежать повреждений при транспортировке.
                            Небольшие носители (usb-флешки, карты памяти, SSD-накопители) информации можно упаковать с
                            использованием конверта из мягкого картона.
                        </li>
                    </ol>
                    </p>
                </div>
            </div>
            <div class="FAQ__item">
                <h3 class="FAQ__item-title">От чего зависит стоимость восстановления данных?</h3>
                <div class="FAQ__item-body">
                    <p>Стоимость зависит от типа носителя информации, вида повреждений, требуемого способа решения по
                        восстановлению данных, объема памяти и требуемой срочности. Чтобы узнать стоимость позвоните +49
                        (0) 800 409 09 08.</p>
                </div>
            </div>
            <div class="FAQ__item">
                <h3 class="FAQ__item-title">Как я могу убедиться, что работа вами выполнена качественно?</h3>
                <div class="FAQ__item-body">
                    <p>Вы можете ознакомиться с отзывами о нашей работе. Результат качества - это ваши восстановленные
                        файлы. Поэтому оплата только после проверки списка восстановленных файлов.</p>
                </div>
            </div>
            <div class="FAQ__item">
                <h3 class="FAQ__item-title">Каким образом я могу забрать восстановленные данные, на что их
                    записать?</h3>
                <div class="FAQ__item-body">
                    <div>
                        <p>После завершения процесса восстановления данных, передача файлов возможна 3 способами:</p>
                        <ul>
                            <li class="style-circle">На наш диск. DRK Company дает в аренду свой носитель данных на
                                временное пользование. Вы
                                можете приобрести этот носитель данных или отправить его обратно в клинику спасения
                                данных;
                            </li>
                            <li class="style-circle">На ваш диск. Если для вас имеет значение получить данные именно на
                                ваш запасной носитель
                                информации;
                            </li>
                            <li class="style-circle">Ссылка на облако. Этот вариант применяется по желанию клиента, если
                                объем данных не превышает ........ ;
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="FAQ__item">
                <h3 class="FAQ__item-title">Сложно ли восстановить информацию самостоятельно, если использовать
                    известные программные продукты?</h3>
                <div class="FAQ__item-body">
                    <p>В принципе, это возможно. Все зависит от ваших навыков обращения с ПК и от выбранной утилиты.
                        Самое главное - всегда внимательно изучать инструкцию и никогда не восстанавливать данные на тот
                        же носитель. Но результат, как вы понимаете, не гарантирован.</p>
                </div>
            </div>
            <div class="FAQ__item">
                <h3 class="FAQ__item-title">Мне нужна только часть данных, будет ли итоговая стоимость дешевле?</h3>
                <div class="FAQ__item-body">
                    <p>Для восстановления части данных на одном носителе информации будет проделана та же самая работа,
                        что и для восстановления всех данных на этом носителе информации. Поэтому, к сожалению,
                        невозможно уменьшить эти затраты, выбрав конкретные данные для сохранения.</p>
                </div>
            </div>
            <div class="FAQ__item">
                <h3 class="FAQ__item-title">Могу ли я продолжать использовать свой носитель после восстановления
                    данных?</h3>
                <div class="FAQ__item-body">
                    <p>Единственным направлением деятельности DRK Company является восстановление данных. Наша компания
                        не занимается ремонтом носителей. Мы советуем вам прекратить использовать этот носитель данных.
                        Иначе вы снова рискуете потерять свои данные. Если этот носитель данных вам больше не нужен, мы
                        его бесплатно утилизируем.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('templates/form-ask.ejs') %>
<%- include('templates/footer.ejs') %>
</body>
</html>