<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DRK</title>
    <link type="image/png" rel="icon" href="../../image/icon/favicon.png">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fafafa">
</head>
<body>
<%- include('templates/header.ejs') %>
<div class="bread-crumbs container">
    <span>Главная</span>
    <span>Восстановления данных с флэш-памяти</span>
</div>
<section class="article">
    <div class="container">
        <h2 class="article__title">Восстановление данных с флэш-памяти</h2>
        <div class="article__wrapper article__wrapper--revers">
            <article class="article__content article__content--big">
                <p class="article__content-text">Накопители на основе флэш-памяти с каждым днем принимают все более
                    миниатюрные формы, что повышает их мобильность. Производители оценили преимущества флэш-памяти и
                    успешно используют ее во многих своих устройствах. Область их применения постоянно растет: от
                    мобильных телефонов до маршрутизаторов. Такая популярность делает актуальным вопрос сохранности и
                    безопасности информации с устройств такого типа.
                </p>
                <p class="article__content-text">Преимущества флеш-памяти - экономичность с точки зрения энергозатрат.
                    Также, этот накопитель не содержит в себе никаких движущихся механических узлов и устройств,
                    поскольку это твердотельная память. Поэтому flash-устройства отличаются устойчивостью к механическим
                    воздействиям.</p>
                <p class="article__content-text">Однако ничего абсолютно надёжного в мире современной техники нет, и
                    иногда Флеш-устройства выходят из строя. Мобильный характер эксплуатации этих устройств
                    подразумевает наличие неблагоприятных внешних факторов, которые пагубным образом могут сказываться
                    на их работоспособности.</p>
            </article>
            <div class="article__content article__content--small">
                <p class="article__content-text">Типы флеш-памяти:</p>
                <ul class="article__content-list">
                    <li class="style-square style-square--top">Флэш-память NAND. Имеет более медленную скорость чтения и
                        может получать доступ только к памяти в блоках, а не к байтам. Дешевле, чем NOR. Подходит для
                        хранения больших и часто обновляемых файлов.
                    </li>
                    <li class="style-square style-square--top">Флэш-память NOR. Имеет более быструю скорость чтения,
                        может читать и редактировать данные более точно. Имеет более высокую стоимость за каждый байт.
                        Используют в основном для выполнения кода.
                    </li>
                </ul>
            </div>
        </div>
        <div class="article__gallery--row">
            <p class="article__gallery-title">Виды накопителей, с которых мы восстанавливаем информацию:</p>
            <div class="article__gallery-item">
                <div class="article__gallery-img article__gallery-img--small">
                    <picture>
                        <source srcset="../../image/gallery/sd-icon.webp 1x, ../../image/gallery/sd-icon-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/sd-icon.jpg 1x, ../../image/gallery/sd-icon-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/sd-icon.jpg"
                             srcset="../../image/gallery/sd-icon-2x.jpg 2x" alt="">
                    </picture>
                </div>
                <p class="article__gallery-text">SD (SDHC)</p>
            </div>
            <div class="article__gallery-item">
                <div class="article__gallery-img  article__gallery-img--small">
                    <picture>
                        <source srcset="../../image/gallery/Compact-Flash-icon.webp 1x, ../../image/gallery/Compact-Flash-icon-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/Compact-Flash-icon.jpg 1x, ../../image/gallery/Compact-Flash-icon-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/Compact-Flash-icon.jpg"
                             srcset="../../image/gallery/Compact-Flash-icon-2x.jpg 2x" alt="">
                    </picture>
                </div>
                <p class="article__gallery-text">Compact Flash</p>
            </div>
            <div class="article__gallery-item">
                <div class="article__gallery-img article__gallery-img--small">
                    <picture>
                        <source srcset="../../image/gallery/microSD-icon.webp 1x, ../../image/gallery/microSD-icon-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/microSD-icon.jpg 1x, ../../image/gallery/microSD-icon-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/microSD-icon.jpg"
                             srcset="../../image/gallery/microSD-icon-2x.jpg 2x" alt="">
                    </picture>
                </div>
                <p class="article__gallery-text">Micro SD</p>
            </div>
            <div class="article__gallery-item">
                <div class="article__gallery-img article__gallery-img--small">
                    <picture>
                        <source srcset="../../image/gallery/Memory-Stick-Duo-icon.webp 1x, ../../image/gallery/Memory-Stick-Duo-icon-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/Memory-Stick-Duo-icon.jpg 1x, ../../image/gallery/Memory-Stick-Duo-icon-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/Memory-Stick-Duo-icon.jpg"
                             srcset="../../image/gallery/Memory-Stick-Duo-icon-2x.jpg 2x" alt="">
                    </picture>
                </div>
                <p class="article__gallery-text">Memory Stick Duo</p>
            </div>
            <div class="article__gallery-item">
                <div class="article__gallery-img article__gallery-img--small">
                    <picture>
                        <source srcset="../../image/gallery/XD-Picture-Card-icon.webp 1x, ../../image/gallery/XD-Picture-Card-icon-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/XD-Picture-Card-icon.jpg 1x, ../../image/gallery/XD-Picture-Card-icon-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/XD-Picture-Card-icon.jpg"
                             srcset="../../image/gallery/XD-Picture-Card-icon-2x.jpg 2x" alt="">
                    </picture>
                </div>
                <p class="article__gallery-text">XD Picture Card</p>
            </div>
        </div>
        <div class="about__success about__success-row">
            <div class="about__success-inner">
                <p class="about__success-number">98%</p>
                <p class="about__success-text">Успешных случаев восстановления данных</p>
            </div>
            <div class="about__success-inner">
                <p class="about__success-number">75 <span>регионов</span></p>
                <p class="about__success-text">Из которых к нам поступали носители на восстановление</p>
            </div>
            <div class="about__success-inner">
                <p class="about__success-number"><span>более </span>15<span> лет</span></p>
                <p class="about__success-text">Опыт специалистов в сфере восстановления данных </p>
            </div>
        </div>
    </div>
</section>
<section class="article">
    <div class="container">
        <h2 class="article__title">Распространенные неисправности flash-памяти</h2>
        <h3 class="article__content-title">Логический сбой</h3>
        <div class="article__wrapper article__wrapper--revers">
            <article class="article__content article__content--big">
                <p class="article__content-text">Носитель определяется в системе при штатном подключении, но содержит
                    повреждения, препятствующие получению доступа к данным стандартными средствами операционной системы.
                    Это могут быть повреждения в результате программного сбоя или аппаратных особенностей служебной
                    области данных, используемой контроллером в работе механизма трансляции. В данном случае для
                    восстановления данных применимы все логические инструменты, позволяющие восстанавливать логическую
                    структуру файловой системы.
                </p>
            </article>
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/flash-set.webp 1x, ../../image/gallery/flash-set-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/flash-set.jpg 1x, ../../image/gallery/flash-set-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/flash-set.jpg"
                             srcset="../../image/gallery/flash-set-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
        </div>
        <h3 class="article__content-title">Физический сбой</h3>
        <div class="article__wrapper article__wrapper--revers">
            <article class="article__content article__content--big">
                <p class="article__content-text">Это повреждения контроллера, платы электроники или линий интерфейса,
                    которые приводят к невозможности функционирования накопителя как цельного устройства. Причины -
                    механические воздействия, либо влияние электрических факторов. Например, статического электричества,
                    неверной полярности USB разъемов ПК или проблемы с питанием адаптеров или картоводов. В этом случае
                    Флэш-накопитель при подключении не определяется в системе или сопровождается сообщением системы о
                    «неопознанном устройстве».
                </p>
                <p class="article__content-text">При этом микросхемы памяти, как правило, остаются работоспособными, а
                    данные пользователя на них сохраняются. Как и в случае с логическим повреждением, здесь также
                    рекомендуемым методом восстановления данных является использование специализированных комплексов,
                    работающих напрямую с микросхемами памяти.
                </p>
            </article>
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/flash-set-2.webp 1x, ../../image/gallery/flash-set-2-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/flash-set-2.jpg 1x, ../../image/gallery/flash-set-2-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/flash-set-2.jpg"
                             srcset="../../image/gallery/flash-set-2-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="article">
    <div class="container">
        <h2 class="article__title">Как мы восстанавливаем данные</h2>
        <div class="article__wrapper article__wrapper--revers">
            <article class="article__content article__content--big">
                <p class="article__content-text">Чтобы восстановить данные с флеш-накопителя необходимо выполнить
                    цепочку трех последовательных действий:
                </p>
                <ol class="article__content-list">
                    <li class="style-numeral">Выпаять все микросхемы памяти, присутствующие в накопителе, используя
                        паяльную станцию;
                    </li>
                    <li class="style-numeral">Прочитать содержимое всех микросхем памяти с помощью считывающего
                        устройства;
                    </li>
                    <li class="style-numeral">Используя специализированное программное обеспечение, эмулировать работу
                        штатного контроллера флэш-накопителя и получить результат — образ диска с пользовательскими
                        данными.
                    </li>
                </ol>
                <p class="article__content-text">Все это с успехом аккумулировано в программно-аппаратном комплексе
                    PC-3000 Flash, за исключением процедуры выпаивания микросхем памяти. Используя эти технологии,
                    специалисты DRK Company могут успешно работать с данными. Мы производим ремонт механически
                    повреждённых накопителей в чистой комнате, которая позволяет избежать повреждения носителя из-за его
                    загрязнения или электростатических разрядов.
                </p>
            </article>
            <div class="article__content article__content--small">
                <div class="article__img article__img--small ">
                    <picture>
                        <source srcset="../../image/gallery/flash-recovery.webp 1x, ../../image/gallery/flash-recovery-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/flash-recovery.jpg 1x, ../../image/gallery/flash-recovery-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/flash-recovery.jpg"
                             srcset="../../image/gallery/flash-recovery-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('templates/banner.ejs') %>
<%- include('templates/faq.ejs') %>
<%- include('templates/footer.ejs') %>
</body>
</html>