<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DRK</title>
    <link type="image/png" rel="icon" href="../../image/icon/favicon.png">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fafafa">
</head>
<body>
<%- include('templates/header.ejs') %>

<div class="bread-crumbs container">
    <span>Home</span>
</div>
<section class="banner">
    <div class="container">
        <div class="banner__wrapper">
            <h2 class="banner__title">Data recovery from different media</h2>
            <div class="banner__body">
                <p>We work throughout Germany and neighboring countries.</p>
                <p>We restore data at affordable prices.</p>
            </div>
            <a class="btn--inline btn" href="./restore-data.html" title="Data recovery order form">Get help</a>
        </div>
    </div>
</section>
<section class="article">
    <div class="container">
        <div class="article__wrapper">
            <article class="article__content article__content--big">
                <p class="article__content-text">Information today is valuable, and its loss is a problem for both
                    private users and businesses, which often suffer losses in such situations. Data recovery is a job
                    for professionals who have sufficient experience, specialized hardware and equipment. DRK Company is
                    a professional data recovery company and returns data regardless of the reason for which it was
                    lost.</p>
            </article>
            <div class="article__content article__content--small">
                <ul class="article__content-list">
                    <li class="style-square style-square--top">Expert diagnostics</li>
                    <li class="style-square style-square--top">Professional tools and equipment</li>
                    <li class="style-square style-square--top">Technologically clean room</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="article">
    <div class="container">
        <h2 class="article__title">Popular Services</h2>
        <div class="article__wrapper">
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/hdd-S.webp 1x, ../../image/gallery/hdd-L.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/hdd-S.png 1x, ../../image/gallery/hdd-L.png 2x"
                                type="image/png">
                        <img src="../../image/gallery/hdd-S.png" srcset="../../image/gallery/hdd-L.png 2x" alt="">
                    </picture>
                </div>
            </div>
            <article class="article__content article__content--big">
                <h2 class="article__content-title">Hard Drive Data Recovery (HDD)</h2>
                <p class="article__content-text article__content-text--small">Hard drives are the most common storage
                    media in computers, laptops and servers. Hard drive failure is rare and unpredictable, and when it
                    does occur, it's very frustrating. But don't worry: your data isn't completely gone yet.
                </p>
                <p class="article__content-text article__content-text--small">DRK Company has specialized equipment and
                    a large number of donor discs. This allows us to recover information from any hard drives, from the
                    oldest to the most modern models: Fujitsu, Hitachi, Maxtor, Samsung, Seagate, Western Digital, etc.
                </p>
                <div class="article__product-price">Price from <span class="price">150</span></div>
                <a class="btn--inline btn" href="HDD.html" title="Hard Drive Data Recovery (HDD)">More</a>
            </article>

        </div>
        <div class="article__wrapper">
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/ssd-S.webp 1x, ../../image/gallery/ssd-L.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/ssd-S.png 1x, ../../image/gallery/ssd-L.png 2x"
                                type="image/png">
                        <img src="../../image/gallery/ssd-S.png" srcset="../../image/gallery/ssd-L.png 2x" alt="">
                    </picture>
                </div>
            </div>
            <article class="article__content article__content--big">
                <h2 class="article__content-title">Solid State Drive (SSD) Data Recovery</h2>
                <p class="article__content-text article__content-text--small">An SDD is a high-speed storage device
                    based on NAND flash memory. Solid state drives have many advantages over hard drives, but getting
                    back deleted files is more difficult. Due to the technologically complex design (electronic, not
                    mechanical), specialized knowledge of the SSD media recovery process is required. DRK Company
                    specialists have extensive experience with these media.
                </p>
                <div class="article__product-price">Price from <span class="price">150</span></div>
                <a class="btn--inline btn" href="SSD.html" title="SSD data recovery">More</a>
            </article>
        </div>
        <div class="article__wrapper">
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/NAS-S.webp 1x, ../../image/gallery/NAS-L.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/NAS-S.png 1x, ../../image/gallery/NAS-L.png 2x"
                                type="image/png">
                        <img src="../../image/gallery/NAS-S.png" srcset="../../image/gallery/NAS-L.png 2x" alt="">
                    </picture>
                </div>
            </div>
            <article class="article__content article__content--big">
                <h2 class="article__content-title">Network Attached Storage (NAS)</h2>
                <p class="article__content-text article__content-text--small">NAS is ideal for storing large amounts of
                    information. Devices consist of network controllers and a given number of drives. Systems allow you
                    to quickly access the same file from different personal computers. Despite their recognized
                    reliability, sometimes they fail.
                </p>
                <p class="article__content-text article__content-text--small">It is possible to recover data when
                    external or internal problems are detected in the hard drives of NAS storage arrays. However, this
                    is a time-consuming process that requires sufficient experience and competencies. NAS is our profile
                    and favorite pastime. Masters of DRK Company are engaged in data recovery from NAS devices of any
                    manufacturer and in case of any breakdowns.
                </p>
                <div class="article__product-price">Price from <span class="price">390</span></div>
                <a class="btn--inline btn" href="NAS.html" title="NAS data recovery">More</a>
            </article>
        </div>
        <div class="article__wrapper">
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/raid-S.webp 1x, ../../image/gallery/raid-L.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/raid-S.png 1x, ../../image/gallery/raid-L.png 2x"
                                type="image/png">
                        <img src="../../image/gallery/raid-S.png" srcset="../../image/gallery/raid-L.png 2x" alt="">
                    </picture>
                </div>
            </div>
            <article class="article__content article__content--big">
                <h2 class="article__content-title">RAID data recovery</h2>
                <p class="article__content-text article__content-text--small">Restoring RAID data is a complex process,
                    but can be implemented under certain conditions. The reasons for the loss or damage of information
                    can be: failure of the controller, failure of several hard drives at the same time, changing the
                    configuration of the array. Also, data recovery of the raid array may be necessary due to user
                    errors or logical destruction of information.
                </p>
                <p class="article__content-text article__content-text--small">Recovery of RAID array information is one
                    of the main specializations of DRK Company. Corporate clients often turn to us to recover
                    information from RAID arrays. Through the use of innovative technologies and our many years of
                    experience in the field of data recovery (RAID), we help customers recover RAID arrays and avoid
                    financial losses.
                </p>
                <div class="article__product-price">Price from <span class="price">390</span></div>
                <a class="btn--inline btn" href="raid.html" title="RAID data recovery">More</a>
            </article>
        </div>
        <div class="article__wrapper">
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/USB-Flash-S.webp 1x, ../../image/gallery/USB-Flash-L.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/USB-Flash-S.png 1x, ../../image/gallery/USB-Flash-L.png 2x"
                                type="image/png">
                        <img src="../../image/gallery/USB-Flash-S.png" srcset="../../image/gallery/USB-Flash-L.png 2x"
                             alt="">
                    </picture>
                </div>
            </div>
            <article class="article__content article__content--big">
                <h2 class="article__content-title">USB Flash Data Recovery</h2>
                <p class="article__content-text article__content-text--small">The process of recovering information from
                    flash cards has its own characteristics, which are associated with the specifics of the structure.
                    The architecture of Flash differs significantly from other media. The flash recovery process
                    requires special processing equipment and precise knowledge of the device, controller functions, and
                    storage units.
                </p>
                <p class="article__content-text article__content-text--small">We recover data from flash drives at the
                    hardware level. We disassemble the flash drive, unsolder the memory chip, correct it and restore the
                    data by simulating the operation of the controller. With the help of our innovative equipment, the
                    probability of data recovery is 98%.
                </p>
                <div class="article__product-price">Price from <span class="price">150</span></div>
                <a class="btn--inline btn" href="USB-stick.html" title="USB Flash Data Recovery">More</a>
            </article>
        </div>
    </div>
</section>
<section class="article">
    <div class="container">
        <div class="article__wrapper">
            <article class="article__content article__content--big">
                <p class="article__content-text">In addition to the drives mentioned above, DRK Company service
                    engineers restore and recover data from: virtual systems, external drives, SD and Micro SD Cards,
                    Laptops, Macbooks, etc. If you did not find a device that requires data recovery on our website,
                    call us, perhaps we have already encountered similar cases.</p>
            </article>
            <div class="article__content article__content--small min-banner">
                <p class="article__content-text article__content-text--big">You can contact us by phone: <a
                            href="tel:+4908004090908" class="tel tel--bigXL">+49 (0) 800 409 09 08</a>
                    <br>
                    The call is free
                </p>
            </div>
        </div>
    </div>
</section>
<section class="banner">
    <div class="container">
        <div class="banner__wrapper banner__wrapper--flex">
            <div class="form__info form__info--half">
                <h2 class="form__info-title">Book a free diagnostic now</h2>
                <p class="form__info-text form__info--bigText">Let's examine your data carrier in the laboratory of DRK
                    Company. We will analyze the damage - free of charge and without obligation.
                </p>
            </div>
            <%- include('templates/min-form.ejs') %>
        </div>
    </div>

</section>
<section class="stages">
    <div class="container">
        <h2 class="stages__title">Why choose us</h2>
        <div class="stages__wrapper">
            <div class="stage__item">
                <div class="stage__img-box">
                    <picture>
                        <source srcset="../../image/icon/wallet.webp 1x, ../../image/icon/wallet-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/icon/wallet.png 1x, ../../image/icon/wallet-2x.png 2x"
                                type="image/png">
                        <img src="../../image/icon/wallet.png" srcset="../../image/icon/wallet-2x.png 2x" alt="">
                    </picture>
                </div>
                <h4 class="stage__content-title">Acceptable prices</h4>
                <p class="stage__content-text">We do not impose additional services, our price list will pleasantly
                    surprise you. Expert diagnostics is free of charge.
                </p>
            </div>
            <div class="stage__item">
                <div class="stage__img-box">
                    <picture>
                        <source srcset="../../image/icon/approach.webp 1x, ../../image/icon/approach-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/icon/approach.png 1x, ../../image/icon/approach-2x.png 2x"
                                type="image/png">
                        <img src="../../image/icon/approach.png" srcset="../../image/icon/approach-2x.png 2x" alt="">
                    </picture>
                </div>
                <h4 class="stage__content-title">Individual approach</h4>
                <p class="stage__content-text">We are always available to help you. We are ready to offer special
                    conditions: express recovery, consultations and recommendations, individual calculation.
                </p>
            </div>
            <div class="stage__item">
                <div class="stage__img-box">
                    <picture>
                        <source srcset="../../image/icon/hands.webp 1x, ../../image/icon/hands-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/icon/hands.png 1x, ../../image/icon/hands-2x.png 2x"
                                type="image/png">
                        <img src="../../image/icon/hands.png" srcset="../../image/icon/hands-2x.png 2x" alt="">
                    </picture>
                </div>
                <h4 class="stage__content-title">Payment only after the result</h4>
                <p class="stage__content-text">In confirmation of the recovery, we send you a list of files. Payment
                    only for the result and only after verification.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="about__section">
    <div class="container">
        <div class="about__wrapper">
            <article class="about__article">
                <h2 class="about__article-title">About us in numbers</h2>
                <p class="about__article-text">
                    DRK Company will recover your data from digital media in case of any problems: physical malfunctions
                    and logical failures. We started our journey in 2015. Every day we solve different tasks, both
                    simple ones, like recovering accidentally deleted files from a flash drive, and complex ones, like
                    recovering large amounts of data from a company server. We even take on what others have given up!
                    We know how and know how to recover data and this is confirmed by reviews of our work.
                </p>
            </article>
            <div class="about__success">
                <div class="about__success-inner">
                    <p class="about__success-number">98%</p>
                    <p class="about__success-text">Successful cases of data recovery</p>
                </div>
                <div class="about__success-inner">
                    <p class="about__success-number">75 <span>regions</span></p>
                    <p class="about__success-text">From which carriers came to us for recovery</p>
                </div>
                <div class="about__success-inner">
                    <p class="about__success-number"><span>over</span> 15 <span>years</span></p>
                    <p class="about__success-text">Expertise in data recovery</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="reviews__section">
    <div class="container">
        <h2 class="reviews__title">Real reviews about DRK Company</h2>
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="reviews__wrapper swiper-slide">
                    <article class="review__article review__article--client">
                        <div class="quote"><img src="../../image/icon/quote.png" alt="quote"></div>
                        <p class="review__text">There will be text that the client will tell in the
                            video review, so video reviews should be made as short as possible 15-30 seconds so that the
                            files are not heavy and load quickly</p>
                        <address class="review__author"><span>-</span>Klauss D</address>
                        <time class="review__time" pubdate datetime="2021-7-12" title="12 Июля 2021">12 June</time>
                    </article>
                    <div class="review__media">
                        <video controls preload="none">
                            <source src="#" type="video/mp4">
                        </video>
                    </div>
                </div>
                <div class="reviews__wrapper swiper-slide">
                    <article class="review__article review__article--client">
                        <div class="quote"><img src="../../image/icon/quote.png" alt="quote"></div>
                        <p class="review__text">There will be text that the client will tell in the
                            video review, so video reviews should be made as short as possible 15-30 seconds so that the
                            files are not heavy and load quickly</p>
                        <address class="review__author"><span>-</span>Klauss D</address>
                        <time class="review__time" pubdate datetime="2021-7-12" title="12 Июля 2021">12 June</time>
                    </article>
                    <div class="review__media">
                        <video controls preload="none">
                            <source src="#" type="video/mp4">
                        </video>
                    </div>
                </div>
                <div class="reviews__wrapper swiper-slide">
                    <article class="review__article review__article--client">
                        <div class="quote"><img src="../../image/icon/quote.png" alt="quote"></div>
                        <p class="review__text">There will be text that the client will tell in the
                            video review, so video reviews should be made as short as possible 15-30 seconds so that the
                            files are not heavy and load quickly</p>
                        <address class="review__author"><span>-</span>Klauss D</address>
                        <time class="review__time" pubdate datetime="2021-7-12" title="12 Июля 2021">12 June</time>
                    </article>
                    <div class="review__media">
                        <video controls preload="none">
                            <source src="#" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
            <div class="swiper-button-block">
                <div class="swiper-button swiper-button-prev"></div>
                <div class="swiper-button swiper-button-next"></div>
            </div>
        </div>
    </div>
</section>
<section class="reviews__section">
    <div class="container">
        <h2 class="reviews__title">We value every client</h2>
        <h3 class="reviews__subtitle">A few words from the head of the DRK Company</h3>
        <div class="reviews__wrapper">
            <article class="review__article">
                <div class="quote"><img src="../../image/icon/quote.png" alt="quote"></div>
                <p class="review__text">Each data recovery is a unique story, where each video or photo file is life,
                    moments of love, joy or stages of human growth. Either this is necessary working information,
                    contacts developed over the years, or very well-preserved archives of high value. We equally value
                    each customer - from a startup to a corporation. We pay special attention to the quality of
                    technical support for our customers.</p>
                <address class="review__author"><span>-</span>S. Michel</address>
                <p class="review__position">Company Founder</p>
            </article>
            <div class="review__media">
                <div class="review__img-box">
                    <picture>
                        <source srcset="../../media/review/image/manager.webp" type="image/webp">
                        <source srcset="../../media/review/image/manager.jpg" type="image/jpg">
                        <img src="../../media/review/image/manager.jpg" alt="">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="stages">
    <div class="container">
        <h2 class="stages__title">How we are working</h2>
        <div class="stages__wrapper">
            <div class="stage__item">
                <div class="stage__img-box stage__img-box--big">
                    <picture>
                        <source srcset="../../image/icon/request.webp 1x, ../../image/icon/request-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/icon/request.png 1x, ../../image/icon/request-2x.png 2x"
                                type="image/png">
                        <img src="../../image/icon/request.png" srcset="../../image/icon/request-2x.png 2x" alt="">
                    </picture>
                </div>
                <h4 class="stage__content-title">Appeal</h4>
                <p class="stage__content-text">Contact us in any convenient way:</p>
                <ul>
                    <li>fill out <a href="./restore-data.html" title="Data recovery order form"><b>a form on the
                                site</b></a> ;
                    </li>
                    <li><a href="tel:+4908004090908" class="tel"><b>+49 (0) 800 409 09 08</b></a></li>
                </ul>
                <p class="stage__content-text">You can contact at any time.</p>
            </div>
            <div class="stage__item">
                <div class="stage__img-box stage__img-box--big">
                    <picture>
                        <source srcset="../../image/icon/delivery.webp 1x, ../../image/icon/delivery-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/icon/delivery.png 1x, ../../image/icon/delivery-2x.png 2x"
                                type="image/png">
                        <img src="../../image/icon/delivery.png" srcset="../../image/icon/delivery-2x.png 2x" alt="">
                    </picture>
                </div>
                <h4 class="stage__content-title">Media Delivery</h4>
                <p class="stage__content-text">Bring the media to our office or send it by any postal service.</p>
            </div>
            <div class="stage__item">
                <div class="stage__img-box stage__img-box--big">
                    <picture>
                        <source srcset="../../image/icon/diagnostics.webp 1x, ../../image/icon/diagnostics-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/icon/diagnostics.png 1x, ../../image/icon/diagnostics-2x.png 2x"
                                type="image/png">
                        <img src="../../image/icon/diagnostics.png" srcset="../../image/icon/diagnostics-2x.png 2x"
                             alt="">
                    </picture>
                </div>
                <h4 class="stage__content-title">Diagnostics</h4>
                <p class="stage__content-text">Deep diagnostics in the laboratory, evaluation of the cost and timing of
                    work. We will carry out diagnostics for free, even if you do not use the data recovery service.
                </p>
            </div>
            <div class="stage__item">
                <div class="stage__img-box stage__img-box--big">
                    <picture>
                        <source srcset="../../image/icon/matching.webp 1x, ../../image/icon/matching-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/icon/matching.png 1x, ../../image/icon/matching-2x.png 2x"
                                type="image/png">
                        <img src="../../image/icon/matching.png" srcset="../../image/icon/matching-2x.png 2x" alt="">
                    </picture>
                </div>
                <h4 class="stage__content-title">Coordination</h4>
                <p class="stage__content-text">Based on the results of the diagnostics, we will send you an offer by
                    e-mail, which will indicate:</p>
                <ul>
                    <li>description of works;</li>
                    <li>price;</li>
                    <li>recovery period.</li>
                </ul>
                <p class="stage__content-text">If you agree, we will immediately begin data recovery.</p>
            </div>
            <div class="stage__item">
                <div class="stage__img-box stage__img-box--big">
                    <picture>
                        <source srcset="../../image/icon/work.webp 1x, ../../image/icon/work-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/icon/work.png 1x, ../../image/icon/work-2x.png 2x" type="image/png">
                        <img src="../../image/icon/work.png" srcset="../../image/icon/work-2x.png 2x" alt="">
                    </picture>
                </div>
                <h4 class="stage__content-title">Data recovery</h4>
                <p class="stage__content-text">Depending on the urgency and budget, we offer several service options. If
                    you need our express service, we also work nights and weekends, greatly reducing processing
                    time.</p>
            </div>
            <div class="stage__item">
                <div class="stage__img-box stage__img-box--big">
                    <picture>
                        <source srcset="../../image/icon/result.webp 1x, ../../image/icon/result-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/icon/result.png 1x, ../../image/icon/result-2x.png 2x"
                                type="image/png">
                        <img src="../../image/icon/result.png" srcset="../../image/icon/result-2x.png 2x" alt="">
                    </picture>
                </div>
                <h4 class="stage__content-title">Result</h4>
                <p class="stage__content-text">You will receive a list of saved data. By accepting the list, you confirm
                    the success of data recovery. Payment only in case of success. Data transfer is possible in 3 ways:
                    to your disk, to our disk, or we send a link to the cloud. It is not necessary to go to the office,
                    we will deliver the disc back by courier.</p>
            </div>
        </div>
    </div>
</section>
<section class="banner">
    <div class="container">
        <div class="banner__wrapper">
            <h2 class="banner__title">Leave a request for data recovery</h2>
            <div class="banner__body">
                <p>To have your media analyzed as quickly as possible, please complete our analysis form. We will
                    contact you immediately after receiving the form and discuss the further procedure.</p>
            </div>
            <a class="btn--inline btn" href="./restore-data.html" title="Data recovery order form">Restore data</a>
        </div>
    </div>
</section>
<%- include('templates/faq.ejs') %>
<section class="expert-blog">
    <div class="container">
        <div class="expert-blog__wrapper">
            <article class="expert-blog__article">
                <h2 class="expert-blog__article-title">Blog from an expert in data recovery</h2>
                <p class="expert-blog__article-text">We share experience, answer frequently asked questions, reveal the
                    features of data recovery processes of various storage media</p>
                <div class="expert-blog__author-block">
                    <div class="expert-blog__author-img">
                        <picture>
                            <source srcset="../../media/review/image/manager-S.webp 1x, ../../media/review/image/manager-S-2x.webp 2x"
                                    type="image/webp">
                            <source srcset="../../media/review/image/manager-S.jpg 1x, ../../media/review/image/manager-S-2x.jpg 2x"
                                    type="image/jpg">
                            <img src="../../media/review/image/manager-S.jpg"
                                 srcset="../../media/review/image/manager-S-2x.jpg 2x" alt="">
                        </picture>
                    </div>
                    <div class="expert-blog__author-info">
                        <address class="expert-blog__author-name">S. Michel</address>
                        <p class="expert-blog__author-position">Company Founder</p>
                        <p class="expert-blog__author-experience">Experience: <span>22 years</span></p>
                    </div>
                </div>
            </article>
            <div class="expert-blog__other-articles">
                <div class="expert-blog__article-card">
                    <div class="expert-blog__link transition-link"><a href="./blog-article1.html"
                                                                      title="Article by DRK Company">Go to article</a>
                    </div>
                    <p class="expert-blog__card-text">HDD data recovery: what to do if the data is valuable?</p>
                </div>
                <div class="expert-blog__article-card">
                    <div class="expert-blog__link transition-link"><a href="./blog-article2.html"
                                                                      title="Article by DRK Company">Go to article</a>
                    </div>
                    <p class="expert-blog__card-text">Is it possible to recover data from a failed SSD drive?</p>
                </div>
                <div class="expert-blog__article-card">
                    <div class="expert-blog__link transition-link"><a href="./blog-article3.html"
                                                                      title="Article by DRK Company">Go to article</a>
                    </div>
                    <p class="expert-blog__card-text">Recovering files from a flash drive after formatting.</p>
                </div>
                <div class="expert-blog__article-card">
                    <div class="expert-blog__link transition-link"><a href="./blog-article4.html"
                                                                      title="Article by DRK Company">Go to article</a>
                    </div>
                    <p class="expert-blog__card-text">What to do if the RAID array is damaged? How to get data?</p>
                </div>
            </div>
            <div class="expert-blog__other-articles expert-blog__other-articles--stretch">
            </div>
            <div class="transition-link"><a href="./blog.html" title="DRK Company Blog">Go to blog</a>
            </div>
        </div>
    </div>
</section>

<%- include('templates/footer.ejs') %>
</body>
</html>