<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DRK</title>
    <link type="image/png" rel="icon" href="../../image/icon/favicon.png">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fafafa">
</head>
<body>
<%- include('templates/header.ejs') %>
<div class="bread-crumbs container">
    <span>Главная</span>
    <span>Восстановление данных Сетевого хранилища (NAS)</span>
</div>
<section class="article">
    <div class="container">
        <h2 class="article__title">Восстановление данных Сетевого хранилища (NAS)</h2>
        <div class="article__wrapper article__wrapper--revers">
            <article class="article__content article__content--big">
                <p class="article__content-text">Независимо от того какой объём памяти доступен для хранения на вашем
                    компьютере, всегда требуется больше. Вопрос достаточного свободного пространства на запоминающем
                    устройстве всегда актуален. Например, если вы занимаетесь обработкой видео, фото, другой работой,
                    требующей больших объёмов для хранения цифровых материалов. Или нуждаетесь в создании сетевого
                    хранилища для небольшого офиса с возможностью непосредственного доступа.
                </p>
                <p class="article__content-text">Сервера NAS – идеальные хранилища для большого объема информации.
                    Устройства состоят из сетевых контроллеров и заданного числа накопителей. Системы позволяют быстро
                    получать доступ к одному и тому же файлу с различных персональных компьютеров. Помимо хранения
                    данных, оборудование широко применяется для решения задач по резервному копированию.
                </p>
            </article>
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/NAS.webp 1x, ../../image/gallery/NAS-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/NAS.jpg 1x, ../../image/gallery/NAS-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/NAS.jpg"
                             srcset="../../image/gallery/NAS-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
        </div>
        <div class="article__wrapper article__wrapper--revers">
            <h2 class="article__content-title">Восстановление данных Сетевого хранилища (NAS)</h2>
            <article class="article__content article__content--big">
                <div class="article__gallery--row">
                    <div class="article__gallery-link">
                        <div class="article__gallery-img article__gallery-img--low">
                            <picture>
                                <source srcset="../../image/gallery/Synology-logo.webp 1x, ../../image/gallery/Synology-logo-2x.webp 2x"
                                        type="image/webp">
                                <source srcset="../../image/gallery/Synology-logo.jpg 1x, ../../image/gallery/Synology-logo-2x.jpg 2x"
                                        type="image/jpg">
                                <img src="../../image/gallery/Synology-logo.jpg"
                                     srcset="../../image/gallery/Synology-logo-2x.jpg 2x" alt="">
                            </picture>
                        </div>
                        <p class="gallery__subtitle">NAS Synology<span class="arrow">-</span></p>
                    </div>
                    <div class="article__gallery-link">
                        <div class="article__gallery-img article__gallery-img--low">
                            <picture>
                                <source srcset="../../image/gallery/NAS-QNAP-logo.webp 1x, ../../image/gallery/NAS-QNAP-logo-2x.webp 2x"
                                        type="image/webp">
                                <source srcset="../../image/gallery/NAS-QNAP-logo.jpg 1x, ../../image/gallery/NAS-QNAP-logo-2x.jpg 2x"
                                        type="image/jpg">
                                <img src="../../image/gallery/NAS-QNAP-logo.jpg"
                                     srcset="../../image/gallery/NAS-QNAP-logo-2x.jpg 2x" alt="">
                            </picture>
                        </div>
                        <p class="gallery__subtitle">NAS QNAP<span class="arrow">-</span></p>
                    </div>
                    <div class="article__gallery-link">
                        <div class="article__gallery-img article__gallery-img--low">
                            <picture>
                                <source srcset="../../image/gallery/mycloud-logo.webp 1x, ../../image/gallery/mycloud-logo-2x.webp 2x"
                                        type="image/webp">
                                <source srcset="../../image/gallery/mycloud-logo.jpg 1x, ../../image/gallery/mycloud-logo-2x.jpg 2x"
                                        type="image/jpg">
                                <img src="../../image/gallery/mycloud-logo.jpg"
                                     srcset="../../image/gallery/mycloud-logo-2x.jpg 2x" alt="">
                            </picture>
                        </div>
                        <p class="gallery__subtitle">NAS WD my Cloud<span class="arrow">-</span></p>
                    </div>
                </div>
            </article>
            <div class="article__content article__content--small">
                <p class="article__content-text">Synology, QNAP и Western Digital— лидеры индустрии NAS оборудования.
                    Серверы этих брендов чаще других попадают к нам на восстановление данных, так как пользователи чаще
                    их выбирают.</p>
            </div>
        </div>
        <div class="brand">
            <div class="brand__swiper">
                <div class="swiper-wrapper">
                    <div class="brand__content swiper-slide">
                        <div class="brand__content-img">
                            <picture>
                                <source srcset="../../image/brand/AData-S.webp 1x, ../../image/brand/AData-S-2x.webp 2x"
                                        type="image/webp">
                                <source srcset="../../image/brand/AData-S.jpg 1x, ../../image/brand/AData-S-2x.jpg 2x"
                                        type="image/jpg">
                                <img src="../../image/brand/AData-S.jpg" srcset="../../image/brand/AData-S-2x.jpg 2x"
                                     alt="">
                            </picture>
                        </div>
                        <p>AData</p>
                    </div>
                    <div class="brand__content swiper-slide">
                        <div class="brand__content-img">
                            <picture>
                                <source srcset="../../image/brand/Silicon-Power-S.webp 1x, ../../image/brand/Silicon-Power-S-2x.webp 2x"
                                        type="image/webp">
                                <source srcset="../../image/brand/Silicon-Power-S.jpg 1x, ../../image/brand/Silicon-Power-S-2x.jpg 2x"
                                        type="image/jpg">
                                <img src="../../image/brand/Silicon-Power-S.jpg"
                                     srcset="../../image/brand/Silicon-Power-S-2x.jpg 2x" alt="">
                            </picture>
                        </div>
                        <p>Silicon Power</p>
                    </div>
                    <div class="brand__content swiper-slide">
                        <div class="brand__content-img">
                            <picture>
                                <source srcset="../../image/brand/SanDisk-S.webp 1x, ../../image/brand/SanDisk-S-2x.webp 2x"
                                        type="image/webp">
                                <source srcset="../../image/brand/SanDisk-S.jpg 1x, ../../image/brand/SanDisk-S-2x.jpg 2x"
                                        type="image/jpg">
                                <img src="../../image/brand/SanDisk-S.jpg"
                                     srcset="../../image/brand/SanDisk-S-2x.jpg 2x" alt="">
                            </picture>
                        </div>
                        <p>SanDisk</p>
                    </div>
                    <div class="brand__content swiper-slide">
                        <div class="brand__content-img">
                            <picture>
                                <source srcset="../../image/brand/Medion-S.webp 1x, ../../image/brand/Medion-S-2x.webp 2x"
                                        type="image/webp">
                                <source srcset="../../image/brand/Medion-S.jpg 1x, ../../image/brand/Medion-S-2x.jpg 2x"
                                        type="image/jpg">
                                <img src="../../image/brand/Medion-S.jpg" srcset="../../image/brand/Medion-S-2x.jpg 2x"
                                     alt="">
                            </picture>
                        </div>
                        <p>Medion</p>
                    </div>
                    <div class="brand__content swiper-slide">
                        <div class="brand__content-img">
                            <picture>
                                <source srcset="../../image/brand/Lacie-S.webp 1x, ../../image/brand/Lacie-S-2x.webp 2x"
                                        type="image/webp">
                                <source srcset="../../image/brand/Lacie-S.jpg 1x, ../../image/brand/Lacie-S-2x.jpg 2x"
                                        type="image/jpg">
                                <img src="../../image/brand/Lacie-S.jpg" srcset="../../image/brand/Lacie-S-2x.jpg 2x"
                                     alt="">
                            </picture>
                        </div>
                        <p>Lacie</p>
                    </div>
                    <div class="brand__content swiper-slide">
                        <div class="brand__content-img">
                            <picture>
                                <source srcset="../../image/brand/Seagate-S.webp 1x, ../../image/brand/Seagate-S-2x.webp 2x"
                                        type="image/webp">
                                <source srcset="../../image/brand/Seagate-S.jpg 1x, ../../image/brand/Seagate-S-2x.jpg 2x"
                                        type="image/jpg">
                                <img src="../../image/brand/Seagate-S.jpg"
                                     srcset="../../image/brand/Seagate-S-2x.jpg 2x" alt="">
                            </picture>
                        </div>
                        <p>Seagate</p>
                    </div>
                    <div class="brand__content swiper-slide">
                        <div class="brand__content-img">
                            <picture>
                                <source srcset="../../image/brand/Kingston-logo-S.webp 1x, ../../image/brand/Kingston-logo-S-2x.webp 2x"
                                        type="image/webp">
                                <source srcset="../../image/brand/Kingston-logo-S.jpg 1x, ../../image/brand/Kingston-logo-S-2x.jpg 2x"
                                        type="image/jpg">
                                <img src="../../image/brand/Kingston-logo-S.jpg"
                                     srcset="../../image/brand/Kingston-logo-S-2x.jpg 2x" alt="">
                            </picture>
                        </div>
                        <p>Kingston</p>
                    </div>
                    <div class="brand__content swiper-slide">
                        <div class="brand__content-img">
                            <picture>
                                <source srcset="../../image/brand/Toshiba-S.webp 1x, ../../image/brand/Toshiba-S-2x.webp 2x"
                                        type="image/webp">
                                <source srcset="../../image/brand/Toshiba-S.jpg 1x, ../../image/brand/Toshiba-S-2x.jpg 2x"
                                        type="image/jpg">
                                <img src="../../image/brand/Toshiba-S.jpg"
                                     srcset="../../image/brand/Toshiba-S-2x.jpg 2x" alt="">
                            </picture>
                        </div>
                        <p>Toshiba</p>
                    </div>
                    <div class="brand__content swiper-slide">
                        <div class="brand__content-img">
                            <picture>
                                <source srcset="../../image/brand/Samsung-S.webp 1x, ../../image/brand/Samsung-S-2x.webp 2x"
                                        type="image/webp">
                                <source srcset="../../image/brand/Samsung-S.jpg 1x, ../../image/brand/Samsung-S-2x.jpg 2x"
                                        type="image/jpg">
                                <img src="../../image/brand/Samsung-S.jpg"
                                     srcset="../../image/brand/Samsung-S-2x.jpg 2x" alt="">
                            </picture>
                        </div>
                        <p>Samsung</p>
                    </div>
                    <div class="brand__content swiper-slide">
                        <div class="brand__content-img">
                            <picture>
                                <source srcset="../../image/brand/Hitachi-S.webp 1x, ../../image/brand/Hitachi-S-2x.webp 2x"
                                        type="image/webp">
                                <source srcset="../../image/brand/Hitachi-S.jpg 1x, ../../image/brand/Hitachi-S-2x.jpg 2x"
                                        type="image/jpg">
                                <img src="../../image/brand/Hitachi-S.jpg"
                                     srcset="../../image/brand/Hitachi-S-2x.jpg 2x" alt="">
                            </picture>
                        </div>
                        <p>Hitachi</p>
                    </div>
                    <div class="brand__content swiper-slide">
                        <div class="brand__content-img">
                            <picture>
                                <source srcset="../../image/brand/HGST-S.webp 1x, ../../image/brand/HGST-S-2x.webp 2x"
                                        type="image/webp">
                                <source srcset="../../image/brand/HGST-S.jpg 1x, ../../image/brand/HGST-S-2x.jpg 2x"
                                        type="image/jpg">
                                <img src="../../image/brand/HGST-S.jpg" srcset="../../image/brand/HGST-S-2x.jpg 2x"
                                     alt="">
                            </picture>
                        </div>
                        <p>HGST</p>
                    </div>
                    <div class="brand__content swiper-slide">
                        <div class="brand__content-img">
                            <picture>
                                <source srcset="../../image/brand/Maxtor-S.webp 1x, ../../image/brand/Maxtor-S-2x.webp 2x"
                                        type="image/webp">
                                <source srcset="../../image/brand/Maxtor-S.jpg 1x, ../../image/brand/Maxtor-S-2x.jpg 2x"
                                        type="image/jpg">
                                <img src="../../image/brand/Maxtor-S.jpg" srcset="../../image/brand/Maxtor-S-2x.jpg 2x"
                                     alt="">
                            </picture>
                        </div>
                        <p>Maxtor</p>
                    </div>
                    <div class="brand__content swiper-slide">
                        <div class="brand__content-img">
                            <picture>
                                <source srcset="../../image/brand/Smartbuy-S.webp 1x, ../../image/brand/Smartbuy-S-2x.webp 2x"
                                        type="image/webp">
                                <source srcset="../../image/brand/Smartbuy-S.jpg 1x, ../../image/brand/Smartbuy-S-2x.jpg 2x"
                                        type="image/jpg">
                                <img src="../../image/brand/Smartbuy-S.jpg"
                                     srcset="../../image/brand/Smartbuy-S-2x.jpg 2x" alt="">
                            </picture>
                        </div>
                        <p>Smartbuy</p>
                    </div>

                </div>
            </div>
            <div class="brand__swiper-button brand__swiper-button-prev">prev</div>
            <div class="brand__swiper-button brand__swiper-button-next">next</div>
        </div>
        <div class="article__wrapper  ">
            <article class="article__content article__content--big">
                <p class="article__content-text">NAS выпускаются в виде компактных системных блоков. Управление и
                    настройка осуществляется по сети. Количество поддерживаемых жестких дисков напрямую зависит от
                    функционала и технических характеристик. Например, в домашних серверах используется 2-4 жестких
                    диска. На предприятиях применяются либо аналогичные модели, либо так называемые «дисковые полки».
                </p>
                <p class="article__content-text">Обработка данных, работа операционной системы, подключение к сети
                    выполняется самим компьютером. В этом и заключается причина основных проблем, связанных с NAS -
                    чрезмерная загруженность системы. Поэтому не исключены ситуации, когда поломка или нарушение в
                    работе программного обеспечения приводит к потере данных, размещенных на сетевом хранилище. Мы не
                    рекомендуем пытаться вернуть файлы своими силами. Специалисты DRK Company решают любые проблемы,
                    связанные с потерей данных NAS-серверов.
                </p>
            </article>
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/NAS-2.webp 1x, ../../image/gallery/NAS-2-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/NAS-2.jpg 1x, ../../image/gallery/NAS-2-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/NAS-2.jpg"
                             srcset="../../image/gallery/NAS-2-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
        </div>
        <div class="about__success about__success-row">
            <div class="about__success-inner">
                <p class="about__success-number">98%</p>
                <p class="about__success-text">Успешных случаев восстановления данных</p>
            </div>
            <div class="about__success-inner">
                <p class="about__success-number"><span>более </span>15<span> лет</span></p>
                <p class="about__success-text">Опыт специалистов в сфере восстановления данных </p>
            </div>
            <div class="about__success-inner">
                <p class="about__success-number"><span>более</span>2000</p>
                <p class="about__success-text">Количество дисков-доноров в базе DRK Company</p>
            </div>
        </div>
    </div>
</section>
<section class="article">
    <div class="container">
        <h2 class="article__title">Что делать если произошла потеря данных?</h2>
        <div class="article__wrapper  ">
            <article class="article__content article__content--big">
                <p class="article__content-text">Если говорить о недостатках NAS-хранилищ, главное из них- это не очень
                    высокая надёжность системы. Даже перезагрузка после перепрошивки устройства может быть привести к
                    потере данных с дискового пространства накопителя. Частая причина этому - использовании не самых
                    лучших компонентов хранилища или снижении качества программного обеспечения, которое может быть
                    допущено производителем и разработчиком. Поэтому в обязательном порядке следует производить
                    своевременное резервное копирование важных данных.
                </p>
                <p class="article__content-text">Научитесь определять признаки неполадок и будьте готовы предпринять
                    соответствующие меры. Пользователям стоит подробно ознакомиться со своими NAS-системами и их
                    веб-интерфейсом. Нужно знать, не только как правильно настроить систему, но и как распознавать
                    дефекты и неисправности жесткого диска и что делать в таких случаях. Полезно также настроить
                    получение по электронной почте уведомлений о проблемах с NAS-системами и накопителями. Несмотря на
                    то, что большинство NAS-систем показывают состояние жесткого диска с помощью светодиодных
                    индикаторов на корпусе, пользователи редко обращают на них внимание и в случае поломки далеко не
                    сразу замечают проблемы, ведь все данные остаются доступны через массив. Не заметить электронное
                    письмо гораздо труднее.
                </p>
            </article>
            <div class="article__content article__content--small">
                <h3 class="article__content-title article__content-title--stretch">Что делать если произошла
                    потеря данных?</h3>
                <p class="article__content-text">Большинство серверов имеют функцию восстановления, но это применимо
                    лишь к восстановлению работоспособности различных компонентов (аппаратных и программных) самого
                    устройства. Восстановить пользовательские файлы таким образом не получится. Здесь необходим будет
                    профессиональный подход и необходимый инструментарий. Некоторые пользователи предпочтут
                    самостоятельно решать проблемы, однако очень часто более правильный шагом будет обращение в
                    специальную лабораторию по восстановлению данных, такую как DRK Company. Мы здесь, чтобы помочь вам.
                    Позвоните нам <a href="tel:+49080040909 08" class="top">+49 (0) 800 409 09 08</a>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="article">
    <div class="container">
        <h2 class="article__title">Распространенные неисправности Raid массивов</h2>
        <div class="article__wrapper  ">
            <h3 class="article__content-title">Поломка контроллера RAID-массива</h3>
            <article class="article__content article__content--big">
                <p class="article__content-text">Неполадки в управляющем устройстве часто становятся причиной разрушения
                    RAID массивов. Замена контролёра не всегда восстанавливает конфигурацию. Из-за этого RAID не
                    идентифицируется операционной системой или не распознаются отдельно взятые диски.
                </p>
            </article>
            <div class="article__content article__content--small">
                <ul class="article__content-list">
                    <li class="style-square style-square--top">Один или более дисков не инициализируются</li>
                    <li class="style-square style-square--top">Диски находятся в состоянии downgrade</li>
                    <li class="style-square style-square--top">Массив не монтируется</li>
                </ul>
            </div>
        </div>
        <div class="article__wrapper  ">
            <h3 class="article__content-title">Логические повреждения или несанкционированное
                форматирование/удаление</h3>
            <article class="article__content article__content--big">
                <p class="article__content-text">Наиболее распространённые причины сбоев в структуре файлов —
                    программные неполадки, вирусы и ошибки при резервном копировании. Сам массив из строя не выходит,
                    контроллер работает исправно. Если ситуация не сопряжена с каким-либо другим сбоем и диски видны
                    системой и контроллером в том качестве, в каком и должны, есть большая вероятность вернуть
                    информацию. При условии, разумеется, что не имела место повторная запись на винчестер («поверх»).
                </p>
            </article>
            <div class="article__content article__content--small">
                <ul class="article__content-list">
                    <li class="style-square style-square--top">Операционная система не определяет массив</li>
                    <li class="style-square style-square--top">Отсутствует доступ к логическим дискам, файлам и папкам
                    </li>
                </ul>
            </div>
        </div>
        <div class="article__wrapper  ">
            <h3 class="article__content-title">Отказ одного или нескольких жестких дисков</h3>
            <article class="article__content article__content--big">
                <p class="article__content-text">Во время отказа одного или нескольких жестких дисков RAID-массив
                    определяется как единый диск, либо как неформатированный диск. В ряде конфигураций неисправность
                    единственного жесткого диска разрушает массив. В системах с более высокой степенью
                    отказоустойчивости это не всегда является критичным (для RAID-массивов 1-й и 5-й конфигурации). В
                    этом случае система предложит произвести замену неисправного диска и пересобрать его, но это не дает
                    100% гарантии успешного восстановления работы массива и сохранности данных.
                </p>
            </article>
            <div class="article__content article__content--small">
                <ul class="article__content-list">
                    <li class="style-square style-square--top">Raid-массив определяется как единый диск</li>
                    <li class="style-square style-square--top">Raid-массив определяется как неформатированный диск</li>
                </ul>
            </div>
        </div>
        <div class="article__wrapper  ">
            <h3 class="article__content-title">Разрушение RAID-массива</h3>
            <article class="article__content article__content--big">
                <p class="article__content-text">Разрушение массива происходит, когда контроллер утрачивает сведения о
                    конфигурации RAID. Выход из строя RAID-контроллера однозначно ведет к разрушению массива.
                    Подключение дисков к другому, даже идентичному, контроллеру и попытка инициализировать их далеко не
                    всегда приводят к успеху. Тем более найти точно такой же контроллер, выпущенный несколько лет назад,
                    бывает проблематично. Поэтому в большинстве случаев разумной тактикой становится извлечение данных
                    из разрушенного массива программными методами.
                </p>
            </article>
            <div class="article__content article__content--small">
                <ul class="article__content-list">
                    <li class="style-square style-square--top">Диски не распознаются или начинают отображаться
                        хаотично
                    </li>
                    <li class="style-square style-square--top">Накопители идентифицируются как неформатированные или
                        устройства с неизвестной файловой системой
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="article">
    <div class="container">
        <h2 class="article__title">Восстановление данных RAID в DRK Company</h2>
        <div class="gallery__wrapper">
            <div class="gallery__item">
                <div class="gallery__img ">
                    <picture>
                        <source srcset="../../image/gallery/hdd-2.webp 1x, ../../image/gallery/hdd-2-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/hdd-2.jpg 1x, ../../image/gallery/hdd-2-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/hdd-2.jpg"
                             srcset="../../image/gallery/hdd-2-2x.jpg 2x" alt="">
                    </picture>
                </div>
                <p class="gallery__subtitle">Экспертная диагностика</p>
            </div>
            <div class="gallery__item">
                <div class="gallery__img ">
                    <picture>
                        <source srcset="../../image/gallery/hdd-5.webp 1x, ../../image/gallery/hdd-5-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/hdd-5.jpg 1x, ../../image/gallery/hdd-5-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/hdd-5.jpg"
                             srcset="../../image/gallery/hdd-5-2x.jpg 2x" alt="">
                    </picture>
                </div>
                <p class="gallery__subtitle">Современные инструменты и оборудование</p>
            </div>
            <div class="gallery__item">
                <div class="gallery__img ">
                    <picture>
                        <source srcset="../../image/gallery/hdd-1.webp 1x, ../../image/gallery/hdd-1-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/hdd-1.jpg 1x, ../../image/gallery/hdd-1-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/hdd-1.jpg"
                             srcset="../../image/gallery/hdd-1-2x.jpg 2x" alt="">
                    </picture>
                </div>
                <p class="gallery__subtitle">Замена магнитных пластин</p>
            </div>
            <div class="gallery__item">
                <div class="gallery__img ">
                    <picture>
                        <source srcset="../../image/gallery/hdd-4.webp 1x, ../../image/gallery/hdd-4-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/hdd-4.jpg 1x, ../../image/gallery/hdd-4-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/hdd-4.jpg"
                             srcset="../../image/gallery/hdd-4-2x.jpg 2x" alt="">
                    </picture>
                </div>
                <p class="gallery__subtitle">Замена головного устройства чтения/записи</p>
            </div>
            <div class="gallery__item">
                <div class="gallery__img ">
                    <picture>
                        <source srcset="../../image/gallery/hdd-7.webp 1x, ../../image/gallery/hdd-7-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/hdd-7.jpg 1x, ../../image/gallery/hdd-7-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/hdd-7.jpg"
                             srcset="../../image/gallery/hdd-7-2x.jpg 2x" alt="">
                    </picture>
                </div>
                <p class="gallery__subtitle">Уникальная чистая комната</p>
            </div>
            <div class="gallery__item">
                <div class="gallery__img ">
                    <picture>
                        <source srcset="../../image/gallery/hdd-6.webp 1x, ../../image/gallery/hdd-6-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/hdd-6.jpg 1x, ../../image/gallery/hdd-6-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/hdd-6.jpg"
                             srcset="../../image/gallery/hdd-6-2x.jpg 2x" alt="">
                    </picture>
                </div>
                <p class="gallery__subtitle">Замена механики жесткого диска</p>
            </div>
            <div class="gallery__item">
                <div class="gallery__img ">
                    <picture>
                        <source srcset="../../image/gallery/PC-3000.webp 1x, ../../image/gallery/PC-3000-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/PC-3000.jpg 1x, ../../image/gallery/PC-3000-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/PC-3000.jpg"
                             srcset="../../image/gallery/PC-3000-2x.jpg 2x" alt="">
                    </picture>
                </div>
                <p class="gallery__subtitle">Комплексы PC-3000 Express</p>
            </div>
            <div class="gallery__item">
                <div class="gallery__img ">
                    <picture>
                        <source srcset="../../image/gallery/stock.webp 1x, ../../image/gallery/stock-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/stock.jpg 1x, ../../image/gallery/stock-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/stock.jpg"
                             srcset="../../image/gallery/stock-2x.jpg 2x" alt="">
                    </picture>
                </div>
                <p class="gallery__subtitle">Все доступные запчасти в наличие</p>
            </div>
            <div class="gallery__item">
                <div class="gallery__img ">
                    <picture>
                        <source srcset="../../image/gallery/hdd-8.webp 1x, ../../image/gallery/hdd-8-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/hdd-8.jpg 1x, ../../image/gallery/hdd-8-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/hdd-8.jpg"
                             srcset="../../image/gallery/hdd-8-2x.jpg 2x" alt="">
                    </picture>
                </div>
                <p class="gallery__subtitle">Экспресс-восстановление</p>
            </div>
        </div>
    </div>
</section>
<%- include('templates/banner.ejs') %>
<%- include('templates/faq.ejs') %>
<%- include('templates/footer.ejs') %>
</body>
</html>