<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DRK</title>
    <link type="image/png" rel="icon" href="../../image/icon/favicon.png">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fafafa">
</head>
<body>
<%- include('templates/header.ejs') %>
<div class="bread-crumbs container">
    <span>Главная</span>
    <span>Частным клиентам</span>
</div>
<section class="article">
    <div class="container">
        <h2 class="article__title">Информация для частных лиц</h2>
        <div class="article__wrapper article__wrapper--revers">
            <article class="article__content article__content--big">
                <p class="article__content-text">Ситуации, когда пользователи теряют свою информацию в повседневной
                    жизни случаются довольно часто. Фраза: «потерять информацию», - не совсем правильная; лучше говорить
                    «потерять доступ к информации». Данные на носителе в большинстве случаев все еще присутствуют,
                    только по каким-то причинам они недоступны. </p>
                <p class="article__content-text">Если вы удалили нужный файл, у вас сломался винчестер или невозможно
                    прочитать важную информацию с флэш накопителя, то это еще не повод ставить крест на своих данных.
                    Современные программы позволяют восстановить информацию, утерянную из-за сбоя оборудования или по
                    ошибке пользователя.</p>
                <p class="article__content-text">При потере важных данных люди начинают впадать в панику. И первым делом
                    ищут инструкцию, программы для восстановления данных, знакомых мастеров, и наконец
                    специализированные компании. В таком состоянии - главное не сделать хуже! Поэтому мы предлагаем вам
                    не пытаться вернуть фотографии, видео, документы, личные или деловые записи самостоятельно, а сразу
                    обратиться в лабораторию по восстановлению данных. В этом случае вероятность избежать потерь в разы
                    выше. Ежедневно в DRK Company поступают подобные запросы на восстановление данных, и наша миссия
                    избавить вас от этих проблем!</p>
            </article>
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/notebook-recovery-1.webp 1x, ../../image/gallery/notebook-recovery-1-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/notebook-recovery-1.jpg 1x, ../../image/gallery/notebook-recovery-1-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/notebook-recovery-1.jpg"
                             srcset="../../image/gallery/notebook-recovery-1-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
        </div>
        <div class="about__success about__success-row">
            <div class="about__success-inner">
                <p class="about__success-number">98%</p>
                <p class="about__success-text">Успешных случаев восстановления данных</p>
            </div>
            <div class="about__success-inner">
                <p class="about__success-number">75 <span>регионов</span></p>
                <p class="about__success-text">Из которых к нам поступали носители на восстановление</p>
            </div>
            <div class="about__success-inner">
                <p class="about__success-number"><span>более </span>15<span> лет</span></p>
                <p class="about__success-text">Опыт специалистов в сфере восстановления данных </p>
            </div>
        </div>
        <div class="article__wrapper  ">
            <article class="article__content article__content--big">
                <p class="article__content-text">Лаборатория DRK Company располагает оборудованием для работы с ПК,
                    Ноутбуками, неисправными жесткими дисками, RAID массивами, SSD дисками, NAS хранилищами, флешками,
                    SD-карты (стандартные, мини, микро) и другое. У нас огромная база дисков-доноров и много других
                    запчастей, что позволяет восстановить данные в короткие сроки. Мы имеем большой опыт работы с
                    различными операционными системами: Windows, Mac OS, Linux, UNIX, и другое.</p>
                <p class="article__content-text">Среди наших клиентов мы никого не выделяем – любой человек или компания
                    имеют абсолютно равный приоритет. Основополагающими факторами являются характер неисправности
                    носителя и предъявляемые заказчиком сроки. Мы восстанавливаем данные по заранее оговоренной цене и
                    не навязываем дополнительных услуг. Наш прайс вас приятно удивит. Кроме того, экспертная диагностика
                    проводится бесплатно, даже если вы не воспользуетесь услугой восстановления данных.</p>
            </article>
            <div class="article__content article__content--small">
                <p class="article__content-text">Для всех клиентов доступна <b>бесплатная</b> услуга-<b>экспертная
                        диагностика</b> оборудования.</p>
                <ul class="article__content-list">
                    <li class="style-square style-square--top">Позвоните по бесплатному номеру: <a
                                href="tel:+490800 4090908" class="header-top__tel">+49 (0) 800 409 09 08</a>
                    </li>
                    <li class="style-square style-square--top">Заполните <a href="#">форму на сайте</a></li>
                </ul>
                <p class="article__content-text">Ответим на все ваши вопросы, договоримся
                    о проведении диагностики</p>
            </div>
        </div>
    </div>
</section>
<section class="reviews__section">
    <div class="container">
        <h2 class="reviews__title">Информация для частных лиц</h2>
        <p class="reviews__subtitle-small">Ситуации, когда пользователи теряют свою информацию в повседневной
            жизни случаются довольно часто. Фраза: «потерять информацию», - не совсем правильная; лучше говорить
            «потерять доступ к информации». Данные на носителе в большинстве случаев все еще присутствуют,
            только по каким-то причинам они недоступны. </p>
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="reviews__wrapper swiper-slide">
                    <article class="review__article review__article--client">
                        <div class="quote"><img src="../../image/icon/quote.png" alt="quote"></div>
                        <p class="review__text">Здесь будет текст, который расскажет
                            клиент в видеоотзыве, поэтому видеоотзывы
                            нужно сделать максимально короткими
                            15-30 секунд, чтобы файлы были
                            не тяжелыми и быстро прогружались</p>
                        <address class="review__author"><span>-</span>Klauss D</address>
                        <time class="review__time" pubdate datetime="2021-7-12" title="12 Июля 2021">12 июня</time>
                    </article>
                    <div class="review__media">
                        <video controls preload="none">
                            <source src="#" type="video/mp4">
                        </video>
                    </div>
                </div>
                <div class="reviews__wrapper swiper-slide">
                    <article class="review__article review__article--client">
                        <div class="quote"><img src="../../image/icon/quote.png" alt="quote"></div>
                        <p class="review__text">Здесь будет текст, который расскажет
                            клиент в видеоотзыве, поэтому видеоотзывы
                            нужно сделать максимально короткими
                            15-30 секунд, чтобы файлы были
                            не тяжелыми и быстро прогружались</p>
                        <address class="review__author"><span>-</span>Klauss D</address>
                        <time class="review__time" pubdate datetime="2021-7-12" title="12 Июля 2021">12 июня</time>
                    </article>
                    <div class="review__media">
                        <video controls preload="none">
                            <source src="https://youtu.be/eWrstRfalnw">
                        </video>
                    </div>
                </div>
                <div class="reviews__wrapper swiper-slide">
                    <article class="review__article review__article--client">
                        <div class="quote"><img src="../../image/icon/quote.png" alt="quote"></div>
                        <p class="review__text">Здесь будет текст</p>
                        <address class="review__author"><span>-</span>Klauss D</address>
                        <time class="review__time" pubdate datetime="2021-7-12" title="12 Июля 2021">12 июня</time>
                    </article>
                    <div class="review__media">
                        <video controls preload="none">
                            <source src="https://youtu.be/eWrstRfalnw">
                        </video>
                    </div>
                </div>

            </div>
            <div class="swiper-button-block">
                <div class="swiper-button swiper-button-prev"></div>
                <div class="swiper-button swiper-button-next"></div>
            </div>
        </div>
    </div>
</section>
<%- include('templates/banner.ejs') %>
<%- include('templates/faq.ejs') %>
<%- include('templates/footer.ejs') %>
</body>
</html>