<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DRK</title>
    <link type="image/png" rel="icon" href="../../image/icon/favicon.png">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fafafa">
</head>
<body>
<%- include('templates/header.ejs') %>
<div class="bread-crumbs container">
    <span>Главная</span>
    <span>Право на отказ</span>
</div>
<section class="article">
    <div class="container">
        <h2 class="article__title">Право на отказ</h2>
        <div class="article__content-block">
            <h3 class="article__content-title article__content-title--small">Право на отказ</h3>
            <p class="article__content-text">Вы имеете право отказаться от настоящего договора в течение четырнадцати
                дней
                без объяснения причин. Срок расторжения составляет четырнадцать дней со дня заключения договора. Чтобы
                воспользоваться своим правом на отказ, вы должны сообщить нам о своем решении отказаться от настоящего
                договора посредством четкого заявления (например, письма, отправленного по почте, факсу или электронной
                почте). Вы можете использовать образец формы, прикрепленный или предоставленный на нашем веб-сайте, но
                это
                не является обязательным.
            </p>
            <p class="article__content-text">Чтобы уложиться в срок отмены, вам достаточно отправить сообщение об
                использовании вами права на отмену до истечения периода отмены.</p>
        </div>
        <div class="article__content-block">
            <h3 class="article__content-title article__content-title--stretch article__content-title--small">Последствия отказа:</h3>
            <p class="article__content-text">Если вы отзовете этот договор, мы оплатим вам все платежи, которые мы
                получили
                от вас, включая расходы на доставку (за исключением дополнительных расходов, связанных с тем, что вы
                выбрали
                другой тип доставки, чем самая дешевая стандартная доставка из предложенных). нами), немедленно и не
                позднее
                чем в течение четырнадцати дней со дня, когда мы получили уведомление о вашем расторжении настоящего
                договора. Для этого погашения мы используем те же средства платежа, которые вы использовали в исходной
                транзакции, если с вами прямо не было согласовано иное; ни при каких обстоятельствах с вас не будет
                взиматься плата за это погашение. Вы несете расходы по возврату всех оригинальных носителей данных и
                всего
                соответствующего оборудования и других аксессуаров от Data Recovery Clinic к вам, а также расходы по
                возврату товаров, полученных от вас, в Data Recovery Clinic. Вы должны компенсировать любое снижение
                стоимости полученных товаров из-за ненадлежащего обращения и использования не по назначению.</p>
            <p class="article__content-text">Конец отзыва</p>
        </div>
        <div class="article__content-block">
            <h3 class="article__content-title article__content-title--stretch article__content-title--small">Сервис восстановления данных</h3>
            <p class="article__content-text">Geschäftsführer: Dipl. Ing. (FH) S. Michel</p>
            <p class="article__content-text">E-mail: <a href="mailto:info@datenrettungsklinik.de"
                                                        class="email"><b>info@datenrettungsklinik.de</b></a>
            </p>
            <p class="article__content-text"><b>www.datenrettungsklinik.de</b></p>
            <p class="article__content-text">Адрес: Habsburger Straße 125, D79104 Freiburg im Breisgau– Deutschland</p>
            <p class="article__content-text">Телефон: <a href="tel:+4908004090908" class="tel">+49 (0) 800 409 09
                    08</a></p>
            <p class="article__content-text">Факс: +49 761 290 864 31</p>
            <p class="article__content-text">Umsatz – Steuernummer ID: DE304325016</p>
        </div>
    </div>
</section>
<%- include('templates/footer.ejs') %>
</body>
</html>