<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DRK</title>
    <link type="image/png" rel="icon" href="../../image/icon/favicon.png">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fafafa">
</head>
<body>
<%- include('templates/header.ejs') %>
<div class="bread-crumbs container">
    <span>Главная</span>
    <span>Восстановление данных по сети хранения данных (SAN)</span>
</div>
<section class="article">
    <div class="container">
        <h2 class="article__title">Восстановление данных по сети хранения данных (SAN)</h2>
        <div class="article__wrapper article__wrapper--revers">
            <article class="article__content article__content--big">
                <p class="article__content-text">Современные пользователи все чаще нуждаются в увеличении емкости
                    носителей информации, а также в обеспечении быстрого, надежного и разделяемого доступа к своим
                    данным из разных, территориально отделенных друг от друга мест. Чтобы удовлетворить эти требования,
                    многие компании внедряют и успешно используют сети хранения данных SAN (Storage Area Network),
                    построенные на базе технологии Fibre Channel.</p>
                <p class="article__content-text">Технология SAN удовлетворяет все потребности корпоративного хранилища,
                    предоставляя отдельную, хорошо масштабируемую высокопроизводительную сеть, предназначенную для
                    соединения множества серверов с массивом устройств хранения.</p>
            </article>
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/SAN.webp 1x, ../../image/gallery/SAN-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/SAN.jpg 1x, ../../image/gallery/SAN-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/SAN.jpg"
                             srcset="../../image/gallery/SAN-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
        </div>
        <div class="article__wrapper">
            <article class="article__content article__content--big">
                <div class="article__img">
                    <picture>
                        <source srcset="../../image/gallery/schemeSAN.webp 1x, ../../image/gallery/schemeSAN-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/schemeSAN.jpg 1x, ../../image/gallery/schemeSAN-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/schemeSAN.jpg"
                             srcset="../../image/gallery/schemeSAN-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </article>
            <div class="article__content article__content--small">
                <ul class="article__content-list">
                    <li class="style-square style-square--top">Высокая производительность. SAN использует отдельную
                        сетевую структуру, предназначенную для решения задач по хранению данных.
                    </li>
                    <li class="style-square style-square--top">Высокая масштабируемость. SAN может поддерживать
                        чрезвычайно большие развертывания, охватывающие тысячи хост-серверов и устройств хранения.
                    </li>
                    <li class="style-square style-square--top">Расширенные возможности управления. SAN поддерживает ряд
                        полезных функций хранилища корпоративного класса, включая шифрование данных, репликацию
                        хранилища и технологии самовосстановления, предназначенные для максимального увеличения емкости
                        хранилища, безопасности и устойчивости данных.
                    </li>
                </ul>
            </div>
        </div>
        <div class="article__wrapper">
            <article class="article__content article__content--big">
                <p class="article__content-text">Несмотря на преимущества использования SAN существует одна проблема —
                    отсутствие оптимально сбалансированной защиты данных. В любой компании возникает такой момент, когда
                    потеря хранимой информации невосполнима и может привести к серьёзным неприятностям, в том числе и к
                    остановке основной деятельности компании. К такому типу информации могут относиться базы данных
                    бухгалтерского учета, архивы электронной почты, внутренние электронные базы ведения бизнеса, архивы
                    отдела кадров и тд. Специалисты DRK Company используют накопленные знания и опыт, чтобы
                    восстанавливать данные с любого типа SAN, с любым количеством различных ,конфигураций RAID.</p>
            </article>
            <div class="article__content article__content--small">
                <p class="article__content-text article__content-text--warning">Если случился инциндент при
                    использовании устройства SAN и есть риск потери данных, звоните бесплатно:
                    <a href="tel:+4908004090908" class="tel">+49 (0) 800 409 09 08</a></p>
            </div>
        </div>
        <div class="about__success about__success-row">
            <div class="about__success-inner">
                <p class="about__success-number">98%</p>
                <p class="about__success-text">Успешных случаев восстановления данных</p>
            </div>
            <div class="about__success-inner">
                <p class="about__success-number"><span>более </span>15<span> лет</span></p>
                <p class="about__success-text">Опыт специалистов в сфере восстановления данных </p>
            </div>
            <div class="about__success-inner">
                <p class="about__success-number"><span>более</span>2000</p>
                <p class="about__success-text">Количество дисков-доноров в базе DRK Company</p>
            </div>
        </div>
    </div>
</section>
<section class="article">
    <div class="container">
        <h2 class="article__title">Распространенные неисправности SAN</h2>
        <div class="article__wrapper  ">
            <article class="article__content article__content--big">
                <p class="article__content-text">Главной ошибкой пользователей сетей хранения данных – это уверенность в
                    том, что современные системы не нуждаются в резервном копировании. Многие считают, что система c
                    высокой степенью защиты от сбоев достаточно надежна и обеспечит сохранность данных в любом случае.
                    На практике все иначе. Отсутствие четкой и регулярной системы архивирования основных дисковых стоек
                    приводит к потере данных в результате сбоев. Система резервного копирования позволяет также избежать
                    случайной потери информации, вызванной сбоями в работе ПО и ошибками пользователей. Некоторые
                    заказчики готовы отказаться от системы резервного копирования, забывая, что нередко система хранения
                    данных стоит дешевле, чем хранящаяся на ней информация.</p>
                <p class="article__content-text">Если такая ситуация все-таки произошла, мы реккомендуем незамедлительно
                    выключить устройство. Не пытайтесь отремонтировать неисправное устройство, не убедившись, что
                    отдельные подключенные устройства находятся в хорошем рабочем состоянии. Как можно быстрее
                    обратитесь за помощью к специалистам по восстановлению данных SAN. Позвоните <a href="tel:+49 (0) 800 409 09 08" class="tel">+49 (0) 800 409 09 08</a>
                    или заполните форму на сайте.</p>
            </article>
            <div class="article__content article__content--small">
                <p class="article__content-text">Чаще всего при восстановление файлов SAN мы сталкиваемся со случаями:</p>
                <ul class="article__content-list">
                    <li class="style-square style-square--top">Отказы одного или нескольких дисков;</li>
                    <li class="style-square style-square--top">Ошибки в работе системы из-за логического или физического сбоя;</li>
                    <li class="style-square style-square--top">Недоступность данных из-за вирусной атаки или сбойных секторов;</li>
                    <li class="style-square style-square--top">Ошибки пользователей, случайное удаление данных или ошибочное форматирование;</li>
                    <li class="style-square style-square--top">Ошибка согласованности RAID;</li>
                    <li class="style-square style-square--top">Отказы в работе массивов;</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<%- include('templates/banner.ejs') %>
<%- include('templates/faq.ejs') %>
<%- include('templates/footer.ejs') %>
</body>
</html>