<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DRK</title>
    <link type="image/png" rel="icon" href="../../image/icon/favicon.png">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fafafa">
</head>
<body>
<%- include('templates/header.ejs') %>
<div class="bread-crumbs container">
    <span>Главная</span>
    <span>Этапы работы</span>
</div>
<section class="article">
    <div class="container">
        <h2 class="article__title">Процесс восстановления данных</h2>
        <div class="article__wrapper">
            <article class="article__content article__content--big">
                <p class="article__content-text">Ознакомьтесь с этапами оказания услуги по восстановлению данных в DRK
                    Company. Уже много лет эта
                    схема помогает нам выстраивать процесс взаимодействия с клиентами правильно и без лишних действий.
                    Для заказчика процесс восстановления данных всегда понятен и открыт, потому что каждый этап работ
                    согласовывается, поэтому в DRK Company клиенты не несут непредвиденных расходов.</p>
            </article>
        </div>
        <div class="article__wrapper">
            <article class="article__content article__content--big">
                <h3 class="article__content-title">1. Обращение</h3>
                <p class="article__content-text">В случае инцидента, оформите заявку любым удобным способом:</p>
                <ul class="article__content-list">
                    <li class="style-square">Подробно заполните форму на сайте;</li>
                    <li class="style-square">Позвоните по бесплатному номеру:
                        <a href="tel:+4908004090908" class="tel">+49 (0) 800 409 09 08</a></li>
                </ul>
                <p class="article__content-text">Мы работаем круглосуточно</p>
            </article>
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/stages-working/result.webp 1x, ../../image/stages-working/result-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/stages-working/result.png 1x, ../../image/stages-working/result-2x.png 2x"
                                type="image/png">
                        <img src="../../image/stages-working/result.png"
                             srcset="../../image/stages-working/result-2x.png 2x" alt="">
                    </picture>
                </div>
            </div>
        </div>
        <div class="article__wrapper article__wrapper--revers">
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/stages-working/delivery.webp 1x, ../../image/stages-working/delivery-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/stages-working/delivery.png 1x, ../../image/stages-working/delivery-2x.png 2x"
                                type="image/png">
                        <img src="../../image/stages-working/delivery.png"
                             srcset="../../image/stages-working/delivery-2x.png 2x" alt="">
                    </picture>
                </div>
            </div>
            <article class="article__content article__content--big">
                <h3 class="article__content-title">2. Доставка носителя</h3>
                <ol class="article__content-list">
                    <li class="style-numeral">Извлеките носитель информации из устройства (ПК, Ноутбук, и т.д.);</li>
                    <li class="style-numeral">Хорошо упакуйте носитель данных: оберните пузырчатой пленкой и положите в
                        прочную коробку.
                        Убедитесь, что носитель информации не двигается в упаковке, используя амортизирующий материал,
                        чтобы избежать повреждений при транспортировке. Небольшие носители (usb-флешки, карты памяти,
                        SSD-накопители) информации можно упаковать с использованием конверта из мягкого картона.
                    </li>
                    <li class="style-numeral">Приносите носитель к нам в офис или отправляете его любой почтовой
                        службой. Ваша посылка должна
                        быть застрахована. Так мы сможем ее отследить. Обратная отправка носителя за наш счет.
                    </li>
                </ol>
            </article>
        </div>
        <div class="article__wrapper">
            <article class="article__content article__content--big">
                <h3 class="article__content-title">3. Диагностика</h3>
                <p class="article__content-text">Глубокая диагностика в лаборатории, оценка стоимости и сроков работ.
                    Диагностику мы проведем бесплатно, даже если вы не воспользуетесь услугой
                    восстановления данных. После проведения квалифицированного анализа вы получите результат анализа и
                    ценовое предложение.
                </p>
            </article>
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/stages-working/diagnostics.webp 1x, ../../image/stages-working/diagnostics-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/stages-working/diagnostics.png 1x, ../../image/stages-working/diagnostics-2x.png 2x"
                                type="image/png">
                        <img src="../../image/stages-working/diagnostics.png"
                             srcset="../../image/stages-working/diagnostics-2x.png 2x" alt="">
                    </picture>
                </div>
            </div>
        </div>
        <div class="article__wrapper article__wrapper--revers">
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/stages-working/matching.webp 1x, ../../image/stages-working/matching-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/stages-working/matching.png 1x, ../../image/stages-working/matching-2x.png 2x"
                                type="image/png">
                        <img src="../../image/stages-working/matching.png"
                             srcset="../../image/stages-working/matching-2x.png 2x" alt="">
                    </picture>
                </div>
            </div>
            <article class="article__content article__content--big">
                <h3 class="article__content-title">4. Согласование</h3>
                <p class="article__content-text">По результатам диагностики вам на почту отправляем предложение, в
                    котором будут указаны:</p>
                <ul class="article__content-list">
                    <li class="style-square">Описание работ</li>
                    <li class="style-square">Стоимость восстановления данных</li>
                    <li class="style-square">Срок восстановления</li>
                </ul>
                <p class="article__content-text">В случае вашего согласия немедленно начинаем восстанавливать данные. В
                    случае отказа мы вернем вам
                    исходный носитель данных или бесплатно утилизируем носитель данных. Никаких дополнительных расходов
                    с вас не взимается.</p>
            </article>
        </div>
        <div class="article__wrapper">
            <article class="article__content article__content--big">
                <h3 class="article__content-title">5. Восстановление данных</h3>
                <p class="article__content-text">Если вы примете наше предложение, мы сразу приступаем к работе. В
                    зависимости от срочности и бюджета мы предлагаем несколько вариантов обслуживания. Если вам нужна
                    наша экспресс-услуга, мы также работаем по ночам и в выходные дни, что значительно сокращает время
                    обработки.</p>
            </article>
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/stages-working/work.webp 1x, ../../image/stages-working/work-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/stages-working/work.png 1x, ../../image/stages-working/work-2x.png 2x"
                                type="image/png">
                        <img src="../../image/stages-working/work.png"
                             srcset="../../image/stages-working/work-2x.png 2x" alt="">
                    </picture>
                </div>
            </div>
        </div>
        <div class="article__wrapper article__wrapper--revers">
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/stages-working/result.webp 1x, ../../image/stages-working/result-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/stages-working/result.png 1x, ../../image/stages-working/result-2x.png 2x"
                                type="image/png">
                        <img src="../../image/stages-working/result.png"
                             srcset="../../image/stages-working/result-2x.png 2x" alt="">
                    </picture>
                </div>
            </div>
            <article class="article__content article__content--big">
                <h3 class="article__content-title">6. Результат</h3>
                <p class="article__content-text">Вы получите список сохраненных данных. Принимая список, вы подтверждаете успех восстановления данных.
                    Оплата только в случае успеха. Передача данных возможна 3 способами: </p>
                <ul class="article__content-list">
                    <li class="style-square">На ваш диск</li>
                    <li class="style-square">На наш диск</li>
                    <li class="style-square">Либо отправляем ссылку на облако</li>
                </ul>
                <p class="article__content-text">Не обязательно ехать в офис, обратно диск доставим курьером.
                    Результат восстановления данных будет отправлен вам после получения оплаты.
                </p>
            </article>
        </div>
    </div>
</section>
<%- include('templates/banner.ejs') %>
<%- include('templates/faq.ejs') %>
<%- include('templates/footer.ejs') %>
</body>
</html>