<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DRK</title>
    <link type="image/png" rel="icon" href="../../image/icon/favicon.png">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fafafa">
</head>
<body>
<%- include('templates/header.ejs') %>
<div class="bread-crumbs container">
    <span>Главная</span>
    <span>Восстановление данных виртуальных систем</span>
</div>
<section class="article">
    <div class="container">
        <h2 class="article__title">Восстановление данных виртуальных систем</h2>
        <div class="article__wrapper article__wrapper--revers">
            <article class="article__content article__content--big">
                <p class="article__content-text">Сегодня виртуальные машины используются повсюду, чаще всего для
                    организации сетевой инфраструктуры внутри организации — на одном сервере можно организовать
                    контроллер домена, сервер приложений, сервер хранения данных, почтовый сервер, шлюз в интернет и
                    другое. Виртуальные машины также часто используются дома для хранения личных данных.
                </p>
                <p class="article__content-text">Но при всём удобстве и экономии в работе с виртуальными машинами,
                    восстановление данных с виртуальных машин —это более сложный процесс, чем восстановление данных с
                    обычного носителя или файловой системы.</p>
            </article>
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/virtual-system.webp 1x, ../../image/gallery/virtual-system-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/virtual-system.jpg 1x, ../../image/gallery/virtual-system-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/virtual-system.jpg"
                             srcset="../../image/gallery/virtual-system-2x.jpg 2x" alt="">
                    </picture>
                </div>
            </div>
        </div>
        <div class="about__success about__success-row">
            <div class="about__success-inner">
                <p class="about__success-number">98%</p>
                <p class="about__success-text">Успешных случаев восстановления данных</p>
            </div>
            <div class="about__success-inner">
                <p class="about__success-number">75 <span>регионов</span></p>
                <p class="about__success-text">Из которых к нам поступали носители на восстановление</p>
            </div>
            <div class="about__success-inner">
                <p class="about__success-number"><span>более </span>15<span> лет</span></p>
                <p class="about__success-text">Опыт специалистов в сфере восстановления данных </p>
            </div>
        </div>
    </div>
</section>
<section class="article">
    <div class="container">
        <h2 class="article__title">Причины неисправности Virtuelle Systeme</h2>
        <div class="article__wrapper  ">
            <article class="article__content article__content--big">
                <p class="article__content-text">Виртуальные машины подвержены ошибкам физических носителей, на которых
                    они размещаются. Кроме того, виртуальные машины могут быть повреждены в результате действий,
                    выполняемых в операционной системе хоста (компьютера, на котором она расположена). В результате
                    данные, хранящиеся на виртуальных машинах, становятся еще более уязвимыми, чем информация,
                    хранящаяся в физической системе. Если данные, хранящиеся внутри виртуальной машины, повреждены,
                    данные в операционной системе хоста (физическом компьютере) не подвержены влиянию всего, что
                    происходит внутри виртуальной машины
                </p>
                <p class="article__content-text">DRK Company успешно работают с любыми типами виртуальных машин:
                    Hyper-V, Fusion Drive, VirtualBox, VMware, и с любыми их проблемами. У нас есть большой опыт и
                    необходимое программное обеспечение. Мы работаем со всеми типами неисправностей: случайное удаление
                    файлов, некорректная установка ОС, другие программные и аппаратные сбои</p>
            </article>
            <div class="article__content article__content--small">
                <ul class="article__content-list">
                    <li class="style-square style-square--top">Случайное удаление данных;</li>
                    <li class="style-square style-square--top">Ошибочное форматирование жесткого диска;</li>
                    <li class="style-square style-square--top">Повреждение файловой системы.</li>
                    <li class="style-square style-square--top">Выход из строя сервера</li>
                    <li class="style-square style-square--top">Выход из строя одного или нескольких жестких дисков</li>
                </ul>
                <p class="article__content-text"> Программное обеспечение виртуализации не предполагает наличие
                    встроенных функций восстановления. В связи с этим, вопрос восстановления данных виртуальной машины
                    становится непростой задачей для пользователя.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="article">
    <div class="container">
        <h2 class="article__title">Как мы восстанавливаем данные виртуальных систем</h2>
        <div class="article__wrapper article__wrapper--revers">
            <article class="article__content article__content--big">
                <p class="article__content-text">При обычном восстановлении данных с файловой системы, находящейся на
                    обычном носителе (например, NTFS на обычном жестком диске) предстоит разобраться с одним аппаратным
                    уровнем проблем (если они есть) и одним уровнем абстракции — файловой системой. Классический же
                    случай восстановления данных при работе с виртуальными машинами — аппаратный уровень и 3 уровня
                    абстракции.
                </p>
                <ul class="article__content-list">
                    <li class="style-circle">Аппаратный уровень — жесткие диски (шпиндели) и их проблемы;</li>
                    <li class="style-circle">Первый уровень абстракции — восстановление RAID массива и его проблемы,
                        особенности;
                    </li>
                    <li class="style-circle">Второй уровень абстракции — файловая система Host (VMFS, NTFS и другое);
                    </li>
                    <li class="style-circle">Третий уровень абстракции — файловая система Guest (любая).</li>
                </ul>
                <p class="article__content-text">Проблемы на каждом предыдущем уровне усложняют работу со следующим и в
                    итоге приводят к экспоненциальному увеличению количества работы и количества особенностей при задаче
                    по восстановлению данных.</p>
                <p class="article__content-text">Бывают и простые ситуации — удаленные файлы внутри полностью работающей
                    виртуальной машины, расположенной на абсолютно исправном носителе. Но наша практика в основном
                    состоит из решения сложных задач — неисправные диски, разрушенные RAID-массивы и прочие повреждения
                    одновременно на всех уровнях хранения данных. </p>
            </article>
            <div class="article__content article__content--small">
                <div class="article__img article__img--small">
                    <picture>
                        <source srcset="../../image/gallery/virtual-system-recovery.webp 1x, ../../image/gallery/virtual-system-recovery-2x.webp 2x"
                                type="image/webp">
                        <source srcset="../../image/gallery/virtual-system-recovery.jpg 1x, ../../image/gallery/virtual-system-recovery-2x.jpg 2x"
                                type="image/jpg">
                        <img src="../../image/gallery/virtual-system-recovery.jpg"
                             srcset="../../image/gallery/virtual-system-recovery-2x.jpg 2x" alt="">
                    </picture>
                </div>
                <p class="article__content-text">Кроме стандартных средств, находящихся в общем доступе, DRK Company
                    располагает набором уникальных разработок, позволяющих производить работы по восстановлению данных с
                    виртуальных машин любых видов: VMWare, Parallels, Fusion Drive, Microsoft Virtual PC, и при
                    использовании любых операционных систем.</p>
            </div>
        </div>
    </div>
</section>
<%- include('templates/banner.ejs') %>
<%- include('templates/faq.ejs') %>
<%- include('templates/footer.ejs') %>
</body>
</html>