<section class="FAQ">
    <div class="container">
        <h2 class="FAQ__title">Часто задаваемые вопросы</h2>
        <div class="FAQ__list">
            <div class="FAQ__item">
                <h3 class="FAQ__item-title">Могу я быть уверен в конфиденциальности моих данных?</h3>
                <div class="FAQ__item-body">
                    <p>Конфиденциальность данных наш самый важный приоритет. Мы несем личную ответственность за каждый
                        заказ, соблюдаем все необходимые меры, чтобы ваши данные не попали в чужие руки. Все данные с
                        поврежденного носителя сохраняются только на сервере, причём не в виде отдельный файлов, а в
                        собственном уникальном формате, к которому никто не имеет доступ. Единственная копия высылается
                        клиенту. Таким образом исключается случай использования ваших данных кем-либо, кроме вас.</p>
                </div>
            </div>
            <div class="FAQ__item">
                <h3 class="FAQ__item-title">Я живу в Швейцарии. Как мне передать вам носитель?</h3>
                <div class="FAQ__item-body">
                    <p>Это не проблема. Мы ежедневно принимаем носители (usb-флешки, карты памяти, SSD-накопители) из
                        разных стран: Австрия, Франция, Бельгия, Чехия, и т.д. В этом случае вы отправляете носитель
                        любой почтовой службой. Обратная отправка носителя за наш счет. Ваша посылка должна быть
                        застрахована. Так мы сможем ее отследить.</p>
                </div>
            </div>
            <div class="FAQ__item">
                <h3 class="FAQ__item-title">Как правильно упаковывать носитель перед отправкой?</h3>
                <div class="FAQ__item-body">
                    <p>
                    <ol>
                        <li>Извлеките носитель информации из устройства (ПК, Ноутбук, и т.д.);</li>
                        <li>Хорошо упакуйте носитель данных: оберните пузырчатой пленкой и положите в прочную коробку.
                            Убедитесь, что носитель информации не двигается в упаковке, используя амортизирующий
                            материал, чтобы избежать повреждений при транспортировке.
                            Небольшие носители (usb-флешки, карты памяти, SSD-накопители) информации можно упаковать с
                            использованием конверта из мягкого картона.
                        </li>
                    </ol>
                    </p>
                </div>
            </div>
            <div class="FAQ__item">
                <h3 class="FAQ__item-title">От чего зависит стоимость восстановления данных?</h3>
                <div class="FAQ__item-body">
                    <p>Стоимость зависит от типа носителя информации, вида повреждений, требуемого способа решения по
                        восстановлению данных, объема памяти и требуемой срочности. Чтобы узнать стоимость позвоните +49
                        (0) 800 409 09 08.</p>
                </div>
            </div>
            <div class="FAQ__item">
                <h3 class="FAQ__item-title">Как я могу убедиться, что работа вами выполнена качественно?</h3>
                <div class="FAQ__item-body">
                    <p>Вы можете ознакомиться с отзывами о нашей работе. Результат качества - это ваши восстановленные
                        файлы. Поэтому оплата только после проверки списка восстановленных файлов.</p>
                </div>
            </div>
        </div>
        <div class="FAQ__more transition-link"><a href="faq.html">Перейти в FAQ</a></div>
    </div>
</section>