<section class="FAQ">
    <div class="container">
        <h2 class="FAQ__title">Frequently asked questions</h2>
        <div class="FAQ__list">
            <div class="FAQ__item">
                <h3 class="FAQ__item-title">Can I be sure of the confidentiality of my data?</h3>
                <div class="FAQ__item-body">
                    <p>Data privacy is our highest priority. We are personally responsible for each order, we comply
                        with all necessary measures so that your data does not fall into the wrong hands. All data from
                        the damaged media is stored only on the server, and not as separate files, but in its own unique
                        format that no one has access to. A single copy is sent to the client. This prevents your data
                        from being used by anyone other than you.</p>
                </div>
            </div>
            <div class="FAQ__item">
                <h3 class="FAQ__item-title">I live in Switzerland. How can I give you the media?</h3>
                <div class="FAQ__item-body">
                    <p>It's not a problem. Every day we accept media (usb flash drives, memory cards, SSD drives) from
                        different countries: Austria, France, Belgium, Czech Republic, etc. In this case, you send the
                        media by any postal service. The return shipping of the carrier is at our expense. Your package
                        must be insured. So we can track her down.</p>
                </div>
            </div>
            <div class="FAQ__item">
                <h3 class="FAQ__item-title">How do I properly package media before shipping?</h3>
                <div class="FAQ__item-body">
                    <p>
                    <ol>
                        <li>Remove the storage medium from the device (PC, Notebook, etc.);</li>
                        <li>Pack the data carrier well: wrap it in bubble wrap and put it in a strong box. Make sure
                            that the media does not move around in the package, using cushioning material to avoid
                            damage during transport. Small media (usb flash drives, memory cards, SSD drives) of
                            information can be packed using a soft cardboard envelope.
                        </li>
                    </ol>
                    </p>
                </div>
            </div>
            <div class="FAQ__item">
                <h3 class="FAQ__item-title">What determines the cost of data recovery?</h3>
                <div class="FAQ__item-body">
                    <p>The cost depends on the type of storage media, the type of damage, the required method of data
                        recovery solution, the amount of memory and the required urgency. To find out the cost, call +49
                        (0) 800 409 09 08.</p>
                </div>
            </div>
            <div class="FAQ__item">
                <h3 class="FAQ__item-title">How can I be sure that the work you have done is of high quality?</h3>
                <div class="FAQ__item-body">
                    <p>You can read reviews about our work. The quality result is your recovered files. Therefore,
                        payment is only after checking the list of recovered files.</p>
                </div>
            </div>
        </div>
        <div class="FAQ__more transition-link"><a href="faq.html">Go to FAQ</a></div>
    </div>
</section>