<footer class="footer">
   <div class="container">
      <div class="footer__content">
         <div class="footer__menu">
            <div class="footer__menu-block">
               <h3 class="footer__menu-title">Hard disks</h3>
               <div class="footer__menu-links">
                  <div class="footer__menu-link"><a href="./HDD.html" title="HDD data recovery">Disk Data Recovery(HDD)</a></div>
                  <div class="footer__menu-link"><a href="./SSD.html" title="SSD data recovery">Disk Data Recovery (SSD)</a></div>
                  <div class="footer__menu-link"><a href="./external-hard-drive.html" title="Recovering data from an external hard drive">Recovering data from an external hard drive</a>
                  </div>
               </div>
            </div>
            <div class="footer__menu-block">
               <h3 class="footer__menu-title">Flash memory</h3>
               <div class="footer__menu-links">
                  <div class="footer__menu-link"><a href="./flash-memory.html" title="Data recovery from flash memory">Data Recovery from Flash Memory</a></div>
                  <div class="footer__menu-link"><a href="./USB-stick.html" title="Data recovery from a flash drive">Data recovery from USB memory</a></div>
                  <div class="footer__menu-link"><a href="./SD-card.html" title="Data recovery SD and microSD cards">Data recovery from SD and MicroSD cards</a></div>
               </div>
            </div>
            <div class="footer__menu-block">
               <h3 class="footer__menu-title">Files</h3>
               <div class="footer__menu-links">
                  <div class="footer__menu-link"><a href="./deleted-files.html" title="Recovering deleted files">Deleted Files</a></div>
               </div>
            </div>
            <div class="footer__menu-block">
               <h3 class="footer__menu-title">System</h3>
               <div class="footer__menu-links">
                  <div class="footer__menu-link"><a href="./notebook.html" title="Laptop data recovery">Laptop data recovery</a></div>
                  <div class="footer__menu-link"><a href="./apple.html" title="Apple/Mac Data Recovery">Apple/Mac Data Recovery</a></div>
                  <div class="footer__menu-link"><a href="./virtually.html" title="Apple/Mac Data Recovery">Virtual systems</a></div>
               </div>
            </div>
            <div class="footer__menu-block">
               <div class="footer__menu-title">Raid/Server</div>
               <div class="footer__menu-links">
                  <div class="footer__menu-link"><a href="./raid.html" title="Raid data recovery">Raid data recovery</a></div>
                  <div class="footer__menu-link"><a href="./NAS.html" title="NAS data recovery">NAS data recovery</a></div>
                  <div class="footer__menu-link"><a href="./server.html" title="Server data recovery">Server data recovery</a></div>
                  <div class="footer__menu-link"><a href="./SAN.html" title="SAN data recovery">SAN data recovery</a></div>
               </div>
            </div>
            <div class="footer__menu-block">
               <div class="footer__menu-title">Information</div>
               <div class="footer__menu-links">
                  <div class="footer__menu-link"><a href="./prices.html" title="Service cost">Prices</a></div>
                  <div class="footer__menu-link"><a href="./stages-work.html" title="Stages of work">Work process</a></div>
                  <div class="footer__menu-link"><a href="./express-servise.html" title="Service “Emergency assistance”">Express Service</a></div>
                  <div class="footer__menu-link"><a href="./company.html" title="Information for companies">Company</a></div>
                  <div class="footer__menu-link"><a href="./private-customers.html" title="Information for private clients">Private clients</a></div>
                  <div class="footer__menu-link"><a href="./about.html" title="Company Information DRK Company">About Us</a></div>
                  <div class="footer__menu-link"><a href="./faq.html" title="Answers to frequently asked questions">FAQ</a></div>
                  <div class="footer__menu-link"><a href="./blog.html" title="DRK Company Blog">Blog</a></div>
                  <div class="footer__menu-link"><a href="./contact.html" title="Contacts of DRK Company">Contact</a></div>
               </div>
            </div>
         </div>
         <div class="footer__contact">
            <div class="footer__contact-info">
               <div class="footer__logo">
                  <img src="../../image/logo-white.svg" alt="logo">
               </div>
               <div class="footer__block-tel">
                  <a href="tel:+4908004090908" id="telephone">+49 (0) 800 409 09 08</a>
               </div>
               <div class="footer__block-email">
                  <a href="mailto:info@datenrettungsklinik.de" id="email">info@datenrettungsklinik.de</a>
               </div>
               <div class="footer__btn btn--inline btn">
                  <a href="./restore-data.html" title="Data recovery order form">Data recovery</a>
               </div>
            </div>
            <div class="footer__contact-links">
               <div class="footer__menu-link"><a href="./imprint.html" title="general information">general information</a></div>
               <div class="footer__menu-link"><a href="./conditions.html" title="Conditions">Conditions</a></div>
               <div class="footer__menu-link"><a href="./refuse.html" title="Right of withdrawal">Right of withdrawal</a></div>
               <div class="footer__menu-link"><a href="./refusal-form.html" title="Form for refusal">Refusal form</a></div>
               <div class="footer__menu-link"><a href="./data-protection.html" title="Data protection policy">Data protection</a></div>
            </div>
         </div>
      </div>
      <div class="footer__social">
         <a href="https://www.facebook.com/" title="website: facebook.com" class="footer__social-link">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
               <path d="M20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10Z" fill="#020202"></path>
               <path d="M10.001 0.00200009C4.479 0.00200009 0.00200009 4.479 0.00200009 10.001C0.00200009 14.991 3.658 19.127 8.439 19.88V12.892H5.899V10.001H8.439V7.798C8.439 5.29 9.932 3.907 12.215 3.907C13.309 3.907 14.455 4.102 14.455 4.102V6.561H13.191C11.951 6.561 11.563 7.333 11.563 8.124V9.999H14.334L13.891 12.89H11.563V19.878C16.344 19.129 20 14.992 20 10.001C20 4.479 15.523 0.00200009 10.001 0.00200009Z" fill="white"></path>
            </svg>
         </a>
         <a href="https://www.instagram.com/" title="website: instagram.com" class="footer__social-link">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
               <path d="M20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10Z" fill="white"></path>
               <path d="M10 5C11.3585 5 11.528 5.005 12.061 5.03C12.5935 5.055 12.956 5.1385 13.275 5.2625C13.605 5.3895 13.883 5.5615 14.161 5.839C14.4152 6.08895 14.612 6.39129 14.7375 6.725C14.861 7.0435 14.945 7.4065 14.97 7.939C14.9935 8.472 15 8.6415 15 10C15 11.3585 14.995 11.528 14.97 12.061C14.945 12.5935 14.861 12.956 14.7375 13.275C14.6123 13.6089 14.4156 13.9113 14.161 14.161C13.911 14.4152 13.6087 14.6119 13.275 14.7375C12.9565 14.861 12.5935 14.945 12.061 14.97C11.528 14.9935 11.3585 15 10 15C8.6415 15 8.472 14.995 7.939 14.97C7.4065 14.945 7.044 14.861 6.725 14.7375C6.39116 14.6122 6.08876 14.4155 5.839 14.161C5.5847 13.9111 5.38797 13.6087 5.2625 13.275C5.1385 12.9565 5.055 12.5935 5.03 12.061C5.0065 11.528 5 11.3585 5 10C5 8.6415 5.005 8.472 5.03 7.939C5.055 7.406 5.1385 7.044 5.2625 6.725C5.38762 6.39109 5.5844 6.08866 5.839 5.839C6.08884 5.58462 6.39121 5.38786 6.725 5.2625C7.044 5.1385 7.406 5.055 7.939 5.03C8.472 5.0065 8.6415 5 10 5ZM10 7.5C9.33696 7.5 8.70107 7.76339 8.23223 8.23223C7.76339 8.70107 7.5 9.33696 7.5 10C7.5 10.663 7.76339 11.2989 8.23223 11.7678C8.70107 12.2366 9.33696 12.5 10 12.5C10.663 12.5 11.2989 12.2366 11.7678 11.7678C12.2366 11.2989 12.5 10.663 12.5 10C12.5 9.33696 12.2366 8.70107 11.7678 8.23223C11.2989 7.76339 10.663 7.5 10 7.5ZM13.25 7.375C13.25 7.20924 13.1842 7.05027 13.0669 6.93306C12.9497 6.81585 12.7908 6.75 12.625 6.75C12.4592 6.75 12.3003 6.81585 12.1831 6.93306C12.0658 7.05027 12 7.20924 12 7.375C12 7.54076 12.0658 7.69973 12.1831 7.81694C12.3003 7.93415 12.4592 8 12.625 8C12.7908 8 12.9497 7.93415 13.0669 7.81694C13.1842 7.69973 13.25 7.54076 13.25 7.375ZM10 8.5C10.3978 8.5 10.7794 8.65804 11.0607 8.93934C11.342 9.22064 11.5 9.60217 11.5 10C11.5 10.3978 11.342 10.7794 11.0607 11.0607C10.7794 11.342 10.3978 11.5 10 11.5C9.60217 11.5 9.22064 11.342 8.93934 11.0607C8.65804 10.7794 8.5 10.3978 8.5 10C8.5 9.60217 8.65804 9.22064 8.93934 8.93934C9.22064 8.65804 9.60217 8.5 10 8.5Z" fill="black"></path>
            </svg>
         </a>
         <a href="https://www.linkedin.com/" title="website: linkedin.com" class="footer__social-link">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
               <path d="M20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10Z" fill="white"></path>
               <path d="M15 11.13V14.827H12.857V11.377C12.857 10.511 12.547 9.92 11.771 9.92C11.179 9.92 10.826 10.318 10.671 10.704C10.615 10.842 10.6 11.034 10.6 11.226V14.827H8.456C8.456 14.827 8.485 8.985 8.456 8.38H10.6V9.293L10.586 9.314H10.6V9.293C10.885 8.853 11.393 8.228 12.532 8.228C13.942 8.228 15 9.15 15 11.13ZM6.213 5.271C5.48 5.271 5 5.753 5 6.385C5 7.005 5.466 7.5 6.185 7.5H6.199C6.947 7.5 7.412 7.004 7.412 6.385C7.398 5.753 6.947 5.271 6.213 5.271ZM5.127 14.827H7.271V8.38H5.127V14.827Z" fill="black"></path>
            </svg>
         </a>
      </div>
      <p class="footer__copyright">Copyright © 2015 - 2022 Data recovery service. </p>
   </div>

</footer>