<div class="form__box">
    <div class="form__card">
        <p class="form__prompt">Fill out the form and we will contact you to examine your media</p>

        <form class="form__body form__private open" id="form-private">
            <div class="form__title-wrapper">
                <div class="form__title title-private active" data-profile="private">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.00008 19L4.97453 19.2246L4.00008 19ZM20.0001 19L19.0256 19.2246L20.0001 19ZM4.97453 19.2246C5.58013 16.5976 8.01633 15 12.0001 15V13C7.53935 13 3.9278 14.8619 3.02564 18.7754L4.97453 19.2246ZM12.0001 15C15.9838 15 18.42 16.5976 19.0256 19.2246L20.9745 18.7754C20.0724 14.8619 16.4608 13 12.0001 13V15ZM19.0256 19.2246C19.0525 19.3413 19.0002 19.2403 19.0981 19.0827C19.1898 18.9352 19.3005 18.9221 19.2254 18.9442C19.1503 18.9663 19.0112 18.987 18.7761 18.9958C18.5424 19.0045 18.3008 19 18.0001 19V21C18.2516 21 18.5673 21.005 18.8508 20.9944C19.1331 20.9839 19.4715 20.9564 19.7893 20.8631C20.1072 20.7697 20.5263 20.5739 20.7971 20.138C21.0741 19.692 21.0717 19.1969 20.9745 18.7754L19.0256 19.2246ZM3.02564 18.7754C2.92848 19.1969 2.92606 19.692 3.20312 20.138C3.47389 20.5739 3.89302 20.7697 4.21092 20.8631C4.52871 20.9564 4.86708 20.9839 5.14938 20.9944C5.43291 21.005 5.74855 21 6.00009 21V19C5.69934 19 5.45781 19.0045 5.22403 18.9958C4.989 18.987 4.84989 18.9663 4.77473 18.9442C4.69969 18.9221 4.81041 18.9352 4.90203 19.0827C4.99994 19.2403 4.94763 19.3413 4.97453 19.2246L3.02564 18.7754ZM14.0001 7C14.0001 8.10457 13.1047 9 12.0001 9V11C14.2092 11 16.0001 9.20914 16.0001 7H14.0001ZM12.0001 9C10.8955 9 10.0001 8.10457 10.0001 7H8.00008C8.00008 9.20914 9.79095 11 12.0001 11V9ZM10.0001 7C10.0001 5.89543 10.8955 5 12.0001 5V3C9.79095 3 8.00008 4.79086 8.00008 7H10.0001ZM12.0001 5C13.1047 5 14.0001 5.89543 14.0001 7H16.0001C16.0001 4.79086 14.2092 3 12.0001 3V5ZM6.00009 21H18.0001V19H6.00009V21Z"
                              fill="black"></path>
                    </svg>
                    <p>Private person</p>
                </div>
                <div class="form__title title-firma" data-profile="firma">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 21H11V22H12V21ZM14 4H19V2H14V4ZM20 5V19H22V5H20ZM19 20H12V22H19V20ZM13 21V5H11V21H13ZM20 19C20 19.5523 19.5523 20 19 20V22C20.6569 22 22 20.6569 22 19H20ZM19 4C19.5523 4 20 4.44772 20 5H22C22 3.34315 20.6569 2 19 2V4ZM14 2C12.3431 2 11 3.34315 11 5H13C13 4.44772 13.4477 4 14 4V2Z"
                              fill="black"></path>
                        <path d="M3 10C3 8.89543 3.89543 8 5 8H12V21H5C3.89543 21 3 20.1046 3 19V10Z"
                              stroke="black" stroke-width="2"></path>
                        <path d="M16 7H17" stroke="black" stroke-width="2" stroke-linecap="round"></path>
                        <path d="M16 12H17" stroke="black" stroke-width="2" stroke-linecap="round"></path>
                        <path d="M7 12H8" stroke="black" stroke-width="2" stroke-linecap="round"></path>
                        <path d="M16 17H17" stroke="black" stroke-width="2" stroke-linecap="round"></path>
                        <path d="M7 17H8" stroke="black" stroke-width="2" stroke-linecap="round"></path>
                    </svg>
                    <p>Firm</p>
                </div>
            </div>
            <select class="form__input form__select" data-type="selected" name="selectDisks" title="Carrier">
                <option value="none" selected="selected" disabled="disabled" style="display: none;">
                    Carrier
                </option>
                <option value="FestplatteHDD">Hard Disk Drive (HDD)</option>
                <option value="FestplatteSSD">hard drive (SSD)</option>
                <option value="ExterneFestplatte">External hard drive</option>
                <option value="FlashSpeicher">Flash memory</option>
                <option value="USBStick">USB-Stick</option>
                <option value="SDKarte">SD-Carte</option>
                <option value="NotebookLaptop ">Notebook/Laptop</option>
                <option value="VirtuelleSysteme">virtual systems</option>
                <option value="Raid">Raid</option>
                <option value="NAS">IN THE</option>
                <option value="Server">Server</option>
                <option value="San">San</option>
                <option value="Other">Other</option>
            </select>
            <input class="form__input input-name" data-type="name" type="text" placeholder="your name" name="clientName">
            <input class="form__input input-name hidden" data-firm="true" data-type="name" type="text"
                   placeholder="Name of the organization" disabled="disabled" name="firmName">
            <input class="form__input input-phone" data-type="client-phone" type="text" placeholder="Phone number" name="phone">
            <input class="form__input input-email" data-type="client-email" type="email" placeholder="E-mail" name="email">
            <label class="form__input-privacy">
                <input class="input-privacy" data-type="marked" type="checkbox"  name="privacy">
                <p>I agree with the privacy policy.</p>
            </label>
            <input class="form__submit btn" id="submit-private" type="submit" value="Get diagnostics">
        </form>
    </div>
</div>